Repository cerner/terra-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mjhenkes, @ryanthemanuel, @tbiethman, @benbcai, @BenBoersma, @jmsv6d

.github/CODEOWNERS:

# Set default code owners for all files in repo
* @mjhenkes @ryanthemanuel @tbiethman
terra-date-picker/ @benbcai @mjhenkes @ryanthemanuel @tbiethman
terra-date-time-picker/ @benbcai @mjhenkes @ryanthemanuel @tbiethman
terra-time-input/ @benbcai @mjhenkes @ryanthemanuel @tbiethman
terra-form-validation/ @BenBoersma @mjhenkes @ryanthemanuel @tbiethman
terra-menu/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman
terra-collapsible-menu/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman
terra-tabs/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman

[terra-notification-dialog] Correct upgrade guide (#1431)
  CONTRIBUTORS.md
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/src/terra-dev-site/doc/notification-dialog/UpgradeGuide.2.doc.mdx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Create terra-framework-docs, migrate terra-aggregator over
  package.json
  packages/terra-aggregator/package.json
  packages/terra-aggregator/tests/wdio/aggregator-spec.js
  packages/terra-framework-docs/.npmrc
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/LICENSE
  packages/terra-framework-docs/NOTICE
  packages/terra-framework-docs/README.md
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/Aggregator.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/ChangeLog.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/AggregatorContainer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/AggregatorItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/AggregatorItem.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/DisclosureComponent.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/ModalAggregator.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/SimpleAggregatorItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/example-styles.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/placeholder-list/PlaceholderList.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/placeholder-list/PlaceholderList.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/placeholder-list/PlaceholderListItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/AggregatorInModalExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/CombinedDisclosureExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/CustomRenderAggregatorExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/DisclosureBypassExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/StandaloneAggregatorExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/AggregatorStandalone.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/AggregatorWithDisclosure.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/AggregatorWithDisclosure.test.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/common/AggregatorItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/common/DisclosureComponent.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/common/DisclosureComponent.module.scss
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

update readme
  packages/terra-framework-docs/README.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

change log
  packages/terra-aggregator/CHANGELOG.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Keep private till we're ready to release
  lerna.json
  packages/terra-framework-docs/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

update failing jest snapshots due to changes from terra-core
  packages/terra-date-input/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @benbcai

change lots
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-time-input/CHANGELOG.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @benbcai

Update packages/terra-framework-docs/package.json
  packages/terra-framework-docs/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Release July 20, 2021
  lerna.json
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @benbcai, @BenBoersma

Release July 20, 2021 (#1435)
  lerna.json
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @benbcai, @BenBoersma

initial commit
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/LICENSE
  packages/terra-pills/NOTICE
  packages/terra-pills/README.md
  packages/terra-pills/package.json
  packages/terra-pills/src/Pills.jsx
  packages/terra-pills/src/Private/Pill.module.scss
  packages/terra-pills/src/Private/_Pill.jsx
  packages/terra-pills/src/SelectablePills.jsx
  packages/terra-pills/src/clinical-lowlight-theme/Pill.module.scss
  packages/terra-pills/src/index.js
  packages/terra-pills/src/orion-fusion-theme/Pill.module.scss
  packages/terra-pills/src/terra-dev-site/test/Pills/PillTestCommon.module.scss
  packages/terra-pills/src/terra-dev-site/test/Pills/Pills/BasicPill.test.jsx
  packages/terra-pills/src/terra-dev-site/test/Pills/Pills/BasicRemovablePill.test.jsx
  packages/terra-pills/src/terra-dev-site/test/Pills/SelectablePills/SelectablePill.test.jsx
  packages/terra-pills/translations/de.json
  packages/terra-pills/translations/en-AU.json
  packages/terra-pills/translations/en-CA.json
  packages/terra-pills/translations/en-GB.json
  packages/terra-pills/translations/en-US.json
  packages/terra-pills/translations/en.json
  packages/terra-pills/translations/es-ES.json
  packages/terra-pills/translations/es-US.json
  packages/terra-pills/translations/es.json
  packages/terra-pills/translations/fi-FI.json
  packages/terra-pills/translations/fr-FR.json
  packages/terra-pills/translations/fr.json
  packages/terra-pills/translations/nl-BE.json
  packages/terra-pills/translations/nl.json
  packages/terra-pills/translations/pt-BR.json
  packages/terra-pills/translations/pt.json
  packages/terra-pills/translations/sv-SE.json
  packages/terra-pills/translations/sv.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

remove unfinished code
  packages/terra-pills/src/Pills.jsx
  packages/terra-pills/src/terra-dev-site/test/Pills/SelectablePills/SelectablePill.test.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

move tests to framework-docs
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/BasicPill.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/BasicRemovablePill.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/SelectablePills/SelectablePill.test.jsx
  packages/terra-pills/src/terra-dev-site/test/Pills/PillTestCommon.module.scss
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Update packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/CHANGELOG.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

update snapshots
  packages/terra-date-input/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @benbcai

change log
  packages/terra-time-input/CHANGELOG.md
Owners: @benbcai, @mjhenkes, @ryanthemanuel, @tbiethman

whoops, wrong urls
  packages/terra-modal-manager/tests/wdio/modal-manager-spec.js
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Don't reference src
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/modal-manager/ModalManagerWithHeaderAdapter.test.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Update packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/CHANGELOG.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

[terra-framework-docs] Don't reference src in tests. (#1439)
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/modal-manager/ModalManagerWithHeaderAdapter.test.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Release July 23, 2021
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Release July 23, 2021 (#1440)
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

introduced new api changes
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/pills/PillListTestCommon.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/CollapsiblePills.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/PillsTruncatedText.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/RemovablePill.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/SinglePill.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/SinglePillTruncatedLabel.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/SelectablePills/CollapsibleSelectablePills.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/SelectablePills/SelectableAndRemovablePill.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/SelectablePills/SingleSelectablePill.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/SelectablePills/SingleSelectablePillTruncatedText.test.jsx
  packages/terra-pills/src/Pills.jsx
  packages/terra-pills/src/Private/Pill.module.scss
  packages/terra-pills/src/Private/RollUpUtils.js
  packages/terra-pills/src/Private/_Pill.jsx
  packages/terra-pills/src/Private/_RollupPill.jsx
  packages/terra-pills/src/SelectablePills.jsx
  packages/terra-pills/src/clinical-lowlight-theme/Pill.module.scss
  packages/terra-pills/src/orion-fusion-theme/Pill.module.scss
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

doc fix
  packages/terra-pills/LICENSE
  packages/terra-pills/README.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

add translations
  packages/terra-pills/translations/de.json
  packages/terra-pills/translations/es-ES.json
  packages/terra-pills/translations/es-US.json
  packages/terra-pills/translations/es.json
  packages/terra-pills/translations/fr-FR.json
  packages/terra-pills/translations/fr.json
  packages/terra-pills/translations/nl-BE.json
  packages/terra-pills/translations/nl.json
  packages/terra-pills/translations/pt-BR.json
  packages/terra-pills/translations/pt.json
  packages/terra-pills/translations/sv-SE.json
  packages/terra-pills/translations/sv.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

exposing new props
  packages/terra-collapsible-menu-view/package.json
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.module.scss
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItem.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItemGroup.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/example/AlwaysCollapsedMenuItemsDemo.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/PrePopulatedCollapsedMenuItems.test.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Fix
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/src/DateInput.jsx
  packages/terra-date-input/tests/jest/__snapshots__/DateInput.test.jsx.snap
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

adding examples
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/CollapsibleMenuView.1.doc.mdx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/example/AlwaysCollapsedMenuItemsDemo.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/example/CollapsibleMenuViewAlignment.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/example/CollapsibleMenuViewCustomIcon.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/example/CollapsibleMenuViewDifferentVariants.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

Update CHANGELOG.md
  packages/terra-collapsible-menu-view/CHANGELOG.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

fixing examples and combine into 1
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/CollapsibleMenuView.1.doc.mdx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/example/CollapsibleMenuViewAdditoinalStyling.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/example/CollapsibleMenuViewAlignment.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/example/CollapsibleMenuViewDifferentVariants.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

fix truncation for basic pill, fix focus issues after deletion
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/CollapsiblePills.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/PillsTruncatedText.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/RemovablePill.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/SelectablePills/CollapsibleSelectablePills.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/SelectablePills/SelectableAndRemovablePill.test.jsx
  packages/terra-pills/package.json
  packages/terra-pills/src/Pills.jsx
  packages/terra-pills/src/Private/PillsUtils.js
  packages/terra-pills/src/Private/RollUpUtils.js
  packages/terra-pills/src/Private/_Pill.jsx
  packages/terra-pills/src/SelectablePills.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

fix initial focus on container
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/SinglePillTruncatedLabel.test.jsx
  packages/terra-pills/src/Pills.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

fixing lint issue
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

fixing tests
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/PrePopulatedCollapsedMenuItems.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItem.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItemGroup.test.jsx.snap
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

change prop isCollapsed to isSingleLine
  packages/terra-framework-docs/src/terra-dev-site/test/pills/Pills/CollapsiblePills.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/pills/SelectablePills/CollapsibleSelectablePills.test.jsx
  packages/terra-pills/src/Pills.jsx
  packages/terra-pills/src/Private/_RollupPill.jsx
  packages/terra-pills/src/SelectablePills.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

upgraded to functional testing v2
  package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

rename Private folder, update imports, add jest for _pill and _rolluppill, address review comments
  packages/terra-pills/src/Pills.jsx
  packages/terra-pills/src/Private/PillsUtils.js
  packages/terra-pills/src/Private/_Pill.jsx
  packages/terra-pills/src/SelectablePills.jsx
  packages/terra-pills/tests/jest/Pill.test.jsx
  packages/terra-pills/tests/jest/RollupPill.test.jsx
  packages/terra-pills/tests/jest/__snapshots__/Pill.test.jsx.snap
  packages/terra-pills/tests/jest/__snapshots__/RollupPill.test.jsx.snap
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

rename private to temp
  packages/terra-pills/src/temp/Pill.module.scss
  packages/terra-pills/src/temp/PillsUtils.js
  packages/terra-pills/src/temp/_Pill.jsx
  packages/terra-pills/src/temp/_RollupPill.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman

rename temp to private
  packages/terra-pills/src/private/Pill.module.scss
  packages/terra-pills/src/private/PillsUtils.js
  packages/terra-pills/src/private/_Pill.jsx
  packages/terra-pills/src/private/_RollupPill.jsx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman
