Repository cerner/terra-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken, @benbcai, @BenBoersma, @jmsv6d

.github/CODEOWNERS:

# Set default code owners for all files in repo
* @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-date-picker/ @benbcai @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-date-time-picker/ @benbcai @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-time-input/ @benbcai @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-form-validation/ @BenBoersma @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-menu/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-collapsible-menu/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-tabs/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken

removing references to minimize and maximize in docs
  packages/terra-modal-manager/src/terra-dev-site/doc/modal-manager/About.1.doc.mdx
  packages/terra-slide-panel-manager/src/terra-dev-site/doc/slide-panel-manager/SlidePanelManager.1.doc.mdx
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken

Fix
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/day.jsx
Owners: @benbcai, @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken

updating changelog
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/CHANGELOG.md
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken

[terra-application-navigation] Add z-index to drawer avatar (#1406)
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/drawer-menu/DrawerMenuUser.module.scss
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken

[terra-date-picker] Fix focus trap issue for mobile view. (#1403)
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerCalendarDisable.test.jsx
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/date-picker-spec/disabled_date_picker.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-picker-spec/disabled_date_picker.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/date-picker-spec/disabled_date_picker.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-picker-spec/disabled_date_picker.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/date-picker-spec/disabled_date_picker.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/date-picker-spec/disabled_date_picker.png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Owners: @benbcai, @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken

Publish on 5-4-2021
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken, @benbcai, @BenBoersma, @jmsv6d

Publish on 5-4-2021 (#1411)
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken, @benbcai, @BenBoersma, @jmsv6d

Upgrade
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-input/src/DateInput.jsx
  packages/terra-date-input/src/DateInputUtil.js
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Owners: @mjhenkes, @ryanthemanuel, @tbiethman, @dkasper-was-taken, @benbcai, @jmsv6d
