Repository cerner/terra-framework, pull requests merged in 2018-09, with the labels that each got.

#253 React minimum peer dependency update
  package.json
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-app-delegate/CHANGELOG.md
  packages/terra-app-delegate/package.json
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-menu-layout/CHANGELOG.md
  packages/terra-application-menu-layout/package.json
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/package.json
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/package.json
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/package.json
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-theme-provider/CHANGELOG.md
  packages/terra-theme-provider/package.json
Labels: dependency-update

#252 Add main container to layout
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/src/LayoutSlidePanel.module.scss
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
Labels: accessibility, layout

#256 Fix hookshot coordinate example.
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/terra-dev-site/doc/example/CoordsHookshotExample.jsx
Labels: bug, docs, hookshot

#269 Removed duplicate terra-base dependencies
  CONTRIBUTORS.md
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
Labels: tech-only
