Repository cerner/terra-framework, pull requests merged in 2018-03, with the labels that each got.

#82 Add webdriver.io tests for terra-application-header-layout
  CONTRIBUTORS.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-header-layout/tests/nightwatch/application-header-spec.js
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header[default].470x768.png
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header[default].838x768.png
  packages/terra-application-header-layout/tests/wdio/application-header-spec.js
Labels: Needs Orion Requirements, Orion Reviewed, Small, application-header-layout, testing

#84 Add webdriver.io tests for terra-application-menu-layout
  packages/terra-application-menu-layout/package.json
  packages/terra-application-menu-layout/tests/nightwatch/application-menu-spec.js
  packages/terra-application-menu-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu[default].470x768.png
  packages/terra-application-menu-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu[default].838x768.png
  packages/terra-application-menu-layout/tests/wdio/application-menu-spec.js
Labels: Small, application-menu-layout, testing

#104 Latest Site
  package.json
Labels: Small

#105 Remove embedded component placeholder
  generatedComponentConfig.js
  lerna.json
  packages/terra-embedded-component/.npmignore
  packages/terra-embedded-component/.npmrc
  packages/terra-embedded-component/CHANGELOG.md
  packages/terra-embedded-component/LICENSE
  packages/terra-embedded-component/NOTICE
  packages/terra-embedded-component/README.md
  packages/terra-embedded-component/docs/DEPENDENCIES.md
  packages/terra-embedded-component/docs/README.md
  packages/terra-embedded-component/examples/Index.site-page.jsx
  packages/terra-embedded-component/examples/test-examples/DefaultEmbeddedComponent.jsx
  packages/terra-embedded-component/package.json
  packages/terra-embedded-component/src/EmbeddedComponent.jsx
  packages/terra-embedded-component/src/EmbeddedComponent.scss
  packages/terra-embedded-component/tests/jest/EmbeddedComponent.test.jsx
  packages/terra-embedded-component/tests/jest/__snapshots__/EmbeddedComponent.test.jsx.snap
  packages/terra-embedded-component/tests/nightwatch/embedded-component-spec.js
Labels: Small

#99 Updating NavigationLayout with additional navigation APIs
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/docs/README.md
  packages/terra-navigation-layout/src/RoutingStack.jsx
  packages/terra-navigation-layout/src/RoutingStackDelegate.js
  packages/terra-navigation-layout/src/routingUtils.js
  packages/terra-navigation-layout/tests/jest/RoutingStack.test.jsx
  packages/terra-navigation-layout/tests/jest/RoutingStackDelegate.test.jsx
  packages/terra-navigation-layout/tests/jest/__snapshots__/NavigationLayout.test.jsx.snap
  packages/terra-navigation-layout/tests/jest/routingUtils.test.jsx
Labels: navigation-layout, tech-only

#106 Remove props-table Scripts
  package.json
  packages/terra-aggregator/package.json
  packages/terra-application-header-layout/package.json
  packages/terra-application-links/package.json
  packages/terra-application-menu-layout/package.json
  packages/terra-application-name/package.json
  packages/terra-application-utility/package.json
  packages/terra-disclosure-manager/package.json
  packages/terra-layout/package.json
  packages/terra-modal-manager/package.json
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-side-menu/package.json
  packages/terra-slide-panel-manager/package.json
  packages/terra-theme-provider/package.json
Labels: Small, tech-only

#107 Fix i18n Plugin
  package.json
  webpack.config.js
  webpack.prod.config.js
Labels: tech-only

#94 Add webdriver.io tests fro terra-navigation-layout and remove nightwatch dependency.
  nightwatch.conf.js
  package.json
  packages/terra-application-utility/package.json
  packages/terra-application-utility/tests/nightwatch/application-utility-spec.js
  packages/terra-layout/package.json
  packages/terra-layout/tests/nightwatch/layout-spec.js
  packages/terra-modal-manager/package.json
  packages/terra-modal-manager/tests/nightwatch/modal-manager-spec.js
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-layout/tests/nightwatch/navigation-layout-spec.js
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_basic_NavigationLayout[default].1000x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_basic_NavigationLayout[default].1300x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_basic_NavigationLayout[default].470x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_basic_NavigationLayout[default].622x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_basic_NavigationLayout[default].838x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_1[default].1000x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_1[default].1300x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_1[default].470x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_1[default].622x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_1[default].838x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_2[default].1000x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_2[default].1300x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_2[default].470x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_2[default].622x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_2[default].838x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_3[default].1000x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_3[default].1300x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_3[default].470x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_3[default].622x768.png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_complex_NavigationLayout_-_page_3[default].838x768.png
  packages/terra-navigation-layout/tests/wdio/navigation-layout-spec.js
Labels: Small, application-utility, embedded-component, layout, modal-manager, navigation-layout, testing

#101 NavigationSideMenu focus styles
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/MenuItem.scss
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/NavigationSideMenu.scss
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[#test-menu].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-color].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-padding-bottom].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-padding-left].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-padding-right].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-padding-top].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-size].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Hover_navigation_side_menu_display[#test-menu].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Hover_navigation_side_menu_display[--terra-navigation-side-menu-item-background-hover].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Hover_navigation_side_menu_display[--terra-navigation-side-menu-item-hover-background-color].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[#test-menu].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[--terra-navigation-side-menu-item-selected-background-color].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[--terra-navigation-side-menu-item-selected-background-image].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[--terra-navigation-side-menu-item-selected-border-left].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[--terra-navigation-side-menu-item-selected-padding-left].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/isRootMenu_navigation_side_menu_display[#test-menu].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: Small, enhancement, navigation-side-menu

#108 Add missing npmrc files to the 5 packages missing them.
  packages/terra-aggregator/.npmrc
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/Standalone[default].1000x768.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/With_Disclosure_-_Close_from_focus_release[default].1000x768.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/With_Disclosure_-_Open[default].1000x768.png
  packages/terra-application-header-layout/.npmrc
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-menu-layout/.npmrc
  packages/terra-application-menu-layout/CHANGELOG.md
  packages/terra-layout/.npmrc
  packages/terra-layout/CHANGELOG.md
  packages/terra-navigation-layout/.npmrc
  packages/terra-navigation-layout/CHANGELOG.md
Labels: Small, aggregator, application-header-layout, application-menu-layout, layout, navigation-layout, tech-only

#110 Update snapshots tests to match new default pattern updated by enzyme.
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/tests/jest/__snapshots__/Layout.test.jsx.snap
Labels: Small, layout, tech-only, testing

#113 Use the new express dev server service for wdio testing.
  .travis.yml
  package.json
  wdio.conf.js
Labels: Small, tech-only, testing

#118 Correct disclosure manager documentation
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/docs/README.md
Labels: Small, disclosure-manager, tech-only

#119 Update Utility translations, documentation, and menu item focus tests.
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/docs/README.md
  packages/terra-application-utility/src/ApplicationHeaderUtility.jsx
  packages/terra-application-utility/src/ApplicationMenuUtility.jsx
  packages/terra-application-utility/src/utility/_UtilityButton.jsx
  packages/terra-application-utility/src/utility/_UtilityButton.scss
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/chrome/Focus:_application_menu_utility[--terra-application-menu-utility-focus-box-shadow].838x768.png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/chrome/Focus:_application_menu_utility[default].470x768.png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/chrome/Focus:_application_menu_utility[default].838x768.png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/chrome/Focus:_header_utility_menu[--terra-application-header-utility-menu-body-item-focus-box-shadow].1050x895.png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/chrome/Focus:_header_utility_menu[default].1050x895.png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/chrome/Focus:_menu_utility_menu[--terra-application-menu-utility-menu-body-item-focus-box-shadow].1050x895.png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/chrome/Focus:_menu_utility_menu[default].1050x895.png
  packages/terra-application-utility/tests/wdio/header-utility-menu-spec.js
  packages/terra-application-utility/tests/wdio/menu-utility-menu-spec.js
  packages/terra-application-utility/translations/ar.json
  packages/terra-application-utility/translations/de.json
  packages/terra-application-utility/translations/en-GB.json
  packages/terra-application-utility/translations/en-US.json
  packages/terra-application-utility/translations/en.json
  packages/terra-application-utility/translations/es-ES.json
  packages/terra-application-utility/translations/es-US.json
  packages/terra-application-utility/translations/es.json
  packages/terra-application-utility/translations/fr-FR.json
  packages/terra-application-utility/translations/fr.json
  packages/terra-application-utility/translations/pt-BR.json
  packages/terra-application-utility/translations/pt.json
Labels: application-header-utility, application-menu-utility, application-utility

#109 Create Terra Infinite List
  generatedComponentConfig.js
  packages/terra-infinite-list/.npmignore
  packages/terra-infinite-list/.npmrc
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/LICENSE
  packages/terra-infinite-list/NOTICE
  packages/terra-infinite-list/README.md
  packages/terra-infinite-list/docs/README.md
  packages/terra-infinite-list/examples/Index.site-page.jsx
  packages/terra-infinite-list/examples/index-examples/InfiniteListExample.jsx
  packages/terra-infinite-list/examples/index-examples/InfiniteListExample.scss
  packages/terra-infinite-list/examples/test-examples/InfiniteListLoading.example.jsx
  packages/terra-infinite-list/examples/test-examples/InfiniteListSelection.example.jsx
  packages/terra-infinite-list/examples/test-examples/InfiniteListUpdating.example.jsx
  packages/terra-infinite-list/examples/test-examples/InfiniteListVirtual.example.jsx
  packages/terra-infinite-list/package.json
  packages/terra-infinite-list/src/InfiniteList.jsx
  packages/terra-infinite-list/src/InfiniteList.scss
  packages/terra-infinite-list/src/_InfiniteUtils.js
  packages/terra-infinite-list/tests/jest/InfiniteList.test.jsx
  packages/terra-infinite-list/tests/jest/__snapshots__/InfiniteList.test.jsx.snap
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_with_loading_indicator[default].622x768.png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_with_selection[default].622x768.png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_with_updating_indicator[default].622x768.png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_with_virtual_dom_from_bottom[#test-infinite-list].622x768.png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_with_virtual_dom_from_top[default].622x768.png
  packages/terra-infinite-list/tests/wdio/infinite-list-spec.js
Labels: Large, infinite-list, new feature

#122 Remove ApplicationUtility internally managed selection state.
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
  packages/terra-application-utility/src/utility/_UtilityMenuItem.jsx
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_with_virtual_dom_from_bottom[default].622x768.png
  packages/terra-infinite-list/tests/wdio/infinite-list-spec.js
Labels: Small, application-utility, tech-only

#127 Upgrade to new terra-dev-site
  package.json
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_layout[default].1000x768.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/chrome/Navigates_with_top_navigation_tabs[default].1300x768.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/chrome/Presents_utility_menu_from_header_when_large[default].1000x768.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/chrome/Presents_utility_menu_from_menu_when_small[default].622x768.png
  packages/terra-application-layout/tests/wdio/application-layout-spec.js
  site.config.js
  themeable-variables.json
Labels: Small, tech-only

#131 Migrate terra slide panel
  generatedComponentConfig.js
  packages/terra-slide-panel/.npmignore
  packages/terra-slide-panel/.npmrc
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/LICENSE
  packages/terra-slide-panel/NOTICE
  packages/terra-slide-panel/README.md
  packages/terra-slide-panel/docs/DEPENDENCIES.md
  packages/terra-slide-panel/docs/README.md
  packages/terra-slide-panel/examples/Index.site-page.jsx
  packages/terra-slide-panel/examples/index-examples/DefaultSlidePanel.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelEnd.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelFill.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelFullscreen.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelLarge.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelMainContent.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelNoFill.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelOverlay.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelPanelContent.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelSmall.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelSquish.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelSquishLarge.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelStart.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelToggle.example.jsx
  packages/terra-slide-panel/package.json
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/SlidePanel.scss
  packages/terra-slide-panel/tests/jest/SlidePanel.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Large_size_squished_slide_panel[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_end[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_fill[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_fullscreen[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_large[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_no_fill[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_overlay[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_small[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_squish[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_start[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_theming[--terra-slide-panel-panel-border-color].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_theming[--terra-slide-panel-panel-width-large-scalar].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_theming[--terra-slide-panel-panel-width-small].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Slide_panel_theming[--terra-slide-panel-shadow-color].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_and_hidden_styles[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_click[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_double_click[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
  wdio.conf.js
Labels: slide-panel, testing

#132 Update lower bound express version
  package.json
Labels: build-tools, sync with terra-core
