Repository cerner/terra-framework, pull requests merged in 2018-05, with the labels that each got.

#170 Update stylelint dependencies
  CONTRIBUTORS.md
  package.json
Labels: build-tools

#171 Correct failing tests by update test examples.
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/examples/test-examples/DefaultHeaderUtilityMenu.example.jsx
  packages/terra-application-utility/examples/test-examples/DefaultMenuUtilityMenu.example.jsx
Labels: application-utility, tech-only, testing

#172 Update themable background styles on selectable menu items in navigation
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/ApplicationTabs.scss
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/MenuItem.scss
Labels: Small, application-links, navigation-side-menu, tech-only

#133 Enable parallel testing during builds
  .dockerignore
  .travis.yml
  Dockerfile
  package.json
  wdio.conf.js
Labels: build-tools, enhancement, monorepo, testing

#188 Update root stylelint check
  package.json
Labels: build-tools, sync with terra-core

#165 Add Documentation for Form Validations
  .babelrc
  dev-site-config/generatedComponentConfig.js
  lerna.json
  package.json
  packages/terra-form-validation/.npmignore
  packages/terra-form-validation/.npmrc
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/LICENSE
  packages/terra-form-validation/NOTICE
  packages/terra-form-validation/README.md
  packages/terra-form-validation/docs/README.md
  packages/terra-form-validation/docs/ValidationComponents.md
  packages/terra-form-validation/docs/ValidationEvents.md
  packages/terra-form-validation/docs/ValidationFunctions.md
  packages/terra-form-validation/examples/FormValidation.site-page.jsx
  packages/terra-form-validation/examples/ValidationComponents.site-page.jsx
  packages/terra-form-validation/examples/ValidationEvents.site-page.jsx
  packages/terra-form-validation/examples/ValidationFunctions.site-page.jsx
  packages/terra-form-validation/examples/index-examples/DefaultFormValidation.jsx
  packages/terra-form-validation/examples/index-examples/FormSubmitCheckboxField.jsx
  packages/terra-form-validation/examples/index-examples/FormSubmitRadioField.jsx
  packages/terra-form-validation/examples/index-examples/ValidationAsynchronous.jsx
  packages/terra-form-validation/examples/index-examples/ValidationDisableSubmit.jsx
  packages/terra-form-validation/examples/index-examples/ValidationOnInput.jsx
  packages/terra-form-validation/examples/index-examples/ValidationOnSubmit.jsx
  packages/terra-form-validation/examples/index-examples/ValidationParsing.jsx
  packages/terra-form-validation/package.json
  themeable-variables.json
Labels: form validations

#189 Fix bugs around updating with new child content.
  dev-site-config/generatedComponentConfig.js
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/examples/test-examples/InfiniteListSameCount.example.jsx
  packages/terra-infinite-list/package.json
  packages/terra-infinite-list/src/InfiniteList.jsx
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_same_count_and_different_content[after-update].622x768.png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_same_count_and_different_content[before-update].622x768.png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/chrome/Displays_an_infinite_list_same_count_and_different_content[default].622x768.png
  packages/terra-infinite-list/tests/wdio/infinite-list-spec.js
Labels: bug, infinite-list, tech-only
