Repository cerner/terra-framework, pull requests merged in 2018-07, with the labels that each got.

#220 Fixing relative references in the test files of terra-dialog-modal
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DefaultDialogModal.test.jsx
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithLongText.test.jsx
Labels: bug, dialog-modal

#215 Remove direct terra-base dependency
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-menu-layout/CHANGELOG.md
  packages/terra-application-menu-layout/package.json
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/package.json
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/package.json
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/package.json
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/docs/DEPENDENCIES.md
  packages/terra-navigation-layout/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-theme-provider/CHANGELOG.md
  packages/terra-theme-provider/package.json
Labels: tech-only

#218 Remove CSS 'initial' Value
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/src/NotificationDialog.scss
Labels: bug, notification-dialog

#226 Add swedish translations
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/translations/sv-SE.json
  packages/terra-application-layout/translations/sv.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/translations/sv-SE.json
  packages/terra-application-links/translations/sv.json
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/translations/sv-SE.json
  packages/terra-application-utility/translations/sv.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/translations/sv-SE.json
  packages/terra-notification-dialog/translations/sv.json
Labels: translations

#231 Update dependencies used in examples
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-aggregator/src/terra-dev-site/doc/common/AggregatorItem.jsx
  packages/terra-aggregator/src/terra-dev-site/doc/common/ModalAggregator.jsx
  packages/terra-aggregator/src/terra-dev-site/doc/common/SimpleAggregatorItem.jsx
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-layout/src/terra-dev-site/doc/common/ExtensionsDisclosure.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/common/UtilityOption.jsx
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/package.json
  packages/terra-disclosure-manager/src/terra-dev-site/doc/example/ContentComponent.jsx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/example/DisclosureComponent.jsx
Labels: aggregator, application-layout, disclosure-manager

#236 Bump responsive-element version
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-application-header-layout/src/terra-dev-site/doc/example/HeaderWireframe.jsx
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
Labels: aggregator, application-layout, modal-manager

#240 Match Node Env in Heroku to Served Assets
  app.json
Labels: sync with terra-core
