Repository cerner/terra-framework, pull requests merged in 2018-08, with the labels that each got.

#232 Enabled External path
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/ApplicationLayout.jsx
  packages/terra-application-layout/src/menu/RoutingMenu.jsx
  packages/terra-application-layout/src/terra-dev-site/test/application-layout/RoutingMenuExternal.test.jsx
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationLayout.test.jsx.snap
  packages/terra-application-layout/tests/jest/__snapshots__/RoutingMenu.test.jsx.snap
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/routing-menu-spec/Navigates_away_from_the_site[default].png
  packages/terra-application-layout/tests/wdio/routing-menu-spec.js
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/ApplicationTabs.jsx
  packages/terra-application-links/src/tabs/_Tab.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsExternal.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/common/testExternalConfig.js
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Navigates_away_from_the_site[External_tabs].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Navigates_away_from_the_site[External_tabs].png
  packages/terra-application-links/tests/wdio/application-tabs-spec.js
Labels: application-layout, application-links

#234 Popup Content clones a new prop to its children when missing a close button.
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/_PopupContent.jsx
  packages/terra-popup/src/terra-dev-site/test/common/BoundedNoHeaderContent.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/BoundedNoHeaderPopup.test.jsx
  packages/terra-popup/tests/wdio/__snapshots__/reference/en/chrome_medium/popup-spec/Displays_a_popup_bounded_by_width_and_height_with_no_header[default].png
  packages/terra-popup/tests/wdio/popup-spec.js
Labels: popup, tech-only

#243 Add I18n Documentation to Readme
  README.md
Labels: docs

#251 Switch badges to use badgen-service
  DEPENDENCIES.md
  README.md
  packages/terra-aggregator/README.md
  packages/terra-app-delegate/README.md
  packages/terra-application-header-layout/README.md
  packages/terra-application-layout/README.md
  packages/terra-application-links/README.md
  packages/terra-application-menu-layout/README.md
  packages/terra-application-name/README.md
  packages/terra-application-utility/README.md
  packages/terra-brand-footer/README.md
  packages/terra-dialog-modal/README.md
  packages/terra-disclosure-manager/README.md
  packages/terra-form-validation/README.md
  packages/terra-hookshot/README.md
  packages/terra-infinite-list/README.md
  packages/terra-layout/README.md
  packages/terra-modal-manager/README.md
  packages/terra-navigation-layout/README.md
  packages/terra-navigation-side-menu/README.md
  packages/terra-notification-dialog/README.md
  packages/terra-popup/README.md
  packages/terra-slide-panel-manager/README.md
  packages/terra-slide-panel/README.md
  packages/terra-theme-provider/README.md
Labels: Small, docs
