Repository cerner/terra-framework, pull requests merged in 2018-02, with the labels that each got.

#60 Creating SlidePanelManager
  generatedComponentConfig.js
  packages/terra-slide-panel-manager/.npmignore
  packages/terra-slide-panel-manager/.npmrc
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/LICENSE
  packages/terra-slide-panel-manager/NOTICE
  packages/terra-slide-panel-manager/README.md
  packages/terra-slide-panel-manager/docs/README.md
  packages/terra-slide-panel-manager/examples/Index.site-page.jsx
  packages/terra-slide-panel-manager/examples/index-examples/SlidePanelManagerExample.jsx
  packages/terra-slide-panel-manager/examples/index-examples/example-styles.scss
  packages/terra-slide-panel-manager/examples/test-examples/SlidePanelManagerDefault.jsx
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel-manager/src/SlidePanelManager.jsx
  packages/terra-slide-panel-manager/tests/jest/SlidePanelManager.test.jsx
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Fullscreen[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Fullscreen[default].470x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Huge[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Huge[default].470x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Large[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Large[default].470x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Medium[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Medium[default].470x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Small[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Small[default].470x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Tiny[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Tiny[default].470x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclosure_-_Close_Disclosure[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclosure_-_Dismiss[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclosure_-_Maximize[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclosure_-_Minimize[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclosure_-_ReleaseFocus[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Disclosure_-_RequestFocus[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/chrome/Nested_Disclose[default].1000x768.png
  packages/terra-slide-panel-manager/tests/wdio/slide-panel-manager-spec.js
Labels: new feature, slide-panel-manager

#42 Application Name Components
  README.md
  generatedComponentConfig.js
  lerna.json
  packages/terra-application-name/README.md
  packages/terra-application-name/docs/README.md
  packages/terra-application-name/examples/Index.site-page.jsx
  packages/terra-application-name/examples/index-examples/ApplicationHeaderNameStandard.jsx
  packages/terra-application-name/examples/index-examples/ApplicationMenuNameStandard.jsx
  packages/terra-application-name/examples/test-examples/ApplicationHeaderNameDefault.jsx
  packages/terra-application-name/examples/test-examples/ApplicationMenuNameDefault.jsx
  packages/terra-application-name/examples/test-examples/DefaultApplicationName.jsx
  packages/terra-application-name/package.json
  packages/terra-application-name/src/ApplicationHeaderName.jsx
  packages/terra-application-name/src/ApplicationHeaderName.scss
  packages/terra-application-name/src/ApplicationMenuName.jsx
  packages/terra-application-name/src/ApplicationMenuName.scss
  packages/terra-application-name/src/ApplicationName.jsx
  packages/terra-application-name/src/ApplicationName.scss
  packages/terra-application-name/tests/jest/ApplicationHeaderName.test.jsx
  packages/terra-application-name/tests/jest/ApplicationMenuName.test.jsx
  packages/terra-application-name/tests/jest/ApplicationName.test.jsx
  packages/terra-application-name/tests/jest/__snapshots__/ApplicationHeaderName.test.jsx.snap
  packages/terra-application-name/tests/jest/__snapshots__/ApplicationMenuName.test.jsx.snap
  packages/terra-application-name/tests/jest/__snapshots__/ApplicationName.test.jsx.snap
  packages/terra-application-name/tests/nightwatch/application-name-spec.js
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-accessory-padding-left].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-align-items].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-color].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-flex].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-title-font-weight].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-title-padding-left].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-title-padding-right].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[default].470x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[default].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-accessory-padding-left].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-align-items].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-color].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-flex].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-title-font-weight].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-title-padding-left].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-title-padding-right].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[default].470x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[default].838x768.png
  packages/terra-application-name/tests/wdio/application-header-name-spec.js
  packages/terra-application-name/tests/wdio/application-menu-name-spec.js
  themeable-variables.json
  wdio.conf.js
Labels: application-header-name, application-menu-name, new feature

#54 Creating Aggregator
  generatedComponentConfig.js
  lerna.json
  packages/terra-aggregator/.npmignore
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/LICENSE
  packages/terra-aggregator/NOTICE
  packages/terra-aggregator/README.md
  packages/terra-aggregator/docs/README.md
  packages/terra-aggregator/examples/Index.site-page.jsx
  packages/terra-aggregator/examples/index-examples/AggregatorInModalExample.jsx
  packages/terra-aggregator/examples/index-examples/CombinedDisclosureExample.jsx
  packages/terra-aggregator/examples/index-examples/CustomRenderAggregatorExample.jsx
  packages/terra-aggregator/examples/index-examples/DisclosureBypassExample.jsx
  packages/terra-aggregator/examples/index-examples/StandaloneAggregatorExample.jsx
  packages/terra-aggregator/examples/index-examples/components/AggregatorContainer.jsx
  packages/terra-aggregator/examples/index-examples/components/AggregatorItem.jsx
  packages/terra-aggregator/examples/index-examples/components/ModalAggregator.jsx
  packages/terra-aggregator/examples/index-examples/components/SimpleAggregatorItem.jsx
  packages/terra-aggregator/examples/test-examples/AggregatorStandalone.jsx
  packages/terra-aggregator/examples/test-examples/AggregatorWithDisclosure.jsx
  packages/terra-aggregator/examples/test-examples/components/AggregatorItem.jsx
  packages/terra-aggregator/package.json
  packages/terra-aggregator/src/Aggregator.jsx
  packages/terra-aggregator/tests/jest/Aggregator.test.jsx
  packages/terra-aggregator/tests/jest/__snapshots__/Aggregator.test.jsx.snap
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/Standalone[default].1000x768.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/With_Disclosure_-_Close_from_explicit_close[default].1000x768.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/With_Disclosure_-_Close_from_focus_release[default].1000x768.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/With_Disclosure_-_Open[default].1000x768.png
  packages/terra-aggregator/tests/wdio/aggregator-spec.js
  packages/terra-navigation-layout/examples/index-examples/NavigationLayoutStandard.jsx
  themeable-variables.json
Labels: aggregator, new feature

#69 Updating AppDelegate propType to use custom validator
  packages/terra-app-delegate/CHANGELOG.md
  packages/terra-app-delegate/package.json
  packages/terra-app-delegate/src/app-delegate/AppDelegate.js
Labels: app-delegate, tech-only

#74 Correct blur on lower resolution monitors, and update screenshots
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/examples/index-examples/ApplicationListExample.jsx
  packages/terra-application-links/src/list/ApplicationList.scss
  packages/terra-application-links/src/tabs/ApplicationTabs.jsx
  packages/terra-application-links/src/tabs/ApplicationTabs.scss
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[#test-list].470x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[#test-list].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-color].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-font-size].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-line-height].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-padding].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-selected-background-image].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-selected-border-left].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-selected-box-shadow].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-selected-padding].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[#test-tabs].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[#test-tabs].622x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tab-width].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-active-background-color].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-active-background-size].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-active-color].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-background-image].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-background-position].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-background-size].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-border-left].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-border-right].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-color].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-font-size].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-hover-background-color].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-hover-background-image].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-hover-background-size].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-hover-color].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-line-height].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-margin-next-to-icon].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-menu-arrow-left-margin].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-padding].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[--terra-application-tabs-spacer-width].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_hidden_application_tabs_selection[#test-tabs].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_hidden_application_tabs_selection[#test-tabs].622x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_hover[#test-list].470x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_hover[#test-list].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_hover[--terra-application-list-background-hover].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_selection[#test-list].470x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_selection[#test-list].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-color].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-hover-background].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-padding].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-selected-background-image].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-selected-box-shadow].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-selected-left-padding].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[default].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[default].622x768.png
  packages/terra-application-links/tests/wdio/application-list-spec.js
  packages/terra-application-links/tests/wdio/application-tabs-spec.js
Labels: application-links, bug, tech-only

#72 Update Aggregator's .npmignore file
  packages/terra-aggregator/.npmignore
Labels: tech-only

#75 Provide an index file for the json main defaulted entry.
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/examples/index-examples/ApplicationHeaderNameStandard.jsx
  packages/terra-application-name/examples/test-examples/ApplicationHeaderNameDefault.jsx
  packages/terra-application-name/src/ApplicationHeaderName.scss
  packages/terra-application-name/src/ApplicationName.js
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-accessory-padding-left].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-align-items].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-color].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-flex].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-title-font-weight].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-title-padding-left].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[--terra-application-header-name-title-padding-right].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[default].470x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_header_name[default].838x768.png
Labels: application-header-name, application-menu-name, tech-only

#70 Update layout hidden panel
  generatedComponentConfig.js
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/examples/test-examples/LayoutSlidePanelExample.jsx
  packages/terra-layout/package.json
  packages/terra-layout/src/HoverTarget.scss
  packages/terra-layout/src/_HoverTarget.jsx
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/tests/jest/__snapshots__/HoverTarget.test.jsx.snap
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
  packages/terra-layout/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_and_hidden_styles[default].838x768.png
  packages/terra-layout/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_click[default].838x768.png
  packages/terra-layout/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_double_click[default].838x768.png
  packages/terra-layout/tests/wdio/layout-slide-panel-spec.js
  packages/terra-layout/themeable-variables.json
Labels: enhancement, layout

#64 Using Lastest Site Changes
  package.json
  packages/terra-aggregator/package.json
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/Standalone[default].1000x768.png
  packages/terra-layout/examples/test-examples/LayoutLongText.jsx
  packages/terra-layout/package.json
  packages/terra-layout/tests/nightwatch/layout-spec.js
  packages/terra-navigation-layout/package.json
  packages/terra-slide-panel-manager/examples/test-examples/SlidePanelManagerDefault.jsx
  site.config.js
Labels: tech-only

#79 Change the default gradient to be transparent, not white.
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/list/ApplicationList.scss
Labels: application-links, bug, tech-only

#90 Use terra-toolkit v2.8.0
  package.json
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/Standalone[default].1000x768.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/With_Disclosure_-_Close_from_explicit_close[default].1000x768.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/With_Disclosure_-_Close_from_focus_release[default].1000x768.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/chrome/With_Disclosure_-_Open[default].1000x768.png
  packages/terra-aggregator/tests/wdio/aggregator-spec.js
  packages/terra-modal-manager/tests/wdio/modal-manager-spec.js
  wdio.conf.js
Labels: Small, tech-only, testing

#92 Use terra-site React 16 Version
  README.md
  package.json
Labels: Small, tech-only

#67 Create Terra Side Navigation Menu
  generatedComponentConfig.js
  packages/terra-navigation-side-menu/.npmignore
  packages/terra-navigation-side-menu/.npmrc
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/LICENSE
  packages/terra-navigation-side-menu/NOTICE
  packages/terra-navigation-side-menu/README.md
  packages/terra-navigation-side-menu/docs/README.md
  packages/terra-navigation-side-menu/examples/Index.site-page.jsx
  packages/terra-navigation-side-menu/examples/index-examples/NavigationSideMenuExample.jsx
  packages/terra-navigation-side-menu/examples/test-examples/NavigationSideMenuDefault.jsx
  packages/terra-navigation-side-menu/examples/test-examples/NavigationSideMenuRoot.jsx
  packages/terra-navigation-side-menu/package.json
  packages/terra-navigation-side-menu/src/MenuItem.scss
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/tests/jest/NavigationSideMenu.test.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[#test-menu].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-color].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-padding-bottom].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-padding-left].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-padding-right].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-padding-top].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Default_navigation_side_menu_display[--terra-navigation-side-menu-item-size].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Hover_navigation_side_menu_display[#test-menu].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Hover_navigation_side_menu_display[--terra-navigation-side-menu-item-background-hover].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[#test-menu].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[--terra-navigation-side-menu-item-selected-background-image].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[--terra-navigation-side-menu-item-selected-border-left].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/Selected_navigation_side_menu_display[--terra-navigation-side-menu-item-selected-padding-left].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/chrome/isRootMenu_navigation_side_menu_display[#test-menu].838x768.png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
  themeable-variables.json
Labels: Large, navigation-side-menu, new feature

#96 Update slide group jest in modal manager, update screenshots for application links
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[#test-list].470x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[#test-list].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-color].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-font-size].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-padding-bottom].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-padding-left].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-padding-right].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-padding-top].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-selected-border-left].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_list[--terra-application-list-selected-padding-left].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_hover[#test-list].470x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_hover[#test-list].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_hover[--terra-application-list-background-hover].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_selection[#test-list].470x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_list_selection[#test-list].838x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-color].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-hover-background].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-padding-bottom].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-padding-left].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-padding-right].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-padding-top].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-selected-background-image].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[--terra-application-tabs-collapsed-selected-box-shadow].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[default].1000x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_collapsed_application_tabs[default].622x768.png
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-modal-manager/tests/nightwatch/modal-manager-spec.js
Labels: Small, application-links, modal-manager, tech-only, testing

#95 Disable caching in travis-ci
  .travis.yml
Labels: Small, build-tools

#89 Integration updates for application name and application header
  generatedComponentConfig.js
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.scss
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/ApplicationTabs.jsx
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/examples/test-examples/ApplicationHeaderNameTruncated.jsx
  packages/terra-application-name/examples/test-examples/ApplicationMenuNameTruncated.jsx
  packages/terra-application-name/src/ApplicationHeaderName.scss
  packages/terra-application-name/src/ApplicationMenuName.scss
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-accessory-padding-left].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-align-items].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-color].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-flex].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-title-font-weight].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-title-padding-left].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[--terra-application-menu-name-title-padding-right].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[default].470x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_menu_name[default].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_truncated_application_header_name[default].470x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_truncated_application_header_name[default].838x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_truncated_application_menu_name[default].470x768.png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/chrome/Displays_a_truncated_application_menu_name[default].838x768.png
  packages/terra-application-name/tests/wdio/application-header-name-spec.js
  packages/terra-application-name/tests/wdio/application-menu-name-spec.js
Labels: Large, application-header-layout, application-header-name, application-links, application-menu-name

#97 replace terra-site@2.0.0-RC with terra-dev-site@01.0
  generatedComponentConfig.js
  nightwatch.conf.js
  package.json
  packages/terra-application-header-layout/examples/Index.site-page.jsx
  packages/terra-application-links/examples/Index.site-page.jsx
  packages/terra-application-menu-layout/examples/Index.site-page.jsx
  packages/terra-application-name/examples/Index.site-page.jsx
  packages/terra-application-utility/examples/Index.jsx
  packages/terra-embedded-component/examples/Index.site-page.jsx
  packages/terra-layout/examples/Index.site-page.jsx
  packages/terra-navigation-layout/examples/Index.site-page.jsx
  packages/terra-navigation-side-menu/examples/Index.site-page.jsx
  packages/terra-theme-provider/examples/Index.site-page.jsx
  wdio.conf.js
Labels: Small, tech-only

#80 Remove hover style at medium breakpoint.
  generatedComponentConfig.js
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/docs/README.md
  packages/terra-layout/examples/Index.site-page.jsx
  packages/terra-layout/examples/index-examples/LayoutLongText.jsx
  packages/terra-layout/examples/test-examples/LayoutDefault.jsx
  packages/terra-layout/examples/test-examples/LayoutLongText.jsx
  packages/terra-layout/examples/test-examples/LayoutNoHeader.jsx
  packages/terra-layout/examples/test-examples/LayoutNoMenu.jsx
  packages/terra-layout/src/HoverTarget.scss
  packages/terra-layout/src/Layout.jsx
  packages/terra-layout/src/LayoutSlidePanel.scss
  packages/terra-layout/src/_HoverTarget.jsx
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/tests/jest/HoverTarget.test.jsx
  packages/terra-layout/tests/jest/__snapshots__/HoverTarget.test.jsx.snap
  packages/terra-layout/tests/jest/__snapshots__/Layout.test.jsx.snap
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
  packages/terra-layout/tests/nightwatch/layout-spec.js
  packages/terra-layout/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_and_hidden_styles[default].838x768.png
  packages/terra-layout/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_click[default].838x768.png
  packages/terra-layout/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_double_click[default].838x768.png
  packages/terra-layout/tests/wdio/layout-slide-panel-spec.js
Labels: Large, layout

#87 Add webdriver.io tests for terra-theme-provider
  packages/terra-theme-provider/package.json
  packages/terra-theme-provider/tests/nightwatch/theme-provider-spec.js
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_theme-provider[default].470x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_theme-provider[default].838x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_a_globally_themed_component[default].470x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_a_globally_themed_component[default].838x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_a_themed_provider_without_a_themeName_provided[default].470x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_a_themed_provider_without_a_themeName_provided[default].838x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_an_updated_globally_themed_component[default].470x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_an_updated_globally_themed_component[default].838x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_an_updated_globally_themed_component_-__After_Click[default].470x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_an_updated_globally_themed_component_-__After_Click[default].838x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_an_updated_themed_component[default].470x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_an_updated_themed_component[default].838x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_an_updated_themed_component_-_After_Click[default].470x768.png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/chrome/Displays_an_updated_themed_component_-_After_Click[default].838x768.png
  packages/terra-theme-provider/tests/wdio/theme-provider-spec.js
Labels: Small, terra-theme-provider, testing
