Repository cerner/terra-framework, pull requests merged in 2018-04, with the labels that each got.

#138 Add terra-mixins dep
  packages/terra-popup/package.json
Labels: Small, bug, popup, tech-only

#141 Allow Slide Panel Background to be Themeable
  CONTRIBUTORS.md
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.scss
  themeable-variables.json
Labels: Small, slide-panel, tech-only

#144 Fix bug around modal manager sizing.
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/src/ModalManager.scss
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-modal-manager/tests/jest/__snapshots__/withModalManager.test.jsx.snap
Labels: Small, bug, modal-manager, tech-only

#148 Clean up peer dependencies.
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/package.json
Labels: navigation-layout, tech-only

#150 Update outdated slide panel manager dependencies.
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
Labels: Small, aggregator, bug, slide-panel-manager, tech-only

#151 Update readme
  README.md
Labels: Small, docs

#159 Snapshots for infinite list need to be updated based on changes here …
  packages/terra-infinite-list/tests/jest/__snapshots__/InfiniteList.test.jsx.snap
Labels: Small

#164 Update screenshots.
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_header_toggle_with_hover_styling[#test-header].1000x768.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/chrome/Displays_an_application_header_toggle_with_hover_styling[#test-header].622x768.png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_application_tabs[#test-tabs].1000x768.png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/chrome/Disclose_Medium[default].1000x768.png
Labels: Small

#156 Consume changes from terra-toolkit and terra-dev-sever
  Procfile
  dev-site-config/generatedComponentConfig.js
  dev-site-config/site.config.js
  package.json
  packages/terra-aggregator/package.json
  packages/terra-application-header-layout/package.json
  packages/terra-application-layout/package.json
  packages/terra-application-links/package.json
  packages/terra-application-menu-layout/package.json
  packages/terra-application-name/package.json
  packages/terra-application-utility/package.json
  packages/terra-disclosure-manager/package.json
  packages/terra-hookshot/package.json
  packages/terra-infinite-list/package.json
  packages/terra-layout/package.json
  packages/terra-modal-manager/package.json
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-side-menu/package.json
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/package.json
  packages/terra-theme-provider/package.json
  scripts/express/README.md
  scripts/express/app.js
  wdio.conf.js
  webpack.config.js
  webpack.prod.config.js
Labels: Small

#166 remove 'no-multi-assign' eslint rule
  .eslintrc
Labels: build-tools
