Repository cerner/terra-framework, pull requests merged in 2018-12, with the labels that each got.

#358 Migrate Slide Group to Framework Repo
  README.md
  packages/terra-slide-group/.npmignore
  packages/terra-slide-group/.npmrc
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/LICENSE
  packages/terra-slide-group/NOTICE
  packages/terra-slide-group/README.md
  packages/terra-slide-group/docs/DEPENDENCIES.md
  packages/terra-slide-group/docs/README.md
  packages/terra-slide-group/package.json
  packages/terra-slide-group/src/Slide.jsx
  packages/terra-slide-group/src/Slide.module.scss
  packages/terra-slide-group/src/SlideGroup.jsx
  packages/terra-slide-group/src/SlideGroup.module.scss
  packages/terra-slide-group/src/terra-dev-site/doc/example/SlideGroupDemo.jsx
  packages/terra-slide-group/src/terra-dev-site/doc/slide-group/ChangeLog.2.doc.jsx
  packages/terra-slide-group/src/terra-dev-site/doc/slide-group/SlideGroup.1.doc.jsx
  packages/terra-slide-group/src/terra-dev-site/test/slide-group/AnimatedSlideGroup.test.jsx
  packages/terra-slide-group/src/terra-dev-site/test/slide-group/DefaultSlideGroup.test.jsx
  packages/terra-slide-group/src/terra-dev-site/test/slide-group/NonAnimatedSlideGroup.test.jsx
  packages/terra-slide-group/src/terra-dev-site/test/slide-group/OneItemSlideGroup.test.jsx
  packages/terra-slide-group/tests/jest/Slide.test.jsx
  packages/terra-slide-group/tests/jest/SlideGroup.test.jsx
  packages/terra-slide-group/tests/jest/__snapshots__/Slide.test.jsx.snap
  packages/terra-slide-group/tests/jest/__snapshots__/SlideGroup.test.jsx.snap
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Animated[slide_1].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Animated[slide_2].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Default[default].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Non_Animated[slide_1].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Non_Animated[slide_2].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/One_Item[default].png
  packages/terra-slide-group/tests/wdio/slide-group-spec.js
Labels: slide-group, tech-only

#360 Shim for HTML Main Tag in IE Added to Layoutslidepanel
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/src/LayoutSlidePanel.module.scss
  packages/terra-layout/src/_LayoutSlidePanel.jsx
Labels: application-layout, bug-fix, layout

#352 Add optional toolbar prop to terra-navigation-side-menu
  CONTRIBUTORS.md
  dev-site-config/site.config.js
  packages/terra-application-layout/translations/en-GB.json
  packages/terra-application-layout/translations/en-US.json
  packages/terra-application-layout/translations/en.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuDefaultWithToolbar.test.jsx
  packages/terra-navigation-side-menu/tests/jest/NavigationSideMenu.test.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/navigation-side-menu-spec/Default_navigation_side_menu_display_with_toolbar[#test-menu].png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: enhancement, navigation-side-menu, tech-only

#407 Set Data-menu-item attribute value of Menuitem to Unique key value. #265
  CONTRIBUTORS.md
  packages/terra-application-layout/tests/wdio/application-layout-spec.js
  packages/terra-application-layout/tests/wdio/routing-menu-spec.js
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/tests/.DS_Store
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
Labels: navigation-side-menu, tech-only

#406 Fix font family inheritance on tab buttons
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/ApplicationTabs.module.scss
Labels: tech-only

#381 Correcting DisclosureManager state management during update lifecycle
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-disclosure-manager/tests/jest/DisclosureManager.test.jsx
  packages/terra-disclosure-manager/tests/jest/__snapshots__/DisclosureManager.test.jsx.snap
Labels: bug-fix, disclosure-manager
