Repository cerner/terra-framework, pull requests merged in 2018-11, with the labels that each got.

#324 [terra-dialog-modal] - Restructure theme tests
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithCustomHeaderAndCustomFooter.test.jsx
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Default_Dialog_Modal[default].1000x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Default_Dialog_Modal[default].470x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Default_Dialog_Modal[default].838x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Default_Dialog_Modal_with_Themable_Properties[themed].1000x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Default_Dialog_Modal_with_Themable_Properties[themed].470x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Default_Dialog_Modal_with_Themable_Properties[themed].838x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Dialog_Modal_With_Custom_Header_and_Custom_Footer[default].1000x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Dialog_Modal_With_Custom_Header_and_Custom_Footer[default].470x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Dialog_Modal_With_Custom_Header_and_Custom_Footer[default].838x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Dialog_Modal_With_Long_text[default].1000x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Dialog_Modal_With_Long_text[default].470x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/chrome/Dialog_Modal_With_Long_text[default].838x768.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_large/dialog-modal-spec/Default_Dialog_Modal[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_large/dialog-modal-spec/Default_Dialog_Modal_with_Themable_Properties[themed].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_large/dialog-modal-spec/Dialog_Modal_With_Custom_Header_and_Custom_Footer[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_large/dialog-modal-spec/Dialog_Modal_With_Long_text[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/dialog-modal-spec/Default_Dialog_Modal[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/dialog-modal-spec/Dialog_Modal_With_Custom_Header_and_Custom_Footer[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/dialog-modal-spec/Dialog_Modal_With_Long_text[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_tiny/dialog-modal-spec/Default_Dialog_Modal[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_tiny/dialog-modal-spec/Dialog_Modal_With_Custom_Header_and_Custom_Footer[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_tiny/dialog-modal-spec/Dialog_Modal_With_Long_text[default].png
  packages/terra-dialog-modal/tests/wdio/dialog-modal-spec.js
  packages/terra-dialog-modal/tests/wdio/theme/__snapshots__/reference/en/chrome_huge/dialog-modal-theme-spec/Default_Dialog_Modal_with_Themable_Properties[themed].png
  packages/terra-dialog-modal/tests/wdio/theme/dialog-modal-theme-spec.js
Labels: dialog-modal, tech-only, testing

#333 [terra-layout] - Regenerate jest and wdio snapshots
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_large/dialog-modal-spec/Default_Dialog_Modal[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_large/dialog-modal-spec/Dialog_Modal_With_Long_text[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/dialog-modal-spec/Default_Dialog_Modal[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/dialog-modal-spec/Dialog_Modal_With_Long_text[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_tiny/dialog-modal-spec/Default_Dialog_Modal[default].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_tiny/dialog-modal-spec/Dialog_Modal_With_Long_text[default].png
  packages/terra-dialog-modal/tests/wdio/theme/__snapshots__/reference/en/chrome_huge/dialog-modal-theme-spec/Default_Dialog_Modal_with_Themable_Properties[themed].png
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
Labels: layout, tech-only, testing

#320 Layout toggle menu focus
  packages/terra-aggregator/terra-aggregator.tgz
  packages/terra-app-delegate/terra-app-delegate.tgz
  packages/terra-application-header-layout/terra-application-header-layout.tgz
  packages/terra-application-layout/terra-application-layout.tgz
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Displays_a_default_application_layout[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Displays_an_application_layout_with_no_header_content[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Displays_an_application_layout_with_top_navigation_tabs[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Navigates_from_primary_nav_menu_when_small[default].png
  packages/terra-application-links/terra-application-links.tgz
  packages/terra-application-menu-layout/terra-application-menu-layout.tgz
  packages/terra-application-name/terra-application-name.tgz
  packages/terra-application-utility/terra-application-utility.tgz
  packages/terra-brand-footer/terra-brand-footer.tgz
  packages/terra-dialog-modal/terra-dialog-modal.tgz
  packages/terra-disclosure-manager/terra-disclosure-manager.tgz
  packages/terra-form-validation/terra-form-validation.tgz
  packages/terra-hookshot/terra-hookshot.tgz
  packages/terra-infinite-list/terra-infinite-list.tgz
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/package.json
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/terra-layout.tgz
  packages/terra-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/layout-slide-panel-spec/Toggle_the_slide_panel_click[default].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/layout-slide-panel-spec/Toggle_the_slide_panel_double_click[default].png
  packages/terra-layout/tests/wdio/layout-slide-panel-spec.js
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/terra-modal-manager.tgz
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-modal-manager/tests/jest/__snapshots__/withModalManager.test.jsx.snap
  packages/terra-navigation-layout/terra-navigation-layout.tgz
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/navigation-layout-spec/Displays_a_complex_NavigationLayout_-_page_1[default].png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/navigation-layout-spec/Displays_a_complex_NavigationLayout_-_page_2[default].png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/en/chrome_small/navigation-layout-spec/Displays_a_complex_NavigationLayout_-_page_1[default].png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/en/chrome_small/navigation-layout-spec/Displays_a_complex_NavigationLayout_-_page_2[default].png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/en/chrome_tiny/navigation-layout-spec/Displays_a_complex_NavigationLayout_-_page_1[default].png
  packages/terra-navigation-layout/tests/wdio/__snapshots__/reference/en/chrome_tiny/navigation-layout-spec/Displays_a_complex_NavigationLayout_-_page_2[default].png
  packages/terra-navigation-side-menu/terra-navigation-side-menu.tgz
  packages/terra-notification-dialog/terra-notification-dialog.tgz
  packages/terra-popup/terra-popup.tgz
  packages/terra-slide-panel-manager/terra-slide-panel-manager.tgz
  packages/terra-slide-panel/terra-slide-panel.tgz
  packages/terra-theme-provider/terra-theme-provider.tgz
Labels: bug-fix, layout

#327 Update on click outside
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-hookshot/src/HookshotContent.jsx
  packages/terra-hookshot/src/terra-dev-site/test/common/HookshotTestTemplate.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotCloseBehaviors.test.jsx
  packages/terra-hookshot/tests/jest/__snapshots__/Hookshot.test.jsx.snap
  packages/terra-hookshot/tests/wdio/__snapshots__/reference/en/chrome_medium/hookshot-spec/Closes_the_hookshot_content_on_outside_click_on_SVG_when_closeOnOutsideClick[default].png
  packages/terra-hookshot/tests/wdio/__snapshots__/reference/en/chrome_small/hookshot-spec/Closes_the_hookshot_content_on_resize[default].png
  packages/terra-hookshot/tests/wdio/hookshot-spec.js
Labels: dependency-update, hookshot

#340 added existence check for SVGElement
  CONTRIBUTORS.md
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/HookshotContent.jsx
  packages/terra-hookshot/terra-hookshot.tgz
Labels: hookshot, tech-only

#338 [terra-popup] Prevent default error
  CONTRIBUTORS.md
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/_PopupContent.jsx
  packages/terra-popup/terra-popup.tgz
Labels: bug-fix, popup

#335 Brand footer separator changed to hide from screen readers
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/src/BrandFooter.jsx
  packages/terra-brand-footer/src/BrandFooter.module.scss
  packages/terra-brand-footer/tests/jest/__snapshots__/BrandFooter.test.jsx.snap
Labels: accessibility, brand-footer, tech-only

#347 Fix travis & Fix lint error
  .travis.yml
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/HookshotContent.jsx
Labels: build-tools, testing

#348 [terra-application-layout] [terra-notification-dialog] Add missing translations
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/translations/ar.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/translations/ar.json
  packages/terra-notification-dialog/translations/es-ES.json
  packages/terra-notification-dialog/translations/es-US.json
  packages/terra-notification-dialog/translations/fr-FR.json
  packages/terra-notification-dialog/translations/pt-BR.json
Labels: application-layout, notification-dialog, translations

#346 Fix slide-panel's aria-hidden label
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
Labels: bug-fix, slide-panel, tech-only
