Repository cerner/terra-framework, pull requests merged in 2018-10, with the labels that each got.

#292 Add webdriver test for --terra-popup-arrow-inner-color
  packages/terra-aggregator/tests/wdio/aggregator-spec.js
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/tests/wdio/__snapshots__/reference/en/chrome_medium/popup-spec/Arrow_Popup[--terra-popup-arrow-inner-color].png
  packages/terra-popup/tests/wdio/popup-spec.js
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Maximize[default].png
Labels: popup, testing

#296 Fix #295 (terra-base devDependency clean up)
  CONTRIBUTORS.md
  package.json
  packages/terra-disclosure-manager/package.json
Labels: Small, dependency-update

#299 [terra-application-utility] - Fix divider focus
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/utility/_UtilityMenuDivider.jsx
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenuDivider.test.jsx.snap
Labels: application-utility, tech-only

#309 Improve popup focus on iOS with VoiceOver
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/Popup.jsx
  packages/terra-popup/src/_PopupContent.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupAttachmentBehavior.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupBottomCenter.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupBottomLeft.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupBottomRight.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupBounded.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupClassName.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupDimensions.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupMiddleCenter.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupMiddleLeft.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupMiddleRight.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupModalContent.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupNoHeader.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupStandard.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupTopCenter.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupTopLeft.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupTopRight.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupWithArrow.jsx
Labels: enhancement, popup, tech-only

#291 [terra-application-utility] Fix focus on first menu item
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/Utils.js
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
Labels: application-utility

#301 Add Skip to Content to Application Header Layout
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.jsx
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.module.scss
  packages/terra-application-header-layout/tests/jest/ApplicationHeader.test.jsx
  packages/terra-application-header-layout/tests/jest/__snapshots__/ApplicationHeader.test.jsx.snap
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/application-header-spec/Displays_the_Skip_to_Content_when_focused_onto[Not_Visible].png
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/application-header-spec/Displays_the_Skip_to_Content_when_focused_onto[Visible].png
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-header-spec/Displays_the_Skip_to_Content_when_focused_onto[Not_Visible].png
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-header-spec/Displays_the_Skip_to_Content_when_focused_onto[Visible].png
  packages/terra-application-header-layout/tests/wdio/application-header-spec.js
  packages/terra-application-header-layout/translations/ar.json
  packages/terra-application-header-layout/translations/de.json
  packages/terra-application-header-layout/translations/en-GB.json
  packages/terra-application-header-layout/translations/en-US.json
  packages/terra-application-header-layout/translations/en.json
  packages/terra-application-header-layout/translations/es-ES.json
  packages/terra-application-header-layout/translations/es-US.json
  packages/terra-application-header-layout/translations/es.json
  packages/terra-application-header-layout/translations/fr-FR.json
  packages/terra-application-header-layout/translations/fr.json
  packages/terra-application-header-layout/translations/nl-BE.json
  packages/terra-application-header-layout/translations/nl.json
  packages/terra-application-header-layout/translations/pt-BR.json
  packages/terra-application-header-layout/translations/pt.json
  packages/terra-application-header-layout/translations/sv-SE.json
  packages/terra-application-header-layout/translations/sv.json
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationHeader.test.jsx.snap
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
Labels: accessibility, application-header-layout

#289 Rearrange slide panel to change tab order
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
Labels: accessibility, slide-panel

#313 Update .travis.yml
  .travis.yml
Labels: build-tools, tech-only

#314 Update intl imports in header layout
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.jsx
Labels: application-header-layout, tech-only

#308 Notification icon
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-notification-dialog/src/NotificationDialog.jsx
  packages/terra-notification-dialog/src/NotificationDialog.module.scss
  packages/terra-notification-dialog/src/terra-dev-site/doc/example/NotificationDialogWithLongText.jsx
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Complete_notification-dialog_title,_message_and_actions[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Complete_notification-dialog_with_a_long_message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Complete_notification-dialog_with_themeable_actions[themed].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Complete_notification-dialog_with_themeable_properties[themed].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Error_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Info_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification-dialog_with_No_Message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification-dialog_with_No_Title[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Success_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Warning_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Complete_notification-dialog_title,_message_and_actions[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Complete_notification-dialog_with_a_long_message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Complete_notification-dialog_with_themeable_actions[themed].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Complete_notification-dialog_with_themeable_properties[themed].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Error_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Info_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification-dialog_with_No_Message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification-dialog_with_No_Title[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Success_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Warning_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Complete_notification-dialog_title,_message_and_actions[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Complete_notification-dialog_with_a_long_message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Complete_notification-dialog_with_themeable_actions[themed].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Complete_notification-dialog_with_themeable_properties[themed].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Error_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Info_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Notification-dialog_with_No_Message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Notification-dialog_with_No_Title[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Success_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Warning_Variant_notification-dialog[default].png
Labels: bug-fix, notification-dialog

#316 Windows fix for Jest test error
  jestconfig.js
Labels: build-tools, tech-only, windows
