Repository cerner/terra-framework, pull requests merged in 2019-11, with the labels that each got.

#962 [terra-date-picker] Fixing test logic for incomplete and invalid tests
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: bug-fix, datepicker, testing

#949 [terra-notification-dialog]Max width set to 500px
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/src/NotificationDialog.module.scss
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Complete_notification-dialog_title,_message_and_actions[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Complete_notification-dialog_with_a_long_message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Error_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Info_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/No_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification-dialog_with_No_Message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification-dialog_with_No_Title[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification-dialog_with_minimal_props[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification_Dialog_shifts_focus_into_modal_on_tab[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification_Dialog_traps_focus_in_modal[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Success_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Warning_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Complete_notification-dialog_title,_message_and_actions[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Complete_notification-dialog_with_a_long_message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Error_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Info_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/No_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification-dialog_with_No_Message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification-dialog_with_No_Title[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification-dialog_with_minimal_props[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/NotificationDialog_with_additional_focus_trap_sources_within_a_modal_manager[Close_notification_dialog].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/NotificationDialog_with_additional_focus_trap_sources_within_a_modal_manager[Close_popup].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/NotificationDialog_with_additional_focus_trap_sources_within_a_modal_manager[Open_notification_dialog].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/NotificationDialog_with_additional_focus_trap_sources_within_a_modal_manager[Open_popup].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification_Dialog_shifts_focus_into_modal_on_tab[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification_Dialog_traps_focus_in_modal[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Success_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Warning_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Complete_notification-dialog_title,_message_and_actions[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Complete_notification-dialog_with_a_long_message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Error_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Info_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/No_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Notification-dialog_with_No_Message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Notification-dialog_with_No_Title[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Notification-dialog_with_minimal_props[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Notification_Dialog_shifts_focus_into_modal_on_tab[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Notification_Dialog_traps_focus_in_modal[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Success_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/notification-dialog-spec/Warning_Variant_notification-dialog[default].png
Labels: notification-dialog

#943 [terra-collapsible-menu-view] Add ability for 'More Button' to switch variants.
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItem.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/CollapsibleMenuViewUtilityMoreButton.test.jsx
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_enormous/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_huge/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
Labels: collapsible-menu-view

#958 [terra-infinite-list] Added documentation for key in infinite list.
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/docs/ProgressiveLoadingList.md
Labels: docs, infinite-list

#966 Revert adding new collapsible-menu-view prop for 'More Button' to switch variants, prevent MVB
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.module.scss
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/CollapsibleMenuViewUtilityMoreButton.test.jsx
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_enormous/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_enormous/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_huge/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_huge/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Single_Item_Group_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_-_Utility_More_Button[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_Single_Item[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Single_Item_Group_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Header_Back[after_selecting_back].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Header_Back[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Header_Close[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Header_Maximize[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Header_Minimize[after_selecting_minimize].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_Accessory[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_Accessory[nested_disclosure].png
Labels: collapsible-menu-view, ocs-behaviour-requests

#934 [terra-aggregator]Focus not released from item after item removed from view
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/src/Aggregator.jsx
  packages/terra-aggregator/src/terra-dev-site/test/aggregator/AggregatorWithDisclosure.test.jsx
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_explicit_button_flip[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_explicit_close[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_focus_release[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Open[default].png
  packages/terra-aggregator/tests/wdio/aggregator-spec.js
Labels: aggregator

#973 Add Rendered Prop to Enabled Application-Level Content Wrapping of Disclosed Content
  jestconfig.js
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-disclosure-manager/tests/jest/DisclosureManager.test.jsx
  packages/terra-disclosure-manager/tests/jest/__snapshots__/DisclosureManager.test.jsx.snap
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/src/terra-dev-site/test/modal-manager/ModalManagerCommon.test.module.scss
  packages/terra-modal-manager/src/terra-dev-site/test/modal-manager/WithDisclosureContainer.test.jsx
  packages/terra-modal-manager/tests/jest/ModalManager.test.jsx
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclosure_Container[default].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclosure_Container[nested_disclosure].png
  packages/terra-modal-manager/tests/wdio/modal-manager-spec.js
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/src/SlidePanelManager.jsx
  packages/terra-slide-panel-manager/src/terra-dev-site/test/slide-panel-manager/SlidePanelManagerDefault.test.module.scss
  packages/terra-slide-panel-manager/src/terra-dev-site/test/slide-panel-manager/WithDisclosureContainer.test.jsx
  packages/terra-slide-panel-manager/tests/jest/SlidePanelManager.test.jsx
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_Container[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_Container[nested_disclosure].png
  packages/terra-slide-panel-manager/tests/wdio/slide-panel-manager-spec.js
Labels: disclosure-manager, enhancement, modal-manager, slide-panel-manager
