Repository cerner/terra-framework, pull requests merged in 2019-12, with the labels that each got.

#980 [terra-application-navigation]Updated Jest snapshots failing in master.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/tests/jest/header/__snapshots__/Header.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenuHeaderButton.test.jsx.snap
Labels: application-navigation

#979 [terra-menu]Updated Docs for title update of eIFU icon.
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.jsx
  packages/terra-menu/src/terra-dev-site/doc/menu/Menu.1.doc.jsx
Labels: menu

#927 [terra-popup] Update examples to use hooks
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/terra-dev-site/doc/common/PopupCommonExample.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupAttachmentBehavior.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupAttachments.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupAttachments.module.scss
  packages/terra-popup/src/terra-dev-site/doc/example/PopupBounded.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupDimensions.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupInsideModal.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupModalContainer.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupModalContent.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupNoHeader.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupStandard.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupWithArrow.jsx
  packages/terra-popup/src/terra-dev-site/doc/popup/Popup.1.doc.jsx
Labels: docs, popup

#967 [terra-time-input] Remove references to 'desktop' class in CSS.
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.module.scss
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-spec/Focus_Time_Component_Styles[default].png
  packages/terra-time-input/tests/wdio/time-input-spec.js
Labels: bug-fix, time input

#911 [terra-date-picker] Aria-Disabled added.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/day.jsx
  packages/terra-date-picker/src/react-datepicker/stylesheets/react_datepicker.module.scss
  packages/terra-date-picker/src/react-datepicker/stylesheets/variables.scss
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_picker_updated].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_formatted_date].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_iso_date].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_iso_date_no_time].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Exclude_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Filter_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Include_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Min_Max[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_picker_updated].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_formatted_date].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_iso_date].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_iso_date_no_time].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Exclude_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Filter_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Include_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Min_Max[default].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Excluded_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Filtered_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Excluded_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Filtered_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Excluded_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Filtered_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Excluded_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Filtered_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Included_Dates_are_Enabled[default].png
Labels: accessibility, datepicker

#985 [terra-application-navigation][terra-popup] Fixed Jest Test failures
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/tests/jest/__snapshots__/PopupContent.test.jsx.snap
Labels: application-navigation, popup

#968 [terra-tabs] Display tabs inline on smaller viewports.
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/Tabs.jsx
  packages/terra-tabs/src/Tabs.module.scss
  packages/terra-tabs/src/terra-dev-site/doc/example/IconOnlyTabs.jsx
  packages/terra-tabs/src/terra-dev-site/doc/example/ResponsiveTabsVariant.jsx
  packages/terra-tabs/src/terra-dev-site/doc/example/ResponsiveTabsVariantWrapper.jsx
  packages/terra-tabs/src/terra-dev-site/doc/example/ResponsiveTabsVariantWrapper.module.scss
  packages/terra-tabs/src/terra-dev-site/doc/example/TabContentTemplate.jsx
  packages/terra-tabs/src/terra-dev-site/doc/tabs/Tabs.1.doc.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/DefaultIconOnlyTabs.test.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/DefaultTabs.test.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/FillParentTabs.test.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/TabsResponsiveToParent.test.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/TabsResponsiveToWindow.test.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/TabsTemplate.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/TabsTemplate.module.scss
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/UncollapsedIconOnlyTabs.test.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/UncollapsedTabs.test.jsx
  packages/terra-tabs/tests/jest/Tabs.test.jsx
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_enormous/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_huge/tabs-spec/Responsive_to_Parent[after].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_huge/tabs-spec/Responsive_to_Parent[before].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_huge/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Default[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Default[uncollapsed].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Extended[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Icon_Only_Tabs[uncollapsed].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Responsive_Hidden_Open[1].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/tabs-spec/Responsive_to_Parent[after].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/tabs-spec/Responsive_to_Parent[before].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Default[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Default[uncollapsed].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Extended[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Icon_Only_Tabs[uncollapsed].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Responsive_Hidden_Open[1].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Responsive_to_Window[default].png
  packages/terra-tabs/tests/wdio/tabs-spec.js
  packages/terra-tabs/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: tabs, ⭐️ UX Reviewed

#946 Axe Violations fixed by adding missing/wrong roles.
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Content_Overflow[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/abstract-modal-spec/Content_Overflow[default].png
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/src/terra-dev-site/doc/common/placeholder-list/PlaceholderList.jsx
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/common/_PopupMenuListItem.jsx
  packages/terra-application-navigation/tests/jest/common/__snapshots__/PopupListItem.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItemGroup.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItemGroup.test.jsx.snap
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/TabPane.jsx
  packages/terra-tabs/src/Tabs.jsx
  packages/terra-tabs/tests/jest/__snapshots__/TabPane.test.jsx.snap
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
  packages/terra-tabs/tests/wdio/tabs-spec.js
Labels: aggregator, application-navigation, collapsible-menu-view, tabs

#993 [terra-modal-manager] Fixing axe contrast reliability in wdio test
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Content_Overflow[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/abstract-modal-spec/Content_Overflow[default].png
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Outside_Modal_Focus_Handling[focused_shifted_outside_the_beginning_of_the_modal].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Outside_Modal_Focus_Handling[focused_shifted_outside_the_end_of_the_modal].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Within_Modal_Focus_Handling[focused_shifted_outside_the_end_of_the_modal].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Within_Modal_Focus_Handling[modal_button_focused].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Within_Modal_Focus_Handling[modal_button_focused_again].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Within_Modal_Focus_Handling[modal_is_focused_on_open].png
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/tests/wdio/__snapshots__/reference/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_click[default].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_double_click[default].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_click[default].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_double_click[default].png
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-Disabled[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-Disabled[disabled_item_was_not_checked].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-Submenu_Indicator[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-With_eIFU_Icon,_eIFU_Icon_is_considered_over_check_mark_icon[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-Wrapped_Text[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/menu-item-spec/Menu_Item-Disabled[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/menu-item-spec/Menu_Item-Disabled[disabled_item_was_not_checked].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/menu-item-spec/Menu_Item-Submenu_Indicator[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/menu-item-spec/Menu_Item-With_eIFU_Icon,_eIFU_Icon_is_considered_over_check_mark_icon[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/menu-item-spec/Menu_Item-Wrapped_Text[default].png
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/tests/wdio/modal-manager-spec.js
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_huge/time-input-spec/DOWN_ARROW_decrements_hour_by_1[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_huge/time-input-spec/DOWN_ARROW_is_ignored_when_the_hour_has_reached_00[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_huge/time-input-spec/UP_ARROW_increments_hour_by_1[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_huge/time-input-spec/UP_ARROW_is_ignored_when_the_hour_has_reached_23[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/time-input-spec/DOWN_ARROW_decrements_hour_by_1[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/time-input-spec/DOWN_ARROW_is_ignored_when_the_hour_has_reached_00[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/time-input-spec/UP_ARROW_increments_hour_by_1[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/time-input-spec/UP_ARROW_is_ignored_when_the_hour_has_reached_23[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-spec/Focus_Time_Component_Styles[default].png
Labels: accessibility, modal-manager, tech-only, testing
