Repository cerner/terra-framework, pull requests merged in 2019-05, with the labels that each got.

#614 [terra-infinite-list] Correct infinite list divider styling
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/InfiniteList.jsx
  packages/terra-infinite-list/tests/jest/__snapshots__/InfiniteList.test.jsx.snap
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/en/chrome_small/infinite-list-spec/Displays_an_infinite_list_with_virtual_dom_from_bottom[default].png
Labels: bug-fix, infinite-list, tech-only

#612 Added width 560px to Disclosure manager
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/DialogModal.module.scss
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/docs/README.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.module.scss
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclose_Width-560[default].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_tiny/modal-manager-spec/Disclose_Width-560[default].png
  packages/terra-modal-manager/tests/wdio/modal-manager-spec.js
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Width-560[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_tiny/slide-panel-manager-spec/Disclose_Width-560[default].png
  packages/terra-slide-panel-manager/tests/wdio/slide-panel-manager-spec.js
Labels: disclosure-manager, enhancement

#607 [terra-date-picker] Fixed crash when selectedDate is not ISO compliant
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateUtil.js
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerIgnoreInvalidSelectedDates.test.jsx
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Invalid_dates_are_ignored[default].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/DateTimeUtils.js
Labels: date time picker, datepicker, tech-only

#619 [terra-date-time-picker] Keep time updates while date is invalid.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/DateTimeUtils.js
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Sync_Date_Time[invalid-date].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Sync_Date_Time[modified-valid-time].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Sync_Date_Time[valid-date].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Sync_Date_Time[valid-time].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Sync_Date_Time[invalid-date].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Sync_Date_Time[modified-valid-time].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Sync_Date_Time[valid-date].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Sync_Date_Time[valid-time].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: date time picker

#590 [terra-date-picker] Change filterDate to return an ISO string
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/docs/README.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerFilterDates.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerFilterDates.test.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePickerFilterDates.test.jsx
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
Labels: Major Version Bump, datepicker, do not merge

#641 Update react-router-dom to latest stable major release
  package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/package.json
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-layout/tests/jest/__snapshots__/NavigationLayoutContent.test.jsx.snap
Labels: Major Version Bump, application-layout, application-links, dependency-update, layout, navigation-layout

#634 Replace terra-disclosure-manager dependencies with peerDependencies
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/docs/README.md
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
Labels: Major Version Bump, modal-manager, slide-panel-manager

#578 [terra-date-time-picker] Rename minDateTime and maxDateTime props to minDate and maxDate and ignore time portion
  CONTRIBUTORS.md
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateUtil.js
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerDefaultDateBeforeMinDateOnly.test.jsx
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Clears_default_date_value_that_is_before_the_minDate_and_no_maxDate[default_date_cleared].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Clears_default_date_value_that_is_before_the_minDate_and_no_maxDate[default_date_displayed].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerMinMax.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePickerDefaultDateOutOfRange.test.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePickerMinMax.test.jsx
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
Labels: Major Version Bump, date time picker, datepicker, do not merge, tech-only

#587 Added timeVariant prop to Date-Time-Picker to support 12-hour Format
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/DateTimeUtils.js
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/DateTimePicker.1.doc.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerTimeVariant.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePicker12HourMobile.test.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePickerTimeInputAttributes.test.jsx
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Time_Input_displays_Twelve_Hour_format_when_timeVariant_is_specified[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Clicking_Meridiem_updates_the_time[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Default_with_no_time[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Focus_Hour_Styles[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Focus_Minute_Styles[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Time_Input_displays_Twelve_Hour_format_when_timeVariant_is_specified[default].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-mobile-spec.js
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/terra-dev-site/doc/example/TimeInputDefaultTwelveHour.jsx
  packages/terra-time-input/src/terra-dev-site/doc/example/TimeInputNoDefaultTwelveHour.jsx
  packages/terra-time-input/src/terra-dev-site/test/time-input/twelve-hour/Default.test.jsx
  packages/terra-time-input/src/terra-dev-site/test/time-input/twelve-hour/FilledEvening.test.jsx
  packages/terra-time-input/src/terra-dev-site/test/time-input/twelve-hour/FilledMorning.test.jsx
  packages/terra-time-input/src/terra-dev-site/test/time-input/twelve-hour/Mobile.test.jsx
Labels: date time picker, enhancement

#658 Update react-transition-group to latest stable major release
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/package.json
Labels: Major Version Bump, dependency-update, slide-group

#659 [terra-date-time-picker] Update upgrade guide with breaking changes.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/docs/UPGRADEGUIDE.md
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/docs/DateTimePickerEvents.md
  packages/terra-date-time-picker/docs/UPGRADEGUIDE.md
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/docs/UpgradeGuide.md
Labels: date time picker, datepicker, tech-only, time input

#662 Update tabindex logic on main element
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.jsx
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
Labels: accessibility, application-header-layout, layout

#664 Make font-weight themable in navigation-side-menu item
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/navigation-side-menu-spec/Default_navigation_side_menu_display[themed].png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: navigation-side-menu

#668 [terra-date-time-picker] Fixed js error in the filterDate example.
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerFilterDates.jsx
Labels: date time picker, tech-only

#635 [terra-form-validation] Update form validation docs, add FormValidationUtil, mark package as public.
  lerna.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/docs/MaxLengthInput.md
  packages/terra-form-validation/docs/NumericValidation.md
  packages/terra-form-validation/docs/ValidationFunctions.md
  packages/terra-form-validation/package.json
  packages/terra-form-validation/src/FormValidationUtil.js
  packages/terra-form-validation/src/terra-dev-site/doc/example/MaxLengthInput.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/example/NumericValidation.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ChangeLog.7.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/MaxLengthInput.5.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/NumericValidation.6.doc.jsx
  packages/terra-form-validation/tests/jest/FormValidationUtil.test.jsx
Labels: docs, form validations

#674 [terra-application-links] use Terra.should.validateElement()
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/tests/wdio/application-tabs-spec.js
Labels: application-links, tech-only, testing

#672 [terra-application-name] use Terra.should.validateElement()
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/tests/wdio/application-header-name-spec.js
  packages/terra-application-name/tests/wdio/application-menu-name-spec.js
Labels: application-name, tech-only, testing

#673 [application-menu-layout] use Terra.should.validateElement()
  packages/terra-application-menu-layout/CHANGELOG.md
  packages/terra-application-menu-layout/tests/wdio/application-menu-spec.js
Labels: application-menu-layout, tech-only, testing

#676 Fix menu font weight
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.module.scss
Labels: bug-fix, menu

#605 Creating the NavigationPrompt
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/LICENSE
  packages/terra-navigation-prompt/NOTICE
  packages/terra-navigation-prompt/README.md
  packages/terra-navigation-prompt/docs/README.md
  packages/terra-navigation-prompt/docs/implementation-guide/IMPLEMENTATION_GUIDE_PART_0.md
  packages/terra-navigation-prompt/docs/implementation-guide/IMPLEMENTATION_GUIDE_PART_1.md
  packages/terra-navigation-prompt/docs/implementation-guide/IMPLEMENTATION_GUIDE_PART_2.md
  packages/terra-navigation-prompt/package.json
  packages/terra-navigation-prompt/src/NavigationPrompt.jsx
  packages/terra-navigation-prompt/src/NavigationPromptCheckpoint.jsx
  packages/terra-navigation-prompt/src/PromptRegistrationContext.jsx
  packages/terra-navigation-prompt/src/_withPromptRegistration.jsx
  packages/terra-navigation-prompt/src/index.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/About.0.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/ChangeLog.2.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart0.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart1.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart2.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/NavigationPromptExample.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part0-ReviewingExample.1.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part1-AddingPrompts.2.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part2-UsingCustomHandler.3.doc.jsx
  packages/terra-navigation-prompt/tests/jest/NavigationPrompt.test.jsx
  packages/terra-navigation-prompt/tests/jest/NavigationPromptCheckpoint.test.jsx
  packages/terra-navigation-prompt/tests/jest/__snapshots__/NavigationPrompt.test.jsx.snap
  packages/terra-navigation-prompt/tests/jest/__snapshots__/NavigationPromptCheckpoint.test.jsx.snap
  packages/terra-navigation-prompt/tests/jest/__snapshots__/withPromptRegistration.test.jsx.snap
  packages/terra-navigation-prompt/tests/jest/withPromptRegistration.test.jsx
Labels: navigation-prompt, new component

#670 [application-header-layout] use Terra.should.validateElement()
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_huge/application-header-spec/Displays_a_application_header_layout_with_themeable_styles[--terra-application-header-layout-logo-min-width].png
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/application-header-spec/Displays_a_default_application_header_layout[--terra-application-header-layout-logo-min-width].png
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-header-spec/Displays_a_default_application_header_layout[--terra-application-header-layout-logo-min-width].png
  packages/terra-application-header-layout/tests/wdio/application-header-spec.js
Labels: application-header-layout, tech-only, testing

#669 [terra-aggregator] use Terra.should.validateElement()
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/tests/wdio/aggregator-spec.js
Labels: aggregator, tech-only, testing

#671 [application-utility] use Terra.should.validateElement()
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/tests/wdio/application-header-utility-spec.js
  packages/terra-application-utility/tests/wdio/application-menu-utility-spec.js
  packages/terra-application-utility/tests/wdio/header-utility-menu-spec.js
  packages/terra-application-utility/tests/wdio/menu-utility-menu-spec.js
Labels: application-utility, tech-only, testing

#666 Use validate element abstract modal
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Custom_Focusable_Fallback_Function[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Custom_Focusable_Fallback_Selector[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Disable_Close_On_Esc[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Disable_Close_On_Outside_Click[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Fullscreen[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Fullscreen[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Fullscreen[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Open[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Open[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Open[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Modal_has_focus_trap_applied[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/No_Focusable_Content[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Override_Role[default].png
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_huge/application-header-spec/Displays_an_application_header_toggle_with_hover_styling[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-header-spec/Displays_a_default_application_header[themed].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-header-spec/Displays_an_application_header_toggle_standard[themed].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-header-spec/Displays_an_application_header_utilities[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Displays_an_application_layout_with_no_header_content[default].1.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-menu-spec/Displays_a_default_application_menu[themed].png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-header-name-spec/Displays_a_default_application_header_name[themed].png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-menu-name-spec/Displays_a_default_application_menu_name[themed].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_medium/header-utility-menu-spec/Displays_a_default_header_utility_menu[default].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_medium/header-utility-menu-spec/Displays_a_default_header_utility_menu[themed-fonts].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_medium/header-utility-menu-spec/Displays_a_default_header_utility_menu[themed-padding].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_medium/header-utility-menu-spec/Displays_a_default_header_utility_menu[themed].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_medium/header-utility-menu-spec/Focus-header_utility_menu[--terra-application-utility-header-menu-body-item-focus-box-shadow].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_medium/header-utility-menu-spec/Focus-header_utility_menu[default].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_medium/header-utility-menu-spec/Hover-header_utility_menu[--terra-application-utility-header-menu-body-item-hover-background-color].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_medium/header-utility-menu-spec/Hover-header_utility_menu[default].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-header-utility-spec/Displays_a_default_application_header_utility[themed].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-header-utility-spec/Focus-application_header_utility[--terra-application-utility-header-focus-box-shadow].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-header-utility-spec/Hover-application_header_utility[--terra-application-utility-header-hover-background-color].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-menu-utility-spec/Displays_a_default_application_menu_utility[themed].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-menu-utility-spec/Focus-application_menu_utility[--terra-application-utility-menu-focus-box-shadow].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-menu-utility-spec/Hover-application_menu_utility[--terra-application-utility-menu-hover-background-color].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/header-utility-menu-spec/Displays_a_default_header_utility_menu[default].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/header-utility-menu-spec/Displays_a_default_header_utility_menu[themed-fonts].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/header-utility-menu-spec/Displays_a_default_header_utility_menu[themed-padding].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/header-utility-menu-spec/Displays_a_default_header_utility_menu[themed].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/header-utility-menu-spec/Focus-header_utility_menu[--terra-application-utility-header-menu-body-item-focus-box-shadow].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/header-utility-menu-spec/Focus-header_utility_menu[default].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/header-utility-menu-spec/Hover-header_utility_menu[--terra-application-utility-header-menu-body-item-hover-background-color].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/en/chrome_tiny/header-utility-menu-spec/Hover-header_utility_menu[default].png
Labels: abstract-modal, tech-only, testing

#642 Add DatePickerField
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/docs/DatePickerField.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/src/DatePickerField.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/ChangeLog.3.doc.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePickerField.2.doc.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerField.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerDefaultDateBeforeMinDateOnly.test.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerField.test.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DisabledDatePickerField.test.jsx
  packages/terra-date-picker/tests/jest/DatePickerField.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Disabled_DatePickerField[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Invalid_DatePickerField[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Valid_DatePickerField[default].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: datepicker, new component

#686 [terra-tabs] Add two new theme variables
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/StructuralTabs.module.scss
Labels: tabs

#683 Fix escape key disabling focus trap in notification dialog
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/src/NotificationDialog.jsx
Labels: accessibility, notification-dialog

#689 Update badges to point to travis-ci.com
  .travis.yml
  DEPENDENCIES.md
  README.md
  packages/terra-abstract-modal/README.md
  packages/terra-aggregator/README.md
  packages/terra-application-header-layout/README.md
  packages/terra-application-layout/README.md
  packages/terra-application-links/README.md
  packages/terra-application-menu-layout/README.md
  packages/terra-application-name/README.md
  packages/terra-application-utility/README.md
  packages/terra-brand-footer/README.md
  packages/terra-collapsible-menu-view/README.md
  packages/terra-date-picker/README.md
  packages/terra-date-time-picker/README.md
  packages/terra-dialog-modal/README.md
  packages/terra-disclosure-manager/README.md
  packages/terra-embedded-content-consumer/README.md
  packages/terra-form-validation/README.md
  packages/terra-hookshot/README.md
  packages/terra-infinite-list/README.md
  packages/terra-layout/README.md
  packages/terra-menu/README.md
  packages/terra-modal-manager/README.md
  packages/terra-navigation-layout/README.md
  packages/terra-navigation-prompt/README.md
  packages/terra-navigation-side-menu/README.md
  packages/terra-notification-dialog/README.md
  packages/terra-popup/README.md
  packages/terra-slide-group/README.md
  packages/terra-slide-panel-manager/README.md
  packages/terra-slide-panel/README.md
  packages/terra-tabs/README.md
  packages/terra-theme-provider/README.md
  packages/terra-time-input/README.md
Labels: docs

#697 [terra-form-validation] Fixing onSubmit example
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/src/terra-dev-site/doc/example/ValidationOnSubmit.jsx
Labels: bug-fix, form validations
