Repository cerner/terra-framework, pull requests merged in 2019-04, with the labels that each got.

#555 [terra-date-time-picker] Tweaking workflow logic for onChange when given ambiguous date-time.
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_are_clicking_daylight_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_are_clicking_the_standard_time_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Time_Clarification_Dialog_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Time_Clarification_Dialog_Dismissal[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Displays_Offset_button_are_clicking_daylight_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Displays_Offset_button_are_clicking_the_standard_time_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Time_Clarification_Dialog_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Time_Clarification_Dialog_Dismissal[1].png
Labels: date time picker

#582 [terra-application-utility] Fix UL / LI accessibility violation issue on doc page.
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/terra-dev-site/test/application-utility/DefaultApplicationHeaderUtility.test.jsx
  packages/terra-application-utility/src/terra-dev-site/test/application-utility/DefaultApplicationMenuUtility.test.jsx
  packages/terra-application-utility/src/terra-dev-site/test/application-utility/DefaultHeaderUtilityMenu.test.jsx
  packages/terra-application-utility/src/terra-dev-site/test/application-utility/DefaultMenuUtilityMenu.test.jsx
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
  packages/terra-application-utility/src/utility/_UtilityMenuItem.jsx
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenuItem.test.jsx.snap
Labels: accessibility, application-utility, tech-only

#545 Add embedded content provider test template
  dev-site-config/navigation.config.js
  dev-site-config/site.config.js
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/README.md
  packages/terra-embedded-content-consumer/docs/README.md
  packages/terra-embedded-content-consumer/docs/TestingEmbeddedApplications.md
  packages/terra-embedded-content-consumer/src/EmbeddedContentProviderTestTemplate.jsx
  packages/terra-embedded-content-consumer/src/ProviderIframe.module.scss
  packages/terra-embedded-content-consumer/src/ProviderTestTemplate.scss
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/ChangeLog.3.doc.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/EmbeddedContentConsumer.1.doc.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/TestingEmbeddedContent.2.doc.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/BasicConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/CustomEventConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/CustomEventsConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/DataStatusConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/FillConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/OnReadyConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/BasicProvider.provider.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/CustomEventProvider.provider.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/CustomEventsProvider.provider.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/DataStatusProvider.provider.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumer.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/consumers/CustomEventConsumer.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/consumers/CustomEventsConsumer.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/consumers/DataStatusConsumer.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/consumers/FillConsumer.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/consumers/OnReadyConsumer.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/providers/BasicProvider.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/providers/CustomEventProvider.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/providers/CustomEventsProvider.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/providers/DataStatusProvider.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/providers/FillProvider.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/providers/OnReadyProvider.test.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/providers/Provider.scss
  packages/terra-embedded-content-consumer/tests/jest/EmbeddedContentProviderTestTemplate.test.jsx
  packages/terra-embedded-content-consumer/tests/jest/__snapshots__/EmbeddedContentProviderTestTemplate.test.jsx.snap
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_large/embedded-content-consumer-spec/custom-event[EventA].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_large/embedded-content-consumer-spec/custom-event[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_large/embedded-content-consumer-spec/custom-events[EventA].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_large/embedded-content-consumer-spec/custom-events[EventB].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_large/embedded-content-consumer-spec/custom-events[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_large/embedded-content-consumer-spec/default[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_large/embedded-content-consumer-spec/fill[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_large/embedded-content-consumer-spec/on-ready[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_tiny/embedded-content-consumer-spec/custom-event[EventA].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_tiny/embedded-content-consumer-spec/custom-event[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_tiny/embedded-content-consumer-spec/custom-events[EventA].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_tiny/embedded-content-consumer-spec/custom-events[EventB].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_tiny/embedded-content-consumer-spec/custom-events[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_tiny/embedded-content-consumer-spec/default[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_tiny/embedded-content-consumer-spec/fill[default].png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/en/chrome_tiny/embedded-content-consumer-spec/on-ready[default].png
  packages/terra-embedded-content-consumer/tests/wdio/embedded-content-consumer-spec.js
  packages/terra-embedded-content-consumer/tests/wdio/embedded-content-provider-test-template-spec.js
Labels: docs, embedded-content-consumer, new feature

#599 Fix up minor accessibility issues
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/terra-dev-site/doc/example/ExampleApplicationWithNavIcons.jsx
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyInitialLoadingIndicator.module.scss
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyProgressiveLoadingIndicator.module.scss
Labels: accessibility

#584 Added this.panelNode.Focus() to set focus for Slide panel on Open
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_explicit_close[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_focus_release[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Open[default].png
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Default[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Height-240[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Height-420[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Height-600[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Height-690[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Huge[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Large[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Medium[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Small[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Tiny[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Width-320[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Width-480[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Width-640[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Close_Disclosure[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Dismiss[default].png
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelToggle.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Toggle_the_slide_panel_click[default].png
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: slide-panel

#601 Replace react-popper usage in terra-date-picker with terra-hookshot
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DatePositionUtil.js
  packages/terra-date-picker/src/_PopperContainer.jsx
  packages/terra-date-picker/src/_PopperContainer.module.scss
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/src/react-datepicker/popper_component.jsx
  packages/terra-date-picker/src/react-datepicker/stylesheets/datepicker.scss
  packages/terra-date-picker/src/react-datepicker/stylesheets/mixins.scss
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-popup/tests/jest/__snapshots__/PopupContent.test.jsx.snap
Labels: datepicker, dependency-update

#604 [terra-application-header-layout] Fixed alignment of the header content.
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.jsx
  packages/terra-application-header-layout/src/terra-dev-site/test/application-header-layout/ApplicationHeaderWithLogoAndUtilitiesOnly.test.jsx
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/application-header-spec/Displays_a_application_header_layout_with_logo_and_utilities_only[default].png
  packages/terra-application-header-layout/tests/wdio/__snapshots__/reference/en/chrome_tiny/application-header-spec/Displays_a_application_header_layout_with_logo_and_utilities_only[default].png
  packages/terra-application-header-layout/tests/wdio/application-header-spec.js
Labels: application-header-layout, bug-fix, tech-only

#596 [terra-application-layout] Updated RoutingMenu to correctly synchronize internal state with props s provided after initial mount
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/menu/RoutingMenu.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/common/ApplicationMenu.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/example/ExampleApplication.jsx
Labels: application-layout, tech-only

#583 [terra-disclosure-manager] Introduced safety checks for nested disclosure dismissals
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-disclosure-manager/tests/jest/DisclosureManager.test.jsx
Labels: disclosure-manager

#600 Fixes circular dependency issue in terra-hookshot due to dependency on terra-form-select
  CONTRIBUTORS.md
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-hookshot/src/terra-dev-site/doc/example/BoundedHookshotExample.jsx
  packages/terra-hookshot/src/terra-dev-site/doc/example/CoordsHookshotExample.jsx
  packages/terra-hookshot/src/terra-dev-site/doc/example/HookshotExample.jsx
Labels: docs, hookshot, tech-only

#615 [embedded-content-consumer] Add guard clause
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/DataStatusConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/test/embedded-content-consumer/consumers/DataStatusConsumer.test.jsx
Labels: embedded-component, tech-only

#617 [terra-slide-panel] Turn focus outline off; replace transition logic
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_explicit_close[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_focus_release[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Open[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Default[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Height-240[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Height-420[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Height-600[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Height-690[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Huge[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Large[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Medium[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Small[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Tiny[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Width-320[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Width-480[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclose_Width-640[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Close_Disclosure[default].png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-manager-spec/Disclosure_-_Dismiss[default].png
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/SlidePanel.module.scss
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Toggle_the_slide_panel_click[default].png
Labels: Needs UX review, slide-panel

#620 [terra-application-links] Update Color Contrast in Examples
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsCenter.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsEnd.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsExternal.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsLengthChange.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsStart.test.jsx
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_application_tabs_center_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_application_tabs_end_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_application_tabs_start_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_application_tabs_center_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_application_tabs_end_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_application_tabs_start_aligned[default].png
Labels: accessibility, application-links, tech-only, testing

#624 [terra-disclosure-manager] Explicitly documenting the required arguments for the disclose behavior
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/docs/README.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
Labels: disclosure-manager

#585 [terra-date-time-picker] Expose onSelect
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePickerOnSelect.test.jsx
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/OnSelect[0].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/OnSelect[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/OnSelect[2].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/OnSelect[0].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/OnSelect[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/OnSelect[2].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: date time picker

#595 [terra-date-picker] Character limit on Date input
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/DateUtil.js
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Key_Limitations[default].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: datepicker

#636 Added custom css property for font-weight in MenuItem
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-menu/src/MenuItem.module.scss
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Default[themed].png
  packages/terra-menu/tests/wdio/menu-item-spec.js
Labels: menu, tech-only, theming
