Repository cerner/terra-framework, pull requests merged in 2019-02, with the labels that each got.

#487 Added discernible text to footer Terra UI link
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/src/terra-dev-site/doc/example/DefaultBrandFooter.jsx
  packages/terra-brand-footer/src/terra-dev-site/doc/example/VerticalBrandFooter.jsx
Labels: brand-footer, docs

#499 Wrapped collapsible menu items in <li> tags
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItemGroup.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItemGroup.test.jsx.snap
Labels: collapsible-menu-view, tech-only

#503 Fixes issue #2074 DatetimePicker throws NPE if manually entered valid datetime is outside of allotted datetime range
  CONTRIBUTORS.md
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/DateTimeUtils.js
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
Labels: date time picker

#437 Updates for FF and IE Driver Compatibility
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/terra-dev-site/test/application-layout/RoutingMenuExternal.test.jsx
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/routing-menu-spec/Navigates_away_from_the_site[default].png
  packages/terra-application-layout/tests/wdio/routing-menu-spec.js
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/terra-dev-site/test/common/testExternalConfig.js
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Navigates_away_from_the_site[External_tabs].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Navigates_away_from_the_site[External_tabs].png
  packages/terra-application-links/tests/wdio/application-tabs-spec.js
  packages/terra-application-utility/terra-application-utility.tgz
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/tests/wdio/__snapshots__/reference/en/chrome_medium/hookshot-spec/Closes_the_hookshot_content_on_ESC_when_no_close_behavior_is_present[default].png
  packages/terra-hookshot/tests/wdio/__snapshots__/reference/en/chrome_small/hookshot-spec/Closes_the_hookshot_content_on_resize_when_no_close_behavior_is_present[default].png
  packages/terra-hookshot/tests/wdio/hookshot-spec.js
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/tests/wdio/notification-dialog-spec.js
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/tests/wdio/time-input-twelve-hour-mobile-spec.js
Labels: tech-only, testing

#530 [terra-popup] Fix broken example.
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/terra-dev-site/doc/example/PopupModalContent.jsx
Labels: docs, popup

#516 [terra-application-links] Add styling and fix spec tests.
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/ApplicationTabs.module.scss
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_application_tabs_center_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_application_tabs_end_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_application_tabs_start_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_default_application_tabs[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_hidden_application_tabs_selection[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_collapsed_application_tabs[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_collapsed_application_tabs[themed].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_application_tabs_center_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_application_tabs_end_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_application_tabs_start_aligned[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_default_application_tabs[#test-tabs].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_default_application_tabs[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_default_application_tabs[themed].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_hidden_application_tabs_selection[#test-tabs].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_a_hidden_application_tabs_selection[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_collapsed_application_tabs[default].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_small/application-tabs-spec/Displays_collapsed_application_tabs[themed].png
  packages/terra-application-links/tests/wdio/application-tabs-spec.js
Labels: application-links, bug, testing
