Repository cerner/terra-framework, pull requests merged in 2019-01, with the labels that each got.

#414 Notification dialog remove required onRequestClose prop
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/docs/README.md
  packages/terra-notification-dialog/src/NotificationDialog.jsx
  packages/terra-notification-dialog/src/terra-dev-site/doc/example/CompleteNotificationDialog.jsx
  packages/terra-notification-dialog/src/terra-dev-site/doc/example/CompleteNotificationDialogWithLongMessage.jsx
  packages/terra-notification-dialog/src/terra-dev-site/doc/example/NoVariantNotificationDialog.jsx
  packages/terra-notification-dialog/src/terra-dev-site/doc/example/NotificationDialogWithFocus.jsx
  packages/terra-notification-dialog/src/terra-dev-site/doc/example/NotificationDialogWithLongText.jsx
  packages/terra-notification-dialog/src/terra-dev-site/test/notification-dialog/CompleteNotificationDialog.test.jsx
  packages/terra-notification-dialog/src/terra-dev-site/test/notification-dialog/CompleteNotificationDialogWithLongMessage.test.jsx
  packages/terra-notification-dialog/src/terra-dev-site/test/notification-dialog/NoVariantNotificationDialog.test.jsx
  packages/terra-notification-dialog/src/terra-dev-site/test/notification-dialog/NotificationDialogMinimalProps.test.jsx
  packages/terra-notification-dialog/src/terra-dev-site/test/notification-dialog/NotificationDialogNoMessage.test.jsx
  packages/terra-notification-dialog/src/terra-dev-site/test/notification-dialog/NotificationDialogNoTitle.test.jsx
  packages/terra-notification-dialog/src/terra-dev-site/test/notification-dialog/NotificationDialogVariant.test.jsx
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
Labels: bug, notification-dialog

#426 Increase UserData CSS Class Specificity
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/user/UserData.module.scss
Labels: tech-only

#411 Site accessibility
  README.md
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/BasicConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/CustomEventConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/CustomEventsConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/DataStatusConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/FillConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/OnReadyConsumer.jsx
Labels: accessibility

#422 Remove unneeded dependency
  DEPENDENCIES.md
  package.json
  scripts/dependency-markdown-generator/DependencyMarkdownGenerator.js
Labels: build-tools

#378 Remove use of componentWillReceiveProps from infinite list
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/InfiniteList.jsx
Labels: infinite-list, tech-only

#376 Remove use of componentWillReceiveProps from popup
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/Popup.jsx
Labels: popup, tech-only

#377 Remove use of componentWillReceiveProps from aggregator
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/src/Aggregator.jsx
Labels: aggregator, tech-only

#372 Remove use of componentWillReceiveProps from navigation side menu
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
Labels: navigation-side-menu, tech-only

#374 Remove use of componentWillReceiveProps from application layout
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/ApplicationLayout.jsx
  packages/terra-application-layout/src/menu/RoutingMenu.jsx
Labels: application-layout, tech-only

#375 Remove use of componentWillReceiveProps from theme provider
  packages/terra-theme-provider/CHANGELOG.md
  packages/terra-theme-provider/src/ThemeProvider.jsx
Labels: tech-only, terra-theme-provider

#427 Add .npmignore to Package
  packages/terra-aggregator/.npmignore
  packages/terra-application-header-layout/.npmignore
  packages/terra-application-layout/.npmignore
  packages/terra-application-links/.npmignore
  packages/terra-application-menu-layout/.npmignore
  packages/terra-application-name/.npmignore
  packages/terra-application-utility/.npmignore
  packages/terra-brand-footer/.npmignore
  packages/terra-dialog-modal/.npmignore
  packages/terra-disclosure-manager/.npmignore
  packages/terra-embedded-content-consumer/.npmignore
  packages/terra-form-validation/.npmignore
  packages/terra-hookshot/.npmignore
  packages/terra-infinite-list/.npmignore
  packages/terra-layout/.npmignore
  packages/terra-modal-manager/.npmignore
  packages/terra-navigation-layout/.npmignore
  packages/terra-navigation-side-menu/.npmignore
  packages/terra-notification-dialog/.npmignore
  packages/terra-popup/.npmignore
  packages/terra-slide-group/.npmignore
  packages/terra-slide-panel-manager/.npmignore
  packages/terra-slide-panel/.npmignore
  packages/terra-theme-provider/.npmignore
  packages/terra-time-input/.npmignore
Labels: build-tools, tech-only

#365 Remove component will receive props from application links
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/ApplicationTabs.jsx
  packages/terra-application-links/src/tabs/_TabMenu.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsCenter.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsDefault.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsEnd.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsExternal.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsLengthChange.test.jsx
  packages/terra-application-links/src/terra-dev-site/test/application-links/ApplicationTabsStart.test.jsx
Labels: application-links, tech-only

#370 Remove use of componentWillReceiveProps from hookshot
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/Hookshot.jsx
Labels: hookshot, tech-only

#371 Remove use of componentWillReceiveProps from application utility
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
Labels: application-utility, tech-only

#410 Remove _PopupContent Unused Styling, Add Text Label for A11y
  README.md
  package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-popup/src/_PopupContent.jsx
  packages/terra-popup/translations/ar.json
  packages/terra-popup/translations/de.json
  packages/terra-popup/translations/en-GB.json
  packages/terra-popup/translations/en-US.json
  packages/terra-popup/translations/en.json
  packages/terra-popup/translations/es-ES.json
  packages/terra-popup/translations/es-US.json
  packages/terra-popup/translations/es.json
  packages/terra-popup/translations/fi-FI.json
  packages/terra-popup/translations/fr-FR.json
  packages/terra-popup/translations/fr.json
  packages/terra-popup/translations/nl-BE.json
  packages/terra-popup/translations/nl.json
  packages/terra-popup/translations/pt-BR.json
  packages/terra-popup/translations/pt.json
  packages/terra-popup/translations/sv-SE.json
  packages/terra-popup/translations/sv.json
Labels: bug-fix, popup

#435 Support text transform nav
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTORS.md
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/ApplicationTabs.module.scss
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_a_default_application_tabs[themed].png
  packages/terra-application-links/tests/wdio/__snapshots__/reference/en/chrome_large/application-tabs-spec/Displays_collapsed_application_tabs[themed].png
  packages/terra-application-links/tests/wdio/application-tabs-spec.js
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/navigation-side-menu-spec/Default_navigation_side_menu_display[themed].png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: application-links, enhancement

#436 Repo Dependency / Script Changes
  DEPENDENCIES.md
  README.md
  package.json
  packages/terra-aggregator/docs/DEPENDENCIES.md
  packages/terra-aggregator/package.json
  packages/terra-application-header-layout/package.json
  packages/terra-application-layout/docs/DEPENDENCIES.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/docs/DEPENDENCIES.md
  packages/terra-application-links/package.json
  packages/terra-application-menu-layout/package.json
  packages/terra-application-name/docs/DEPENDENCIES.md
  packages/terra-application-name/package.json
  packages/terra-application-utility/docs/DEPENDENCIES.md
  packages/terra-application-utility/package.json
  packages/terra-brand-footer/package.json
  packages/terra-dialog-modal/docs/DEPENDENCIES.md
  packages/terra-dialog-modal/package.json
  packages/terra-disclosure-manager/package.json
  packages/terra-embedded-content-consumer/package.json
  packages/terra-form-validation/package.json
  packages/terra-hookshot/package.json
  packages/terra-infinite-list/package.json
  packages/terra-layout/package.json
  packages/terra-modal-manager/docs/DEPENDENCIES.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-layout/docs/DEPENDENCIES.md
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-side-menu/package.json
  packages/terra-notification-dialog/docs/DEPENDENCIES.md
  packages/terra-notification-dialog/package.json
  packages/terra-popup/docs/DEPENDENCIES.md
  packages/terra-popup/package.json
  packages/terra-slide-group/package.json
  packages/terra-slide-panel-manager/docs/DEPENDENCIES.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/package.json
  packages/terra-theme-provider/package.json
  packages/terra-time-input/package.json
  scripts/clean-modules/index.js
  scripts/post-install/index.js
Labels: build-tools

#443 Add branding theme updates
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/header/ApplicationHeader.module.scss
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Renders_primary_nav_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Toggles_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/application-header-spec.js
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/src/LayoutSlidePanel.module.scss
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/navigation-side-menu-spec/Selected_navigation_side_menu_display[themedBackgroundImage].png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: application-layout, layout, navigation-side-menu, theming

#434 Setup a docker dev env
  Dockerfile
  docker-compose.yml
Labels: build-tools

#442 Add Example for Validation with Datepicker
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/docs/ValidationComponents.md
  packages/terra-form-validation/examples/FormValidation.site-page.jsx
  packages/terra-form-validation/examples/ValidationComponents.site-page.jsx
  packages/terra-form-validation/examples/ValidationEvents.site-page.jsx
  packages/terra-form-validation/examples/ValidationFunctions.site-page.jsx
  packages/terra-form-validation/examples/index-examples/DefaultFormValidation.jsx
  packages/terra-form-validation/examples/index-examples/FormSubmitCheckboxField.jsx
  packages/terra-form-validation/examples/index-examples/FormSubmitRadioField.jsx
  packages/terra-form-validation/examples/index-examples/ValidationDisableSubmit.jsx
  packages/terra-form-validation/examples/index-examples/ValidationOnInput.jsx
  packages/terra-form-validation/examples/index-examples/ValidationOnSubmit.jsx
  packages/terra-form-validation/examples/index-examples/ValidationParsing.jsx
  packages/terra-form-validation/package.json
  packages/terra-form-validation/src/terra-dev-site/doc/example/FormSubmitDatePicker.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ValidationComponents.2.doc.jsx
Labels: form validations

#450 Hookshot cleanup
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/Hookshot.jsx
  packages/terra-hookshot/src/HookshotContent.module.scss
  packages/terra-hookshot/src/_HookshotUtils.js
Labels: hookshot, tech-only

#444 Changed Application Links role from tab to link for accessibility. Issue #259
  CONTRIBUTORS.md
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/_Tab.jsx
Labels: accessibility, application-links

#478 Remove shx dependency
  DEPENDENCIES.md
  package.json
  packages/terra-aggregator/package.json
  packages/terra-application-header-layout/package.json
  packages/terra-application-layout/package.json
  packages/terra-application-links/package.json
  packages/terra-application-menu-layout/package.json
  packages/terra-application-name/package.json
  packages/terra-application-utility/package.json
  packages/terra-brand-footer/package.json
  packages/terra-dialog-modal/package.json
  packages/terra-disclosure-manager/package.json
  packages/terra-embedded-content-consumer/package.json
  packages/terra-form-validation/package.json
  packages/terra-hookshot/package.json
  packages/terra-infinite-list/package.json
  packages/terra-layout/package.json
  packages/terra-modal-manager/package.json
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-side-menu/package.json
  packages/terra-notification-dialog/package.json
  packages/terra-popup/package.json
  packages/terra-slide-group/package.json
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/package.json
  packages/terra-theme-provider/package.json
  packages/terra-time-input/package.json
Labels: build-tools

#479 clean up dependencies
  package.json
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-time-picker/package.json
  packages/terra-menu/package.json
  packages/terra-time-input/package.json
Labels: dependency-update

#489 Add abstract-modal to terra-framework
  packages/terra-abstract-modal/.npmignore
  packages/terra-abstract-modal/.npmrc
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/LICENSE
  packages/terra-abstract-modal/NOTICE
  packages/terra-abstract-modal/README.md
  packages/terra-abstract-modal/docs/DEPENDENCIES.md
  packages/terra-abstract-modal/docs/README.md
  packages/terra-abstract-modal/docs/UPGRADEGUIDE.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/AbstractModal.module.scss
  packages/terra-abstract-modal/src/ModalOverlay.module.scss
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/src/_ModalOverlay.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/AbstractModal.doc.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/ChangeLog.doc.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalCloseOnOutsideClick.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalFallbackFocusFunction.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalFallbackFocusSelector.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalIsFullscreen.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalIsOpened.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/ExampleAbstractSize.module.scss
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalAppendClass.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalContentOverflow.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalCustomProps.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalDisableCloseOnEsc.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalDisableCloseOnOutsideClick.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalFallbackFocusFunction.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalFallbackFocusSelector.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalIsFullscreen.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalIsOpen.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalNoFocusableContent.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalOverrideRole.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalTestStyles.module.scss
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModalExample.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Content_Overflow[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Content_Overflow[themed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Custom_Focusable_Fallback_Function[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Custom_Focusable_Fallback_Selector[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Disable_Close_On_Esc[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Disable_Close_On_Outside_Click[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Modal_has_focus_trap_applied[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/No_Focusable_Content[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Override_Role[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Append_Class[default].png
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
Labels: abstract-modal, tech-only
