Repository cerner/terra-framework, pull requests merged in 2019-03, with the labels that each got.

#493 Add 'escapeDeactivates' Option to 'abstract-modal' Focus Trap
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
  packages/terra-time-input/tests/wdio/time-input-twelve-hour-mobile-spec.js
Labels: abstract-modal, tech-only

#532 Disclosure manager docs
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/UpgradeGuide.3.doc.md
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/docs/README.md
  packages/terra-modal-manager/docs/UPGRADEGUIDE.md
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/docs/README.md
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/docs/README.md
  packages/terra-slide-panel-manager/docs/UPGRADEGUIDE.md
Labels: docs

#535 [terra-hookshot] Add behavior to disable onclickoutside if the callback isn't passed.
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/Hookshot.jsx
  packages/terra-hookshot/src/HookshotContent.jsx
Labels: hookshot, tech-only

#501 Fixes Issue #272 Added role property for Utility Menu
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationHeader.test.jsx.snap
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/ApplicationHeaderUtility.jsx
  packages/terra-application-utility/src/ApplicationMenuUtility.jsx
  packages/terra-application-utility/src/utility/_UtilityButton.jsx
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
  packages/terra-application-utility/tests/jest/ApplicationHeaderUtility.test.jsx
  packages/terra-application-utility/tests/jest/ApplicationMenuUtility.test.jsx
  packages/terra-application-utility/tests/jest/UtilityMenu.test.jsx
  packages/terra-application-utility/tests/jest/__snapshots__/ApplicationHeaderUtility.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/ApplicationMenuUtility.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityButton.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenu.test.jsx.snap
Labels: Needs functional review, accessibility, application-utility

#542 Remove terra-heading dependency from terra-modal-manager
  CONTRIBUTORS.md
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
Labels: dependency-update, modal-manager, tech-only

#540 Replaced local KeyCode objects with keycode-js npm package
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-links/src/tabs/ApplicationTabs.jsx
  packages/terra-application-links/src/tabs/_Tab.jsx
  packages/terra-application-links/src/tabs/_TabMenu.jsx
  packages/terra-application-links/src/tabs/_TabMenuDisplay.jsx
  packages/terra-application-links/src/tabs/_TabUtils.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-hookshot/src/HookshotContent.jsx
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-menu/src/MenuItem.jsx
  packages/terra-menu/src/_MenuContent.jsx
  packages/terra-menu/src/_MenuUtils.js
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-tabs/src/TabUtils.jsx
  packages/terra-tabs/src/_CollapsibleTabs.jsx
  packages/terra-tabs/src/_TabMenu.jsx
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/src/TimeUtil.js
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
Labels: tech-only

#541 Doc Site Updates to Correct Section 508 Errors and Warnings
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/src/terra-dev-site/doc/example/ApplicationHeaderNameStandard.jsx
  packages/terra-application-name/src/terra-dev-site/doc/example/ApplicationMenuNameStandard.jsx
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/terra-dev-site/doc/example/ApplicationHeaderUtilityExample.jsx
  packages/terra-application-utility/src/terra-dev-site/doc/example/ApplicationMenuUtilityExample.jsx
  packages/terra-application-utility/src/terra-dev-site/doc/example/MenuUtilityMenuExample.jsx
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/src/terra-dev-site/doc/example/DefaultBrandFooter.jsx
  packages/terra-brand-footer/src/terra-dev-site/doc/example/VerticalBrandFooter.jsx
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/terra-dev-site/doc/example/DialogModalOnModalManager.jsx
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/UpgradeGuide.3.doc.md
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/docs/README.md
Labels: accessibility, application-name, application-utility, brand-footer, dialog-modal, disclosure-manager, docs, popup, tech-only

#549 Add terra enzyme intl
  package.json
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/tests/jest/ApplicationHeader.test.jsx
  packages/terra-application-header-layout/tests/jest/__snapshots__/ApplicationHeader.test.jsx.snap
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/tests/jest/ApplicationHeader.test.jsx
  packages/terra-application-layout/tests/jest/utilityHelpers.test.jsx
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/tests/jest/ApplicationTabs.test.jsx
  packages/terra-application-links/tests/jest/__snapshots__/ApplicationTabs.test.jsx.snap
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/tests/jest/UtilityButton.test.jsx
  packages/terra-application-utility/tests/jest/UtilityMenu.test.jsx
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityButton.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewDivider.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewItem.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewItemGroup.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewToggle.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItem.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItemGroup.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewToggle.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/jest/intl-context-setup.js
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/tests/jest/DateInput.test.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/TimeClarification.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
  packages/terra-date-time-picker/tests/jest/__snapshots__/TimeClarification.test.jsx.snap
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/tests/jest/NotificationDialog.test.jsx
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
  packages/terra-notification-dialog/tests/jest/intl-context-setup.js
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/tests/jest/PopupContent.test.jsx
  packages/terra-popup/tests/jest/__snapshots__/PopupContent.test.jsx.snap
  packages/terra-popup/tests/jest/intl-context-setup.js
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/tests/jest/Tabs.test.jsx
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
  packages/terra-tabs/tests/jest/intl-context-setup.js
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
  packages/terra-time-input/tests/jest/intl-context-setup.js
Labels: tech-only, testing

#558 Update Compile Commands to Match terra-core Optimizations
  package.json
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
Labels: build-tools, tech-only

#560 Updated Example Contrast Ratio in Application Utility
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/terra-dev-site/doc/example/ApplicationHeaderUtilityExample.jsx
Labels: accessibility, application-utility

#556 Update default rootProp value in terra-abstract-modal
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-date-time-picker/tests/jest/__snapshots__/TimeClarification.test.jsx.snap
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
Labels: abstract-modal

#566 Add missing alt text to doc example image
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/terra-dev-site/doc/example/ExampleApplication.jsx
Labels: accessibility, tech-only

#504 Add Required Prop to Terra Date Picker
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
Labels: Needs UX review, datepicker, enhancement

#571 Diffs in manager docs
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/UpgradeGuide.3.doc.md
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/docs/UPGRADEGUIDE.md
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/docs/UPGRADEGUIDE.md
Labels: docs

#576 Update jest snapshots
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
Labels: layout, testing

#546 [terra-infinite-list] Update documentation for headers and subheaders
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/docs/InfiniteListSection.md
  packages/terra-infinite-list/docs/InfiniteListSubsection.md
  packages/terra-infinite-list/docs/ProgressiveLoadingList.md
  packages/terra-infinite-list/docs/README.md
  packages/terra-infinite-list/package.json
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyExampleContainer.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyInitialLoadingIndicator.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyInitialLoadingIndicator.module.scss
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyProgressiveLoadingIndicator.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyProgressiveLoadingIndicator.module.scss
  packages/terra-infinite-list/src/terra-dev-site/doc/example/InfiniteListExample.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/example/InfiniteListExample.scss
  packages/terra-infinite-list/src/terra-dev-site/doc/example/InitialLoadingExample.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/example/ProgressiveLoadingExample.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/example/VirtualizedExample.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/example/mock-data/virtualizedData.js
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/InfiniteListSection.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/InfiniteListSubsection.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/ProgressiveLoadingList.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/RefreshProgressive.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/mock-data/mock-progressive.js
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/mock-data/mock-section.js
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/mock-data/mock-subsection.js
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/ChangeLog.3.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/InfiniteList.1.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/InfiniteListSections.1.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/InfiniteListSubsections.2.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/ProgressiveLoadingList.3.doc.jsx
Labels: docs, infinite-list

#573 Fork react datepicker
  .eslintignore
  .stylelintignore
  babel.config.js
  package.json
  packages/terra-date-picker/.babelrc
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DatePicker.module.scss
  packages/terra-date-picker/src/react-datepicker/calendar.jsx
  packages/terra-date-picker/src/react-datepicker/date_utils.js
  packages/terra-date-picker/src/react-datepicker/day.jsx
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/src/react-datepicker/month.jsx
  packages/terra-date-picker/src/react-datepicker/month_dropdown.jsx
  packages/terra-date-picker/src/react-datepicker/month_dropdown_options.jsx
  packages/terra-date-picker/src/react-datepicker/popper_component.jsx
  packages/terra-date-picker/src/react-datepicker/stylesheets/datepicker-cssmodules.scss
  packages/terra-date-picker/src/react-datepicker/stylesheets/datepicker.scss
  packages/terra-date-picker/src/react-datepicker/stylesheets/mixins.scss
  packages/terra-date-picker/src/react-datepicker/stylesheets/variables.scss
  packages/terra-date-picker/src/react-datepicker/time.jsx
  packages/terra-date-picker/src/react-datepicker/week.jsx
  packages/terra-date-picker/src/react-datepicker/week_number.jsx
  packages/terra-date-picker/src/react-datepicker/year_dropdown.jsx
  packages/terra-date-picker/src/react-datepicker/year_dropdown_options.jsx
Labels: datepicker, dependency-update
