Repository cerner/terra-framework, pull requests merged in 2019-07, with the labels that each got.

#645 [terra-notification-dialog] Added max-width for IE.
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/src/NotificationDialog.jsx
  packages/terra-notification-dialog/src/NotificationDialog.module.scss
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Complete_notification-dialog_title,_message_and_actions[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Complete_notification-dialog_with_a_long_message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Error_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Info_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/No_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification-dialog_with_No_Message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification-dialog_with_No_Title[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification-dialog_with_minimal_props[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification_Dialog_shifts_focus_into_modal_on_tab[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Notification_Dialog_traps_focus_in_modal[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Success_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/notification-dialog-spec/Warning_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Complete_notification-dialog_title,_message_and_actions[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Complete_notification-dialog_with_a_long_message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Error_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Info_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/No_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification-dialog_with_No_Message[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification-dialog_with_No_Title[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification-dialog_with_minimal_props[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/NotificationDialog_with_additional_focus_trap_sources_within_a_modal_manager[Open_notification_dialog].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification_Dialog_shifts_focus_into_modal_on_tab[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Notification_Dialog_traps_focus_in_modal[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Success_Variant_notification-dialog[default].png
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/Warning_Variant_notification-dialog[default].png
Labels: notification-dialog, tech-only

#761 [terra-navigation-side-menu] Update selection a11y for menu items
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/tests/jest/__snapshots__/RoutingMenu.test.jsx.snap
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/tests/jest/NavigationSideMenu.test.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/translations/de.json
  packages/terra-navigation-side-menu/translations/en-AU.json
  packages/terra-navigation-side-menu/translations/en-GB.json
  packages/terra-navigation-side-menu/translations/en-US.json
  packages/terra-navigation-side-menu/translations/en.json
  packages/terra-navigation-side-menu/translations/es-ES.json
  packages/terra-navigation-side-menu/translations/es-US.json
  packages/terra-navigation-side-menu/translations/es.json
  packages/terra-navigation-side-menu/translations/fi-FI.json
  packages/terra-navigation-side-menu/translations/fi-FR.json
  packages/terra-navigation-side-menu/translations/fr-FR.json
  packages/terra-navigation-side-menu/translations/fr.json
  packages/terra-navigation-side-menu/translations/nl-BE.json
  packages/terra-navigation-side-menu/translations/nl.json
  packages/terra-navigation-side-menu/translations/pt-BR.json
  packages/terra-navigation-side-menu/translations/pt.json
  packages/terra-navigation-side-menu/translations/sv-SE.json
  packages/terra-navigation-side-menu/translations/sv.json
Labels: accessibility, navigation-side-menu, translations

#760 [terra-abstract-modal] Add Data Attribute to Manage Inert Status
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
Labels: abstract-modal, bug-fix, tech-only

#766 Add indicator of sub-navigation items to navigation-side-menu
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
Labels: accessibility, navigation-side-menu

#726 Replaced Terra-Form with Terra-Form-Checkbox in Collapsible Menu
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.module.scss
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewToggle.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewToggle.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_enormous/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_huge/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_Single_Item[default].png
Labels: collapsible-menu-view

#737 [terra-collapsible-menu-view] to prevent it from breaking for Single Large Item.
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.module.scss
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/SingleItemGroup.test.jsx
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_enormous/collapsible-menu-view-spec/Single_Item_Group[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_huge/collapsible-menu-view-spec/Single_Item_Group[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Single_Item_Group[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Single_Item_Group[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Single_Item_Group_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Single_Item_Group_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
Labels: bug-fix, collapsible-menu-view

#774 [application-layout] Ignore Axe Rules Removed
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/tests/wdio/application-layout-spec.js
Labels: accessibility, application-layout, testing

#781 Adding DisclosureManagerHeaderAdapter to disclosure manager
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/docs/README.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-disclosure-manager/src/DisclosureManagerHeaderAdapter.jsx
  packages/terra-disclosure-manager/src/DisclosureManagerHeaderAdapterContext.jsx
  packages/terra-disclosure-manager/tests/jest/DisclosureManager.test.jsx
  packages/terra-disclosure-manager/tests/jest/DisclosureManagerHeaderAdapter.test.jsx
  packages/terra-disclosure-manager/tests/jest/DisclosureManagerHeaderAdapterContext.test.jsx
  packages/terra-disclosure-manager/tests/jest/__snapshots__/DisclosureManagerHeaderAdapter.test.jsx.snap
Labels: disclosure-manager, enhancement, tech-only

#775 [terra-menu] Updated line-heights of Menu Items to be consistent throughout
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.module.scss
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Wrapped_Text[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Bounded[submenu].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Default[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Large_Height[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Medium_Height[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Non-Selectable[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Selectable[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Selectable_with_Varying_Items[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Selectable_with_Varying_Items[maintained_selection_after_reopen].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Small_Height[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu_Keyboard_Navigation-Arrow_Keys[main_menu_remains_open].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu_Keyboard_Navigation-Arrow_Keys[navigated_to_submenu].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu_Keyboard_Navigation-Arrow_Keys[returned_to_main_menu].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu_Keyboard_Navigation-Enter_Key[navigated_to_submenu].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu_Keyboard_Navigation-Enter_Key[returned_to_main_menu].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu_with_a_submenu[main_menu].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu_with_a_submenu[submenu].png
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Responsive_Hidden_Open[0].png
Labels: menu

#783 [terra-application-header-layout] Documentation for skip to content button
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/docs/README.md
Labels: Needs UX review, application-header-layout, docs

#768 [terra-framework] Updated components which interface with old React context API
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-links/src/tabs/_TabMenu.jsx
  packages/terra-application-links/src/tabs/_TabMenuDisplay.jsx
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DatePickerField.jsx
  packages/terra-date-picker/tests/jest/DateInput.test.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/_TimeClarification.jsx
  packages/terra-date-time-picker/tests/jest/TimeClarification.test.jsx
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-notification-dialog/src/NotificationDialog.jsx
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/_TabMenu.jsx
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
Labels: Intl, application-links, collapsible-menu-view, date time picker, datepicker, notification-dialog, tabs, time input

#787 Update package.json
  package.json
Labels: dependency-update

#798 Fix IE10 issue with dataset
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
Labels: abstract-modal, bug-fix

#799 Add node contains polyfill for IE10 / IE11 for abstract modal
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/_contains-polyfill.js
Labels: abstract-modal

#788 Replace visually-hidden-text styles with component
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/NavigationSideMenu.module.scss
Labels: navigation-side-menu

#771 Enable focus shift into modal dialogs when using VoiceOver on iOS
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/AbstractModal.doc.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalAlertDialog.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalContentOverflow.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/FullscreenAbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/translations/ar.json
  packages/terra-abstract-modal/translations/de.json
  packages/terra-abstract-modal/translations/en-AU.json
  packages/terra-abstract-modal/translations/en-GB.json
  packages/terra-abstract-modal/translations/en-US.json
  packages/terra-abstract-modal/translations/en.json
  packages/terra-abstract-modal/translations/es-ES.json
  packages/terra-abstract-modal/translations/es-US.json
  packages/terra-abstract-modal/translations/es.json
  packages/terra-abstract-modal/translations/fi-FI.json
  packages/terra-abstract-modal/translations/fr-FR.json
  packages/terra-abstract-modal/translations/fr.json
  packages/terra-abstract-modal/translations/nl-BE.json
  packages/terra-abstract-modal/translations/nl.json
  packages/terra-abstract-modal/translations/pt-BR.json
  packages/terra-abstract-modal/translations/pt.json
  packages/terra-abstract-modal/translations/sv-SE.json
  packages/terra-abstract-modal/translations/sv.json
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
  packages/terra-application-utility/tests/wdio/header-utility-menu-spec.js
  packages/terra-application-utility/tests/wdio/menu-utility-menu-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/tests/jest/ModalManager.test.jsx
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
Labels: abstract-modal, application-utility, date-time-picker, dialog-modal, modal-manager

#805 [terra-application-navigation] Fixed themable variable naming.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/tabs/Tab.module.scss
Labels: application-navigation, bug-fix, theming

#804 Mixin pattern fix
  package.json
Labels: build-tools

#811 Explicitly pull in Error icon from terra-icon instead of pulling from terra-form-field
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePickerField.jsx
Labels: datepicker, tech-only

#813 Update date time picker mobile tests in PR #764 to use hideInputCaret
  package.json
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/twelve-hour/DateTimePicker12HourMobile.test.module.scss
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/twelve-hour/DateTimePickerDisabled12HourMobile.test.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/twelve-hour/DateTimePickerEmpty12HourMobile.test.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/twelve-hour/DateTimePickerSeconds12HourMobile.test.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/twelve-hour/DateTimePickerValue12HourMobile.test.jsx
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Seconds_Mobile_-_Default[default].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-mobile-spec.js
Labels: Small, tech-only, testing

#816 [terra-application-navigation] Prevent outside clicks from passing through to buttons
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/ApplicationNavigation.jsx
  packages/terra-application-navigation/src/drawer-menu/_DrawerMenu.jsx
  packages/terra-application-navigation/tests/jest/__snapshots__/ApplicationNavigation.test.jsx.snap
Labels: application-navigation, bug-fix
