Repository cerner/terra-framework, pull requests merged in 2019-06, with the labels that each got.

#707 Update heroku build script.
  package.json
Labels: bug-fix, build-tools, tech-only

#705 [terra-navigation-side-menu] Default menu item font weight to normal
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
Labels: bug-fix, navigation-side-menu, tech-only

#694 Dangerfile changelog checking improvements
  dangerfile.js
Labels: build-tools

#708 Update gh-pages to latest major version
  package.json
Labels: build-tools, dependency-update, tech-only

#712 Fix danger message formatting
  dangerfile.js
Labels: Small, build-tools

#682 Add ARIA landmark roles to application layout
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.jsx
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/header/_ApplicationHeader.jsx
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationHeader.test.jsx.snap
  packages/terra-application-layout/tests/wdio/application-layout-spec.js
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
Labels: accessibility, application-header-layout, application-layout, layout, navigation-side-menu

#720 [terra-date-time-picker] Update wdio tests
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_are_clicking_daylight_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_are_clicking_the_standard_time_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Displays_Offset_button_are_clicking_daylight_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Displays_Offset_button_are_clicking_the_standard_time_button[1].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: date time picker

#690 Issue-688 - replaced classList shim with polyfill
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-hookshot/src/HookshotContent.jsx
Labels: hookshot, tech-only

#687 Date time picker additional time zone info
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimeUtils.js
  packages/terra-date-time-picker/src/_TimeClarification.jsx
  packages/terra-date-time-picker/tests/jest/TimeClarification.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/TimeClarification.test.jsx.snap
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_after_clicking_daylight_button[0].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_after_clicking_daylight_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_after_clicking_the_standard_time_button[0].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_after_clicking_the_standard_time_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_are_clicking_daylight_button[0].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Displays_Offset_button_are_clicking_the_standard_time_button[0].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Displays_Offset_button_after_clicking_daylight_button[0].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Displays_Offset_button_after_clicking_daylight_button[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Displays_Offset_button_after_clicking_the_standard_time_button[0].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Displays_Offset_button_after_clicking_the_standard_time_button[1].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: accessibility, date time picker, enhancement

#701 Switch date picker from terra-hookshot to terra-popup
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DatePositionUtil.js
  packages/terra-date-picker/src/react-datepicker/PopupContainer.jsx
  packages/terra-date-picker/src/react-datepicker/calendar.jsx
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/src/react-datepicker/stylesheets/datepicker.scss
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerOnClickOutside.test.jsx
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_huge/date-picker-spec/On_Click_Outside[date_picker_closed_with_dismissal_message].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Default_Date_Excluded_-_Clears_input_using_calendar_icon[default_date_cleared].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Default_Date_Excluded_-_Clears_input_using_calendar_icon[default_date_displayed].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Default_Date_Out_Of_Range_-_Clears_input_using_calendar_icon[default_date_cleared].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Disabled[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Disabled_DatePickerField[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Exclude_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Filter_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Include_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Invalid_dates_are_ignored[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Min_Max[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/On_Click_Outside[date_picker_closed].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/On_Click_Outside[date_picker_closed_with_dismissal_message].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Excluded_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Filtered_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Included_Dates_are_Enabled[default].png
Labels: bug-fix, datepicker

#723 Verify ref screenshots
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalAppendClass.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalContentOverflow.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalIsFullscreen.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalIsOpen.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalTestStyles.module.scss
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/DefaultAbstractModal.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/FullscreenAbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModalExample.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Content_Overflow[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Outside_Modal_Focus_Handling[focused_shifted_outside_the_beginning_of_the_modal].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Outside_Modal_Focus_Handling[focused_shifted_outside_the_end_of_the_modal].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Within_Modal_Focus_Handling[focused_shifted_outside_the_end_of_the_modal].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Within_Modal_Focus_Handling[modal_button_focused].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Within_Modal_Focus_Handling[modal_button_focused_again].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Within_Modal_Focus_Handling[modal_is_focused_on_open].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Append_Class[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Custom_Focusable_Fallback_Function[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Custom_Focusable_Fallback_Selector[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Default_Modal[closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Default_Modal[open].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Disable_Close_On_Esc[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Disable_Close_On_Outside_Click[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Disabled_Close_On_Esc[open].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Disabled_Close_On_Outside_Click[open].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Focusable_Content[focused_shifted_outside_the_beginning_of_the_modal].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Focusable_Content[focused_shifted_outside_the_end_of_the_modal].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Focusable_Content[modal_button_focused].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Focusable_Content[modal_button_focused_again].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Focusable_Content[modal_focused].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Fullscreen_Modal[closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Fullscreen_Modal[open].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Fullscreen[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Fullscreen[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Open[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Open[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Is_Open[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Modal_has_focus_trap_applied[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/No_Focusable_Content[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Override_Role[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Within_Modal_Focus_Handling[modal_button_focused].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Within_Modal_Focus_Handling[modal_button_focused_again].png
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
Labels: abstract-modal, testing

#718 Resolved Voice Over Navigation issue in Terra-Menu
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/_MenuContent.jsx
Labels: accessibility, menu

#727 [terra-navigation-prompt] Updated the version of terra-notification-dialog being used
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
Labels: navigation-prompt

#725 [terra-collapsible-menu-view] Adding more buttons to support wdio tests in mpages theme.
  CONTRIBUTORS.md
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/DefaultCollapsibleMenuView.test.jsx
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_enormous/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_huge/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
Labels: collapsible-menu-view

#699 Focus after trap
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/docs/UPGRADEGUIDE.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/docs/UPGRADEGUIDE.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/OnSelect[1].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/OnSelect[1].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: date time picker

#663 [terra-slide-panels] Resolved the DOM order
  CONTRIBUTORS.md
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelEnd.test.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelFill.test.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelFullscreen.test.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelLarge.test.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelNoFill.test.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelOverlay.test.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelSmall.test.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelSquish.test.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelStart.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
Labels: bug-fix, slide-panel, tech-only

#693 [terra-framework] Removed inline style for dev-site components Part 5
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/src/terra-dev-site/doc/common/ExtensionsExample.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/common/LogoExample.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/common/NavigationExample.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/common/Placeholder.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/common/Placeholder.scss
  packages/terra-application-header-layout/src/terra-dev-site/doc/common/ToggleExample.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/common/UtilitiesExample.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/example/HeaderWireframe.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/example/HeaderWireframe.scss
  packages/terra-application-header-layout/src/terra-dev-site/test/application-header-layout/ApplicationHeaderDefault.test.jsx
  packages/terra-application-header-layout/src/terra-dev-site/test/application-header-layout/ApplicationHeaderDefault.test.scss
  packages/terra-application-menu-layout/CHANGELOG.md
  packages/terra-application-menu-layout/src/terra-dev-site/doc/common/Placeholder.jsx
  packages/terra-application-menu-layout/src/terra-dev-site/doc/common/Placeholder.scss
  packages/terra-application-menu-layout/src/terra-dev-site/doc/example/MenuWireframe.jsx
  packages/terra-application-menu-layout/src/terra-dev-site/doc/example/MenuWireframe.scss
  packages/terra-application-menu-layout/src/terra-dev-site/test/application-menu-layout/ApplicationMenuDefault.test.jsx
  packages/terra-application-menu-layout/src/terra-dev-site/test/application-menu-layout/ApplicationMenuDefault.test.scss
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/src/terra-dev-site/doc/common/Placeholder.jsx
  packages/terra-application-name/src/terra-dev-site/doc/common/Placeholder.scss
  packages/terra-application-name/src/terra-dev-site/doc/example/ApplicationHeaderNameStandard.jsx
  packages/terra-application-name/src/terra-dev-site/doc/example/ApplicationHeaderNameStandard.scss
  packages/terra-application-name/src/terra-dev-site/doc/example/ApplicationMenuNameStandard.jsx
  packages/terra-application-name/src/terra-dev-site/doc/example/ApplicationMenuNameStandard.scss
  packages/terra-application-name/src/terra-dev-site/test/application-name/ApplicationHeaderNameDefault.test.jsx
  packages/terra-application-name/src/terra-dev-site/test/application-name/ApplicationHeaderNameTruncated.test.jsx
  packages/terra-application-name/src/terra-dev-site/test/application-name/ApplicationMenuNameDefault.test.jsx
  packages/terra-application-name/src/terra-dev-site/test/application-name/ApplicationMenuNameWrapping.test.jsx
  packages/terra-application-name/src/terra-dev-site/test/application-name/demoStyles.scss
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/terra-dev-site/doc/example/NavigationSideMenuExample.jsx
  packages/terra-navigation-side-menu/src/terra-dev-site/doc/example/NavigationSideMenuExample.scss
  packages/terra-navigation-side-menu/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuDefault.test.jsx
  packages/terra-navigation-side-menu/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuDefaultWithToolbar.test.jsx
  packages/terra-navigation-side-menu/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuDocCommon.scss
  packages/terra-navigation-side-menu/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuRoot.test.jsx
Labels: application-header-layout, application-menu-layout, application-name, navigation-side-menu

#728 [terra-framework] Removing -ms-overflow-style css
  packages/terra-application-menu-layout/CHANGELOG.md
  packages/terra-application-menu-layout/src/ApplicationMenuLayout.module.scss
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/InfiniteList.module.scss
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.module.scss
Labels: application-menu-layout, infinite-list, slide-panel, tech-only

#691 [terra-framework] Removed inline style for dev-site components Part 2
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/src/terra-dev-site/doc/example/BrandFooterExampleCommon.scss
  packages/terra-brand-footer/src/terra-dev-site/doc/example/DefaultBrandFooter.jsx
  packages/terra-brand-footer/src/terra-dev-site/doc/example/VerticalBrandFooter.jsx
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/BrandFooterTestCommon.scss
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/DefaultBrandFooter.test.jsx
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/HorizontalWrapBrandFooter.test.jsx
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/LinksPropBrandFooter.test.jsx
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/NoNavBrandFooter.test.jsx
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/SectionHeaderBrandFooter.test.jsx
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/VerticalMixedHeadersBrandFooter.test.jsx
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/VerticalNavBrandFooter.test.jsx
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/terra-dev-site/doc/example/DialogModalWithCustomHeaderAndCustomFooter.jsx
  packages/terra-dialog-modal/src/terra-dev-site/doc/example/DialogModalWithCustomHeaderAndCustomFooter.scss
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DiaglogModalWithSelect.test.jsx
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DiaglogModalWithSelect.test.scss
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithCustomHeaderAndCustomFooter.test.jsx
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithCustomHeaderAndCustomFooter.test.scss
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithPopup.test.jsx
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithPopup.test.scss
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/BasicProvider.provider.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/CustomEventProvider.provider.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/CustomEventsProvider.provider.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/DataStatusProvider.provider.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/provider/embedded-content-consumer/providers/EmbeddedContentConsumerCommon.scss
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/terra-dev-site/doc/example/BasicMenu.jsx
  packages/terra-menu/src/terra-dev-site/doc/example/BasicMenu.scss
  packages/terra-menu/src/terra-dev-site/doc/example/MenuBounded.jsx
  packages/terra-menu/src/terra-dev-site/doc/example/MenuBounded.scss
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemCommon.scss
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemDefault.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemSubMenu.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemWrappedText.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu/BoundedMenu.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu/BoundedMenu.test.scss
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/terra-dev-site/test/modal-manager/DisclosureComponent.jsx
  packages/terra-modal-manager/src/terra-dev-site/test/modal-manager/DisclosureComponentCommon.scss
  packages/terra-modal-manager/src/terra-dev-site/test/modal-manager/DisclosureIntegrationComponent.jsx
  packages/terra-modal-manager/src/terra-dev-site/test/modal-manager/ModalManagerCommon.test.scss
  packages/terra-modal-manager/src/terra-dev-site/test/modal-manager/ModalManagerDefault.test.jsx
  packages/terra-modal-manager/src/terra-dev-site/test/modal-manager/ModalManagerIntegration.test.jsx
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/NavigationPromptExample.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/NavigationPromptExample.scss
Labels: brand-footer, dialog-modal, embedded-content-consumer, menu, modal-manager, navigation-prompt

#732 Add screen reader loading status to proggresive infinite list
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/package.json
  packages/terra-infinite-list/src/InfiniteList.jsx
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/ProgressiveLoadingList.test.jsx
  packages/terra-infinite-list/tests/jest/InfiniteList.test.jsx
  packages/terra-infinite-list/tests/jest/__snapshots__/InfiniteList.test.jsx.snap
  packages/terra-infinite-list/translations/ar.json
  packages/terra-infinite-list/translations/de.json
  packages/terra-infinite-list/translations/en-AU.json
  packages/terra-infinite-list/translations/en-GB.json
  packages/terra-infinite-list/translations/en-US.json
  packages/terra-infinite-list/translations/en.json
  packages/terra-infinite-list/translations/es-ES.json
  packages/terra-infinite-list/translations/es-US.json
  packages/terra-infinite-list/translations/es.json
  packages/terra-infinite-list/translations/fi-FI.json
  packages/terra-infinite-list/translations/fr-FR.json
  packages/terra-infinite-list/translations/fr.json
  packages/terra-infinite-list/translations/nl-BE.json
  packages/terra-infinite-list/translations/nl.json
  packages/terra-infinite-list/translations/pt-BR.json
  packages/terra-infinite-list/translations/pt.json
  packages/terra-infinite-list/translations/sv-SE.json
  packages/terra-infinite-list/translations/sv.json
Labels: infinite-list, tech-only

#740 Update react-final-form dependency version range
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
Labels: dependency-update, form validations

#709 [terra-framework] Removed inline style for dev-site components Part 7
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/terra-dev-site/doc/example/InfiniteListDocExampleCommon.scss
  packages/terra-infinite-list/src/terra-dev-site/doc/example/ProgressiveLoadingExample.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/example/VirtualizedExample.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/InfiniteListSection.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/InfiniteListSubsection.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/ProgressiveLoadingList.jsx
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/InfiniteListLoading.test.jsx
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/InfiniteListSameCount.test.jsx
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/InfiniteListSelection.test.jsx
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/InfiniteListTestCommon.scss
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/InfiniteListUpdating.test.jsx
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/InfiniteListVirtual.test.jsx
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/InfiniteListVirtual.test.scss
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/src/terra-dev-site/doc/common/ContentExample.jsx
  packages/terra-layout/src/terra-dev-site/doc/common/LayoutDocCommon.scss
  packages/terra-layout/src/terra-dev-site/doc/common/MenuExample.jsx
  packages/terra-layout/src/terra-dev-site/doc/common/ToolbarExample.jsx
  packages/terra-layout/src/terra-dev-site/doc/common/ToolbarExample.scss
  packages/terra-layout/src/terra-dev-site/doc/example/LayoutDocExampleCommon.scss
  packages/terra-layout/src/terra-dev-site/doc/example/LayoutMenuDisabled.jsx
  packages/terra-layout/src/terra-dev-site/doc/example/LayoutNoHeader.jsx
  packages/terra-layout/src/terra-dev-site/doc/example/LayoutStandard.jsx
  packages/terra-layout/src/terra-dev-site/test/common/LayoutTestCommon.scss
  packages/terra-layout/src/terra-dev-site/test/common/TestContent.jsx
  packages/terra-layout/src/terra-dev-site/test/common/TestHeader.jsx
  packages/terra-layout/src/terra-dev-site/test/common/TestHeader.scss
  packages/terra-layout/src/terra-dev-site/test/common/TestMenu.jsx
  packages/terra-layout/src/terra-dev-site/test/layout/LayoutDefault.test.jsx
  packages/terra-layout/src/terra-dev-site/test/layout/LayoutNoHeader.test.jsx
  packages/terra-layout/src/terra-dev-site/test/layout/LayoutNoMenu.test.jsx
  packages/terra-layout/src/terra-dev-site/test/layout/LayoutSlidePanelExample.test.jsx
  packages/terra-layout/src/terra-dev-site/test/layout/TestLayoutCommon.scss
Labels: infinite-list, layout

#700 [terra-framework] Removed inline style for dev-site components Part 4
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/terra-dev-site/doc/example/PopupAttachmentBehavior.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupAttachmentBehavior.scss
  packages/terra-popup/src/terra-dev-site/doc/example/PopupBounded.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupDocCommon.scss
  packages/terra-popup/src/terra-dev-site/doc/example/PopupModalContent.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupModalContent.scss
  packages/terra-popup/src/terra-dev-site/doc/example/PopupNoHeader.jsx
  packages/terra-popup/src/terra-dev-site/test/common/PopupModalContent.jsx
  packages/terra-popup/src/terra-dev-site/test/common/PopupModalContent.scss
  packages/terra-popup/src/terra-dev-site/test/common/TestPopupContent.jsx
  packages/terra-popup/src/terra-dev-site/test/common/TestPopupContent.scss
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowHorizontalAttachmentsPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowHorizontalAttachmentsPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowSmallTargetLeftPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowSmallTargetLeftPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowSmallTargetRightPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowSmallTargetRightPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowVerticalAttachmentsPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowVerticalAttachmentsPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowVerticalLeftAdjustmentPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowVerticalLeftAdjustmentPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowVerticalRightAdjustmentPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/ArrowVerticalRightAdjustmentPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/AutomaticHeightAndResizedContentCommon.scss
  packages/terra-popup/src/terra-dev-site/test/popup/AutomaticHeightBoundedPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/AutomaticHeightBoundedPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/AutomaticHeightPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/AutomaticWidthBoundedPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/AutomaticWidthBoundedPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/AutomaticWidthPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/AutomaticWidthPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/BoundedHeightPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/BoundedHeightPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/BoundedNoHeaderPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/BoundedPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/BoundedPopupCommon.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/BoundedWidthPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/BoundedWidthPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/DefaultPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/DifferentAttachmentsPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/DifferentAttachmentsPopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/FocusTrapPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/PopupTypeCommon.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/ResizedContentPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/SizeInvalidPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/SizeLargePopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/SizeLargePopup.test.scss
  packages/terra-popup/src/terra-dev-site/test/popup/SizeMediumPopup.test.jsx
  packages/terra-popup/src/terra-dev-site/test/popup/SizePopupCommon.scss
  packages/terra-popup/src/terra-dev-site/test/popup/SizeSmallPopup.test.jsx
Labels: popup

#745 Update packages to use terra-responsive-element v5
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-header-layout/src/terra-dev-site/doc/example/HeaderWireframe.jsx
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-tabs/src/Tabs.jsx
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
Labels: dependency-update

#742 [terra-framework] Removed inline style for dev-site components Part 6
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerField.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/terra-dev-site/doc/example/BoundedHookshotExample.jsx
  packages/terra-hookshot/src/terra-dev-site/doc/example/CoordsHookshotExample.jsx
  packages/terra-hookshot/src/terra-dev-site/doc/example/HookshotDocCommon.scss
  packages/terra-hookshot/src/terra-dev-site/doc/example/HookshotExample.jsx
  packages/terra-hookshot/src/terra-dev-site/test/common/HookshotContentTestTemplate.jsx
  packages/terra-hookshot/src/terra-dev-site/test/common/HookshotTestDocCommon.scss
  packages/terra-hookshot/src/terra-dev-site/test/common/HookshotTestTemplate.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/DefaultHookshot.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotAttachmentBehaviorAuto.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotAttachmentBehaviorFlip.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotAttachmentBehaviorNone.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotAttachmentBehaviorPush.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotAttachmentMargin.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotBoundingContainer.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotCloseBehaviors.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentBC.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentBE.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentBS.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentMC.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentME.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentMS.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentTC.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentTE.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentAttachmentTS.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotContentOffset.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotCoordinates.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotEnabledBehaviors.test.jsx
  packages/terra-hookshot/src/terra-dev-site/test/hookshot/HookshotTargetOffset.test.jsx
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/InfiniteListTestCommon.scss
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/ProgressiveLoadingList.test.jsx
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/HeaderExample.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/HeaderExample.scss
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/MenuExample.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/NavigationLayoutDocCommon.scss
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/NavigationLayoutStandard.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/Page1Content.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/Page1Menu.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/Page2Content.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/Page2Menu.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/Page3Content.jsx
Labels: datepicker, hookshot, infinite-list, navigation-layout

#716 [terra-disclosure-manager] Prevent afterdismiss promise from getting resolved prior to dismissing
  CONTRIBUTORS.md
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-disclosure-manager/tests/jest/DisclosureManager.test.jsx
Labels: bug-fix, disclosure-manager

#746 Resolve known WCAG 2.1 AA issues
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItemGroup.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItemGroup.test.jsx.snap
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemDefault.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemDisabled.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemOnClick.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemSelectable.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemSubMenu.test.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemWrappedText.test.jsx
Labels: accessibility, collapsible-menu-view, menu, tech-only

#678 Rebooting terra-application as a platform package
  packages/terra-application/.npmignore
  packages/terra-application/.npmrc
  packages/terra-application/CHANGELOG.md
  packages/terra-application/LICENSE
  packages/terra-application/NOTICE
  packages/terra-application/README.md
  packages/terra-application/docs/README.md
  packages/terra-application/package.json
  packages/terra-application/src/application-base/ApplicationBase.jsx
  packages/terra-application/src/application-base/ApplicationBase.module.scss
  packages/terra-application/src/application-base/index.js
  packages/terra-application/src/breakpoints/_media-queries.scss
  packages/terra-application/src/breakpoints/index.js
  packages/terra-application/src/disclosure-manager/index.js
  packages/terra-application/src/modal-manager/index.js
  packages/terra-application/src/navigation-prompt/index.js
  packages/terra-application/src/slide-panel-manager/index.js
  packages/terra-application/src/terra-dev-site/doc/application/About.doc.jsx
  packages/terra-application/src/terra-dev-site/doc/application/ChangeLog.doc.jsx
  packages/terra-application/tests/jest/application-base/ApplicationBase.test.jsx
  packages/terra-application/tests/jest/application-base/__snapshots__/ApplicationBase.test.jsx.snap
  packages/terra-application/tests/jest/application-base/applicationBase.test.js
  packages/terra-application/tests/jest/breakpoints/index.test.js
  packages/terra-application/tests/jest/disclosure-manager/disclosureManager.test.js
  packages/terra-application/tests/jest/modal-manager/index.test.js
  packages/terra-application/tests/jest/navigation-prompt/index.test.js
  packages/terra-application/tests/jest/slide-panel-manager/index.test.js
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
Labels: new component, terra-application

#755 [terra-tabs] Added font-weight themeable variables
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/StructuralTabs.module.scss
  packages/terra-tabs/src/Tabs.module.scss
Labels: tabs, tech-only, theming

#756 [time-input & date-time-picker] Contrast Issue for Label in Mobile Mode fixed.
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Clicking_Meridiem_updates_the_time[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Default_with_no_time[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Focus_Hour_Styles[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Focus_Minute_Styles[default].png
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.module.scss
Labels: Needs UX review, date time picker, time input

#750 [terra-notification-dialog] Do not check a11y of elements behind overlay
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/tests/wdio/__snapshots__/reference/en/chrome_medium/notification-dialog-spec/NotificationDialog_with_additional_focus_trap_sources_within_a_modal_manager[Open_popup].png
  packages/terra-notification-dialog/tests/wdio/notification-dialog-spec.js
Labels: tech-only

#749 [terra-date-picker] pre-selection date screen reader
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/src/react-datepicker/date_utils.js
  packages/terra-date-picker/src/react-datepicker/day.jsx
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/translations/de.json
  packages/terra-date-picker/translations/en-AU.json
  packages/terra-date-picker/translations/en-GB.json
  packages/terra-date-picker/translations/en-US.json
  packages/terra-date-picker/translations/en.json
  packages/terra-date-picker/translations/es-ES.json
  packages/terra-date-picker/translations/es-US.json
  packages/terra-date-picker/translations/es.json
  packages/terra-date-picker/translations/fi-FI.json
  packages/terra-date-picker/translations/fr-FR.json
  packages/terra-date-picker/translations/fr.json
  packages/terra-date-picker/translations/nl-BE.json
  packages/terra-date-picker/translations/nl.json
  packages/terra-date-picker/translations/pt-BR.json
  packages/terra-date-picker/translations/pt.json
  packages/terra-date-picker/translations/sv-SE.json
  packages/terra-date-picker/translations/sv.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: bug-fix, datepicker

#738 [terra-date-picker] Date picker as a controlled component
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/docs/README.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DateUtil.js
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePicker.1.doc.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerControlled.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerControlled.test.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_input_manually_updated].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_input_reset].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_picker_reset].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_picker_updated].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_selected].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: bug-fix, datepicker

#759 Remove conditional logic around importing wicg-inert
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/AbstractModal.jsx
Labels: abstract-modal
