Repository cerner/terra-framework, pull requests merged in 2019-09, with the labels that each got.

#863 Update DisclosureManagerHeaderAdapter.jsx docs
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManagerHeaderAdapter.jsx
Labels: disclosure-manager, tech-only

#872 [terra-abstract-modal] loading wicg-inert script later
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
Labels: abstract-modal, browser bug, tech-only

#875 [terra-date-picker] Remove time-picker from react-datepicker.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/calendar.jsx
  packages/terra-date-picker/src/react-datepicker/date_utils.js
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/src/react-datepicker/stylesheets/datepicker.scss
  packages/terra-date-picker/src/react-datepicker/time.jsx
Labels: datepicker

#877 Remove use of componentWillReceiveProps from date picker
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/calendar.jsx
  packages/terra-date-picker/src/react-datepicker/index.jsx
Labels: bug-fix, datepicker, tech-only

#879 [date-time-picker]Updated date-time-picker spec to support theming repos.
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: date-time-picker

#882 [terra-application-navigation ]Update heights and revert test wrapper changes.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/drawer-menu/DrawerMenuUser.module.scss
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/ApplicationNavigation.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/ApplicationNotifications.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/Extensions.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/Hero.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/HeroAndUser.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/HeroDrawer.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/NoCustomUtilityItems.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/OnlyCustomUtilityItems.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/StatedDemo.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/StatedNotificationDemo.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/Tabs.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/Title.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/User.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/Utilities.test.jsx
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Title_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/UserName_should_display_properly[default].png
Labels: application-navigation, tech-only

#887 [terra-application-name] Fixed inconsistent failures of application header name tests
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/tests/wdio/application-header-name-spec.js
Labels: application-name

#893 Add en-CA translations.
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/translations/en-CA.json
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/translations/en-CA.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/translations/en-CA.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/translations/en-CA.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/translations/en-CA.json
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/translations/en-CA.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/translations/en-CA.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/translations/en-CA.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/README.md
  packages/terra-date-picker/docs/README.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DateUtil.js
  packages/terra-date-picker/translations/en-CA.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/README.md
  packages/terra-date-time-picker/docs/README.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/translations/en-CA.json
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/translations/en-CA.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/translations/en-CA.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/translations/en-CA.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/translations/en-CA.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/translations/en-CA.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/translations/en-CA.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/translations/en-CA.json
Labels: translations

#876 [terra-tabs] Fix for Responsive Tabs tests inconsistent failures
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/tests/wdio/tabs-spec.js
Labels: tabs

#890 [terra-application-navigation] Clip bug and add border-bottom var.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/common/PopupMenuListItem.module.scss
  packages/terra-application-navigation/src/utility-menu/UtilityMenuHeaderButton.module.scss
Labels: application-navigation, tech-only, themes

#880 Update SingleItemGroup.test.jsx to remove finnish
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/SingleItemGroup.test.jsx
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_enormous/collapsible-menu-view-spec/Single_Item_Group[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_huge/collapsible-menu-view-spec/Single_Item_Group[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Single_Item_Group[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Single_Item_Group[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Single_Item_Group_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Single_Item_Group_Hidden_Open[default].png
Labels: collapsible-menu-view, testing, translations

#897 [Popup] Revert placeholder import in examples.
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/src/terra-dev-site/doc/example/NotificationDialogWithFocus.jsx
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/terra-dev-site/doc/common/PopupCommonExample.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupBounded.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupDimensions.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupModalContent.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupNoHeader.jsx
Labels: docs, popup

#904 [terra-abstract-modal] Check whether `focus` is defined for the modal trigger element before restoring focus.
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
Labels: abstract-modal, bug-fix

#905 [terra-application-navigation] Adjust title padding and margin
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/header/CompactHeader.module.scss
  packages/terra-application-navigation/src/header/Header.module.scss
  packages/terra-application-navigation/src/header/_CompactHeader.jsx
  packages/terra-application-navigation/src/header/_Header.jsx
  packages/terra-application-navigation/src/tabs/Tab.module.scss
  packages/terra-application-navigation/tests/jest/header/CompactHeader.test.jsx
  packages/terra-application-navigation/tests/jest/header/Header.test.jsx
  packages/terra-application-navigation/tests/jest/header/__snapshots__/CompactHeader.test.jsx.snap
  packages/terra-application-navigation/tests/jest/header/__snapshots__/Header.test.jsx.snap
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Title_should_display_properly[default].png
Labels: application-navigation, tech-only, theming
