Repository cerner/terra-framework, pull requests merged in 2019-10, with the labels that each got.

#906 [terra-date-picker] Added .module.scss extension to react-datepicker's stylesheet
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.module.scss
  packages/terra-date-picker/src/react-datepicker/calendar.jsx
  packages/terra-date-picker/src/react-datepicker/day.jsx
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/src/react-datepicker/month.jsx
  packages/terra-date-picker/src/react-datepicker/month_dropdown.jsx
  packages/terra-date-picker/src/react-datepicker/month_dropdown_options.jsx
  packages/terra-date-picker/src/react-datepicker/stylesheets/react_datepicker.module.scss
  packages/terra-date-picker/src/react-datepicker/week.jsx
  packages/terra-date-picker/src/react-datepicker/week_number.jsx
  packages/terra-date-picker/src/react-datepicker/year_dropdown.jsx
  packages/terra-date-picker/src/react-datepicker/year_dropdown_options.jsx
Labels: datepicker, scss

#898 Fallback to 24-hour time notation for locales that do not use 12-hour notation
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/src/TimeUtil.js
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
  packages/terra-time-input/translations/en-GB.json
  packages/terra-time-input/translations/es-US.json
  packages/terra-time-input/translations/es.json
  packages/terra-time-input/translations/fi-FI.json
  packages/terra-time-input/translations/fr-FR.json
  packages/terra-time-input/translations/nl-BE.json
  packages/terra-time-input/translations/nl.json
  packages/terra-time-input/translations/sv-SE.json
  packages/terra-time-input/translations/sv.json
Labels: time input

#915 Fix wdio test url.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/tests/wdio/application-navigation-spec.js
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.module.scss
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/src/NotificationDialog.module.scss
Labels: application-navigation

#919 Update icon version
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
Labels: application-navigation

#917 [terra-abstract-modal] Place focus onto the HTML body element upon modal dismissal in IE in special cases.
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
Labels: abstract-modal

#921 [dialog-modal] Added ability to detect closing by escape key from closing by outside click
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/DialogModal.jsx
  packages/terra-dialog-modal/tests/jest/__snapshots__/DialogModal.test.jsx.snap
Labels: dialog-modal

#930 Typo in Disclosure Docs
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/docs/README.md
  packages/terra-time-input/CHANGELOG.md
Labels: disclosure-manager, docs

#932 Update date picker buttons
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/calendar.jsx
  packages/terra-date-picker/src/react-datepicker/stylesheets/react_datepicker.module.scss
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_picker_updated].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_formatted_date].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_iso_date].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_iso_date_no_time].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Disabled[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Exclude_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Filter_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Include_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Min_Max[default].png
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Excluded_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Filtered_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Excluded_Dates_are_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Filtered_Dates_are_Disabled[default].png
Labels: datepicker

#939 Duplicate IDs changed
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerField.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerIncomplete.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerInvalid.jsx
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerIncomplete.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerInvalid.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerTimeVariant.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerWithSeconds.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerWithSecondsAndTimeVariant.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/guides/DateTimePickerEvents.jsx
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart0.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart1.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart2.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/examples/NavigationPromptExample.jsx
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/src/terra-dev-site/doc/example/SlidePanelManagerExample.jsx
  packages/terra-slide-panel-manager/src/terra-dev-site/doc/slide-panel-manager/SlidePanelManager.1.doc.jsx
Labels: application-navigation, date-time-picker, datepicker, navigation-prompt, slide-panel-manager

#903 Added refCallback to InfiniteList
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/InfiniteList.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyExampleContainer.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/example/InfiniteListDocExampleCommon.module.scss
Labels: infinite-list

#900 [terra-slide-panel] Added ariaLabel prop to slide panel container
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/terra-dev-site/doc/example/DefaultSlidePanel.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelToggle.test.jsx
  packages/terra-slide-panel/tests/jest/SlidePanel.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
Labels: accessibility, slide-panel

#948 [terra-dialog-modal] - Add rootSelector prop
  CONTRIBUTORS.md
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/DialogModal.jsx
  packages/terra-dialog-modal/tests/jest/DialogModal.test.jsx
  packages/terra-dialog-modal/tests/jest/__snapshots__/DialogModal.test.jsx.snap
Labels: bug-fix, dialog-modal, enhancement

#862 [terra-tab] Changed blue in tab hyperlinks to pass WCAG.
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/ModularTabs.module.scss
  packages/terra-tabs/src/StructuralTabs.module.scss
  packages/terra-tabs/src/Tabs.module.scss
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_enormous/tabs-spec/Default[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_enormous/tabs-spec/Extended[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_enormous/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_huge/tabs-spec/Default[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_huge/tabs-spec/Extended[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_huge/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Collapsible_active_focus[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Collapsible_hover[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Default[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Extended[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Fill_Parent_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Responsive_Hidden_Open[1].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Default[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Extended[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Responsive_Hidden_Open[1].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Default[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Extended[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Responsive_Hidden_Open[1].png
Labels: accessibility, tabs

#944 [terra-date-input][terra-modal-manager] Consuming form select placeholder color update
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/tests/wdio/__snapshots__/reference/en/chrome_medium/date-input-field-spec/Date_Input_Field_invalid_date_provide[default].png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/en/chrome_medium/date-input-field-spec/Date_Input_Field_no_date_provide[default].png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/en/chrome_medium/date-input-spec/Date_Input_invalid_date_provide[default].png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/en/chrome_medium/date-input-spec/Date_Input_no_date_provide[default].png
  packages/terra-date-input/tests/wdio/date-input-field-spec.js
  packages/terra-date-input/tests/wdio/date-input-spec.js
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/tests/wdio/modal-manager-spec.js
Labels: accessibility, bug-fix, date-input, modal-manager

#940 [terra-infinite-list] Prevented non-custom props from being passed to DOM
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/InfiniteList.jsx
Labels: bug-fix, infinite-list
