Repository cerner/terra-framework, pull requests merged in 2020-07, with the labels that each got.

#1165 [terra-application-navigation] Fixed side drawer not opening in IE for tiny viewport.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/ApplicationNavigation.module.scss
Labels: :package: terra-application-navigation, :star: Functionally Reviewed, bug-fix

#1167 [terra-brand-footer] Removed Deprecated links Prop
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/src/BrandFooter.jsx
  packages/terra-brand-footer/src/terra-dev-site/doc/brand-footer/UpgradeGuide.2.doc.mdx
  packages/terra-brand-footer/src/terra-dev-site/test/brand-footer/LinksPropBrandFooter.test.jsx
  packages/terra-brand-footer/tests/jest/BrandFooter.test.jsx
  packages/terra-brand-footer/tests/jest/__snapshots__/BrandFooter.test.jsx.snap
Labels: :package: terra-brand-footer, Major Version Bump

#1164 Fix incompatibility issue between aria-haspopup and link role.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/tabs/_TabRollup.jsx
  packages/terra-application-navigation/tests/jest/header/__snapshots__/Header.test.jsx.snap
  packages/terra-application-navigation/tests/jest/tabs/__snapshots__/TabRollup.test.jsx.snap
  packages/terra-application-navigation/tests/jest/tabs/__snapshots__/Tabs.test.jsx.snap
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
Labels: :package: terra-application-navigation, :package: terra-navigation-side-menu, :star: Accessibility Reviewed

#1160 Implement request animation frame to correct loop limit error.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/tabs/_Tabs.jsx
  packages/terra-application-navigation/tests/jest/header/__snapshots__/Header.test.jsx.snap
  packages/terra-application-navigation/tests/jest/tabs/__snapshots__/Tabs.test.jsx.snap
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/InfiniteList.jsx
Labels: :package: terra-application-navigation, :package: terra-infinite-list, Functional Review Ready, Functional Review Required, bug-fix

#1179 [terra-disclosure-manager][terra-slide-panel-manager] Expose typeConfig for custom properties
  package.json
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/DisclosureManagerAPI.3.doc.mdx
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/src/SlidePanelManager.jsx
  packages/terra-slide-panel-manager/src/terra-dev-site/doc/example/SlidePanelManagerExample.jsx
  packages/terra-slide-panel-manager/src/terra-dev-site/doc/example/SlidePanelManagerSquishExample.jsx
Labels: :package: terra-disclosure-manager, :package: terra-slide-panel-manager

#1198 Update jest due to changes in icon theme.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenuHeaderButton.test.jsx.snap
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
Labels: :package: terra-application-navigation, :package: terra-date-picker, :package: terra-tabs
