Repository cerner/terra-framework, pull requests merged in 2020-01, with the labels that each got.

#995 Remove yarn ref in docs
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/docs/README.md
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/docs/DatePickerField.md
  packages/terra-date-picker/docs/README.md
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/docs/README.md
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/docs/README.md
Labels: docs

#986 [terra-modal-manager] Adding themeable background-color property to ModalManager's modal
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Presents_utility_menu_from_menu_when_small[default].png
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.module.scss
  packages/terra-modal-manager/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: ⭐️ UX Reviewed

#987 [terra-notification-dialog] Custom Validation added for action props and marked as optional.
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/docs/README.md
  packages/terra-notification-dialog/src/NotificationDialog.jsx
Labels: bug-fix, notification-dialog

#984 [terra-tabs] Fix overflow issue in icon-only tabs.
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/Tabs.module.scss
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/OverflowTabs.test.jsx
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_enormous/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_enormous/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_huge/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_huge/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tab-pane-spec/Icon_Only[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Icon_Only_Tabs[uncollapsed].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/tabs-spec/Icon_Only_Tabs[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tab-pane-spec/Icon_Only[default].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Icon_Only_Tabs[uncollapsed].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Icon_Only_Tabs_-_No_Overflow[default].png
  packages/terra-tabs/tests/wdio/tabs-spec.js
  packages/terra-tabs/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: bug-fix, tabs, ⭐️ UX Reviewed

#972 [terra-tabs] Update uncontrolled responsive-element to controlled responsive-element
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/Tabs.jsx
  packages/terra-tabs/tests/jest/Tabs.test.jsx
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
Labels: tabs, tech-only

#964 [terra-tabs] Handle visibility of tabs added/removed post initial mount.
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/_CollapsibleTabs.jsx
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/AdditionalTabs.test.jsx
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Additional_Tabs_after_mount[after].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_large/tabs-spec/Additional_Tabs_after_mount[before].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/tabs-spec/Additional_Tabs_after_mount[after].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/tabs-spec/Additional_Tabs_after_mount[before].png
  packages/terra-tabs/tests/wdio/tabs-spec.js
Labels: tabs, ⭐️ Functionally Reviewed

#1007 [terra-abstract-modal] Update docs to use MDX syntax
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/docs/README.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/AbstractModal.1.doc.mdx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/AbstractModal.doc.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/ChangeLog.2.doc.mdx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/ChangeLog.doc.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/UpgradeGuide.3.doc.mdx
Labels: abstract-modal, docs

#1008 [terra-modal-manager] Update docs to use MDX syntax
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-modal-manager/src/terra-dev-site/doc/modal-manager/About.1.doc.jsx
  packages/terra-modal-manager/src/terra-dev-site/doc/modal-manager/About.1.doc.mdx
  packages/terra-modal-manager/src/terra-dev-site/doc/modal-manager/Changelog.2.doc.jsx
  packages/terra-modal-manager/src/terra-dev-site/doc/modal-manager/Changelog.2.doc.mdx
  packages/terra-modal-manager/src/terra-dev-site/doc/modal-manager/UpgradeGuide.3.doc.jsx
  packages/terra-modal-manager/src/terra-dev-site/doc/modal-manager/UpgradeGuide.3.doc.mdx
Labels: docs, modal-manager

#1020 [terra-disclosure-manager] Remove improper dismiss check registration chaining
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-disclosure-manager/tests/jest/DisclosureManager.test.jsx
  packages/terra-disclosure-manager/tests/jest/__snapshots__/DisclosureManager.test.jsx.snap
Labels: disclosure-manager

#1009 [terra-aggregator] Update docs to use MDX syntax
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-aggregator/src/terra-dev-site/doc/aggregator/Aggregator.1.doc.mdx
  packages/terra-aggregator/src/terra-dev-site/doc/aggregator/Aggregator.doc.jsx
  packages/terra-aggregator/src/terra-dev-site/doc/aggregator/ChangeLog.2.doc.mdx
  packages/terra-aggregator/src/terra-dev-site/doc/aggregator/ChangeLog.doc.jsx
Labels: aggregator, docs

#1019 [terra-application-header-layout] Update docs to use MDX syntax
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-header-layout/src/terra-dev-site/doc/application-header-layout/ApplicationHeaderLayout.1.doc.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/application-header-layout/ApplicationHeaderLayout.1.doc.mdx
  packages/terra-application-header-layout/src/terra-dev-site/doc/application-header-layout/ChangeLog.2.doc.mdx
  packages/terra-application-header-layout/src/terra-dev-site/doc/application-header-layout/ChangeLog.3.doc.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/application-header-layout/UpgradeGuide.2.doc.jsx
  packages/terra-application-header-layout/src/terra-dev-site/doc/application-header-layout/UpgradeGuide.3.doc.mdx
Labels: application-header-layout, docs

#1022 [terra-application-links] Update docs to use MDX syntax
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/docs/README.md
  packages/terra-application-links/package.json
  packages/terra-application-links/src/terra-dev-site/doc/application-links/ApplicationLinks.1.doc.jsx
  packages/terra-application-links/src/terra-dev-site/doc/application-links/ApplicationLinks.1.doc.mdx
  packages/terra-application-links/src/terra-dev-site/doc/application-links/ChangeLog.3.doc.jsx
  packages/terra-application-links/src/terra-dev-site/doc/application-links/ChangeLog.3.doc.mdx
  packages/terra-application-links/src/terra-dev-site/doc/application-links/UpgradeGuide.2.doc.jsx
  packages/terra-application-links/src/terra-dev-site/doc/application-links/UpgradeGuide.2.doc.mdx
Labels: application-links, docs

#1005 Fixed date-time-picker issue of updating default value programmatically
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePickerChangingDefaultValueProgrammatically.test.jsx
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Should_not_allow_user_to_change_date_programmatically[date-time_before_button_click].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Should_not_allow_user_to_change_date_programmatically[date-time_remains_unchanged_after_button_click].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Should_not_allow_user_to_change_date_programmatically[date-time_before_button_click].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Should_not_allow_user_to_change_date_programmatically[date-time_remains_unchanged_after_button_click].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Should_not_allow_user_to_change_date_programmatically[date-time_before_button_click].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Should_not_allow_user_to_change_date_programmatically[date-time_remains_unchanged_after_button_click].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Should_not_allow_user_to_change_date_programmatically[date-time_before_button_click].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Should_not_allow_user_to_change_date_programmatically[date-time_remains_unchanged_after_button_click].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: date-time-picker

#1021 [terra-application-layout] Update docs to use MDX syntax
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/docs/README.md
  packages/terra-application-layout/docs/example.md
  packages/terra-application-layout/package.json
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/About.1.doc.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/About.1.doc.mdx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/ChangeLog.5.doc.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/ChangeLog.5.doc.mdx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/Example.2.doc.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/Example.2.doc.mdx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/Example.2.doc.module.scss
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/UpgradeGuide.4.doc.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/UpgradeGuide.4.doc.mdx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/Utils.3.doc.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/Utils.3.doc.mdx
  packages/terra-application-layout/src/terra-dev-site/doc/example/ApplicationLayoutExampleCommon.module.scss
  packages/terra-application-layout/src/terra-dev-site/doc/example/ExampleApplication.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/example/ExampleApplicationWithNavIcons.jsx
Labels: application-layout, docs

#1023 [terra-application-menu-layout] Update docs to use MDX syntax
  packages/terra-application-menu-layout/CHANGELOG.md
  packages/terra-application-menu-layout/docs/README.md
  packages/terra-application-menu-layout/package.json
  packages/terra-application-menu-layout/src/terra-dev-site/doc/application-menu-layout/ApplicationMenuLayout.doc.jsx
  packages/terra-application-menu-layout/src/terra-dev-site/doc/application-menu-layout/ApplicationMenuLayout.doc.mdx
  packages/terra-application-menu-layout/src/terra-dev-site/doc/application-menu-layout/ChangeLog.doc.jsx
  packages/terra-application-menu-layout/src/terra-dev-site/doc/application-menu-layout/ChangeLog.doc.mdx
Labels: application-menu-layout, docs

#1024 [terra-application-name] Update docs to use MDX syntax
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/docs/README.md
  packages/terra-application-name/package.json
  packages/terra-application-name/src/terra-dev-site/doc/application-name/ApplicationName.1.doc.jsx
  packages/terra-application-name/src/terra-dev-site/doc/application-name/ApplicationName.1.doc.mdx
  packages/terra-application-name/src/terra-dev-site/doc/application-name/ChangeLog.3.doc.jsx
  packages/terra-application-name/src/terra-dev-site/doc/application-name/ChangeLog.3.doc.mdx
  packages/terra-application-name/src/terra-dev-site/doc/application-name/UpgradeGuide.2.doc.jsx
  packages/terra-application-name/src/terra-dev-site/doc/application-name/UpgradeGuide.2.doc.mdx
Labels: application-name, docs

#983 [terra-time-input] Remove 'desktop' reference in Fusion theme.
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: Needs Orion Requirements, time input, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed
