Repository cerner/terra-framework, pull requests merged in 2020-10, with the labels that each got.

#1269 Upgrade form-input dependency in date-time components.
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-input/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/tests/jest/DateInput.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
Labels: :package: terra-date-input, :package: terra-date-picker, :package: terra-time-input, :star: UX Reviewed

#1252 [terra-date-picker] Fix accessibility issues.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/DatePickerField.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/MultipleDatePickerField.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Multiple_DatePickerField[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Multiple_DatePickerField[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Multiple_DatePickerField[default].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: :package: terra-date-picker, :star: Accessibility Reviewed, :star: UX Reviewed, bug-fix

#1273 Update terra-avatar
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-layout/src/terra-dev-site/doc/application-layout/About.1.doc.mdx
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-application-navigation/src/common/_PopupMenuUser.jsx
  packages/terra-application-navigation/src/drawer-menu/_DrawerMenuUser.jsx
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/About.1.doc.mdx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/User.test.jsx
  packages/terra-application-navigation/src/utility-menu/_UtilityMenuHeaderButton.jsx
  packages/terra-application-navigation/tests/jest/common/__snapshots__/PopupMenuUser.test.jsx.snap
  packages/terra-application-navigation/tests/jest/drawer-menu/__snapshots__/DrawerMenuUser.test.jsx.snap
  packages/terra-application-navigation/tests/jest/header/__snapshots__/Header.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenuHeaderButton.test.jsx.snap
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/UserName_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/UserName_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/UserName_should_display_properly[default].png
Labels: :package: terra-application-layout, :package: terra-application-navigation, :star: UX Reviewed, UX Review Required

#1277 Remove references to terra-doc-template and terra-markdown
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/terra-dev-site/doc/example/ExampleApplication.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/Hero.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/HeroAndUser.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/HeroDrawer.test.jsx
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Hero_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-navigation-spec/Hero_and_User_enters_the_nav_drawer[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-navigation-spec/Hero_enters_the_nav_drawer[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Hero_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/Hero_and_User_enters_the_nav_drawer[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/Hero_enters_the_nav_drawer[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Hero_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/Hero_and_User_enters_the_nav_drawer[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/Hero_enters_the_nav_drawer[default].png
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/package.json
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/package.json
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyInitialLoadingIndicator.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/common/MyProgressiveLoadingIndicator.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/example/ProgressiveLoadingExample.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/example/VirtualizedExample.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/InfiniteListSection.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/InfiniteListSubsection.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/guides/ProgressiveLoadingList.jsx
  packages/terra-infinite-list/src/terra-dev-site/test/infinite-list/ProgressiveLoadingList.test.jsx
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-layout/src/terra-dev-site/doc/example/NavigationLayoutStandard.jsx
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-popup/src/terra-dev-site/doc/example/PopupAttachmentBehavior.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupAttachments.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupBounded.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupDimensions.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupModalContent.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupNoHeader.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupStandard.jsx
  packages/terra-popup/src/terra-dev-site/doc/example/PopupWithArrow.jsx
Labels: :package: terra-application-navigation, :package: terra-disclosure-manager, :package: terra-infinite-list, :package: terra-navigation-layout, :package: terra-popup

#1278 [terra-application-navigation] Apply theme context
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-application-navigation/src/ApplicationNavigation.jsx
  packages/terra-application-navigation/src/ApplicationNavigation.module.scss
  packages/terra-application-navigation/src/clinical-lowlight-theme/ApplicationNavigation.module.scss
  packages/terra-application-navigation/src/clinical-lowlight-theme/DrawerMenuCommon.module.scss
  packages/terra-application-navigation/src/clinical-lowlight-theme/ExtensionsCommon.module.scss
  packages/terra-application-navigation/src/clinical-lowlight-theme/HeaderCommon.module.scss
  packages/terra-application-navigation/src/clinical-lowlight-theme/PopupCommon.module.scss
  packages/terra-application-navigation/src/clinical-lowlight-theme/TabsCommon.module.scss
  packages/terra-application-navigation/src/clinical-lowlight-theme/UtilityMenuCommon.module.scss
  packages/terra-application-navigation/src/common/PopupCount.module.scss
  packages/terra-application-navigation/src/common/PopupMenu.module.scss
  packages/terra-application-navigation/src/common/PopupMenuListItem.module.scss
  packages/terra-application-navigation/src/common/PopupMenuUser.module.scss
  packages/terra-application-navigation/src/drawer-menu/DrawerCount.module.scss
  packages/terra-application-navigation/src/drawer-menu/DrawerMenu.module.scss
  packages/terra-application-navigation/src/drawer-menu/DrawerMenuFooterButton.module.scss
  packages/terra-application-navigation/src/drawer-menu/DrawerMenuListItem.module.scss
  packages/terra-application-navigation/src/drawer-menu/DrawerMenuTitle.module.scss
  packages/terra-application-navigation/src/drawer-menu/DrawerMenuUser.module.scss
  packages/terra-application-navigation/src/extensions/Extension.module.scss
  packages/terra-application-navigation/src/extensions/ExtensionCount.module.scss
  packages/terra-application-navigation/src/extensions/ExtensionRollup.module.scss
  packages/terra-application-navigation/src/header/CompactHeader.module.scss
  packages/terra-application-navigation/src/header/Header.module.scss
  packages/terra-application-navigation/src/header/ToggleCount.module.scss
  packages/terra-application-navigation/src/orion-fusion-theme/ApplicationNavigation.module.scss
  packages/terra-application-navigation/src/orion-fusion-theme/DrawerMenuCommon.module.scss
  packages/terra-application-navigation/src/orion-fusion-theme/ExtensionsCommon.module.scss
  packages/terra-application-navigation/src/orion-fusion-theme/HeaderCommon.module.scss
  packages/terra-application-navigation/src/orion-fusion-theme/PopupCommon.module.scss
  packages/terra-application-navigation/src/orion-fusion-theme/TabsCommon.module.scss
  packages/terra-application-navigation/src/orion-fusion-theme/UtilityMenuCommon.module.scss
  packages/terra-application-navigation/src/tabs/Tab.module.scss
  packages/terra-application-navigation/src/tabs/TabCount.module.scss
  packages/terra-application-navigation/src/utility-menu/UtilityMenuHeaderButton.module.scss
  packages/terra-application-navigation/tests/jest/ApplicationNavigation.test.jsx
  packages/terra-application-navigation/tests/jest/__snapshots__/ApplicationNavigation.test.jsx.snap
  packages/terra-application-navigation/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-application-navigation

#1276 [terra-date-input, terra-date-picker, terra-time-input] Add documentation on mock for the uuid for jest testing.
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/src/terra-dev-site/doc/DateInput/DateInput.1.doc.mdx
  packages/terra-date-input/src/terra-dev-site/doc/DateInput/DateInputField.2.doc.mdx
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePicker.1.doc.mdx
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/terra-dev-site/doc/time-input/TimeInput.1.doc.mdx
Labels: :package: terra-date-input, :package: terra-date-picker, :package: terra-time-input

#1259 Correcting ApplicationNavigation TabCount consolidation logic
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-application-navigation/src/ApplicationNavigation.jsx
  packages/terra-application-navigation/src/ApplicationNavigation.module.scss
  packages/terra-application-navigation/src/tabs/_TabCount.jsx
  packages/terra-application-navigation/tests/jest/ApplicationNavigation.test.jsx
Labels: :package: terra-application-navigation

#1250 [terra-menu] Fixing padding issues on menu items
  CONTRIBUTORS.md
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Collapsible_Menu_With_Item_Before_Divider[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Collapsible_Menu_With_Item_Before_Divider[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Collapsible_Menu_With_Item_Before_Divider[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Collapsible_Menu_With_Item_Before_Divider[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/collapsible-menu-view-spec/Responsive_Hidden_Open[default].png
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.jsx
  packages/terra-menu/src/MenuItem.module.scss
  packages/terra-menu/src/clinical-lowlight-theme/MenuItem.module.scss
  packages/terra-menu/src/orion-fusion-theme/MenuItem.module.scss
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/menu-item-spec/Menu_Item-Wrapped_Text[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-Disabled[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-Disabled[disabled_item_was_not_checked].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-Submenu_Indicator[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-With_eIFU_Icon,_eIFU_Icon_is_considered_over_check_mark_icon[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_huge/menu-item-spec/Menu_Item-Wrapped_Text[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-group-spec/Menu_Item_Group-Default[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-group-spec/Menu_Item_Group-Selectable_Via_Click[Item_1_Selected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-group-spec/Menu_Item_Group-Selectable_Via_Click[Item_3_Selected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-group-spec/Menu_Item_Group-Selectable_Via_Keyboard_Navigation[Item_2_Selected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-group-spec/Menu_Item_Group-Selectable_Via_Keyboard_Navigation[Item_3_Selected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Default[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Selectable_Via_Click[deselected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Selectable_Via_Click[selected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Selectable_Via_Enter[deselected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Selectable_Via_Enter[selected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Selectable[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu_and_submenu_with_long_header_title[main_menu_long_header].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/menu-item-spec/Menu_Item-Wrapped_Text[default].png
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_medium/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_small/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/en/chrome_tiny/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/tabs-spec/Responsive_Hidden_Open[0].png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tabs-spec/Responsive_Hidden_Open[0].png
Labels: :package: terra-menu, :star: UX Reviewed, UX Review Required, bug-fix

#1284 [terra-application-navigation] Correcting presentation of Help utilit…
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/drawer-menu/_DrawerMenu.jsx
  packages/terra-application-navigation/tests/jest/drawer-menu/DrawerMenu.test.jsx
  packages/terra-application-navigation/tests/jest/drawer-menu/__snapshots__/DrawerMenu.test.jsx.snap
Labels: :package: terra-application-navigation, bug-fix

#1263 [terra-date-input] aria-describedby cleanup for format mask, help, and error messages.
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/src/DateInput.jsx
  packages/terra-date-input/src/DateInputField.jsx
  packages/terra-date-input/src/DateInputUtil.js
  packages/terra-date-input/src/terra-dev-site/test/date-input/MultipleDateInputField.test.jsx
  packages/terra-date-input/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-field-spec/Multiple_DateInputField[default].png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/en/chrome_medium/date-input-field-spec/Multiple_DateInputField[default].png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-field-spec/Multiple_DateInputField[default].png
  packages/terra-date-input/tests/wdio/date-input-field-spec.js
Labels: :package: terra-date-input, :star: Accessibility Reviewed

#1267 [terra-abstract-modal] Fix to prevent modal from closing on pressing escape to close select
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithSelect.test.jsx
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithSelect.test.module.scss
  packages/terra-dialog-modal/terra-form-select.tgz
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Modal_Closed].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Select_Closed].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Select_Opened_inside_a_modal].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Modal_Closed].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Select_Closed].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Select_Opened_inside_a_modal].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Modal_Closed].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Select_Closed].png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Closing_Select_inside_modal_using_escape[Select_Opened_inside_a_modal].png
  packages/terra-dialog-modal/tests/wdio/dialog-modal-spec.js
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
Labels: :package: terra-abstract-modal, :star: Functionally Reviewed, Functional Review Required, bug-fix

#1289 [terra-disclosure-manager] Issue-1228 Typo in API details
  CONTRIBUTORS.md
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/DisclosureManagerAPI.3.doc.mdx
Labels: :package: terra-disclosure-manager
