Repository cerner/terra-framework, pull requests merged in 2020-09, with the labels that each got.

#1233 [terra-notification-dialog] Fix nl / nl-BE translations.
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/translations/nl-BE.json
  packages/terra-notification-dialog/translations/nl.json
Labels: :package: terra-notifcation-dialog, bug-fix

#1220 [terra-date-time-picker] Fix to clear out invalid date value on clicking time input
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/calendar-filter-spec/Controlled_Calendar_Filter[ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/calendar-filter-spec/Controlled_Calendar_Filter[ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[picker_with_ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/Controlled_Calendar_Filter[ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_out_of_range[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_excluded[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_out_of_range[default].png
Labels: :package: terra-date-picker, :package: terra-date-time-picker, :star: Functionally Reviewed, Functional Review Required, bug-fix

#1229 [terra-time-input] Fix to allow only 24 hour format for `es` locale
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/src/TimeUtil.js
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
  packages/terra-time-input/translations/es.json
Labels: :package: terra-time-input, :star: Functionally Reviewed, Functional Review Required, bug-fix

#1216 [terra-date-picker] Remove dotted border being added on hovering selected date.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/react-datepicker/day.jsx
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
Labels: :package: terra-date-picker, :star: UX Reviewed, bug-fix

#1224 [terra-date-picker, terra-date-time-picker] Deprecate prop onClickOutside
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DatePickerField.jsx
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/DatePickerField.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/Events.2.doc.mdx
  packages/terra-date-time-picker/src/terra-dev-site/doc/guides/DateTimePickerEvents.jsx
Labels: :package: terra-date-picker, :package: terra-date-time-picker, :star: Functionally Reviewed, Functional Review Required, bug-fix

#1245 Resolve wrapping in Firefox, added truncation in month select
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/src/DateInput.module.scss
  packages/terra-date-input/src/DateInputField.module.scss
  packages/terra-date-input/src/clinical-lowlight-theme/DateInput.module.scss
  packages/terra-date-input/src/orion-fusion-theme/DateInput.module.scss
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-field-spec/Inline_DateInputField[default].png
Labels: :package: terra-date-input, :star: Functionally Reviewed, :star: UX Reviewed, Functional Review Required, bug-fix

#1248 Fixes inconsistent focus of date-picker button in IE
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.module.scss
Labels: :package: terra-date-picker, :star: UX Reviewed, bug-fix

#1255 [terra-application-navigation] Adding custom event to trigger popup and drawer menu closure.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/ApplicationNavigation.jsx
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Should_close_open_popup_when_custom_event_is_dispatched[1__Popup_Open].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Should_close_open_popup_when_custom_event_is_dispatched[2__Popup_Closed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-navigation-spec/ApplicationNavigation_should_close_open_drawer_when_custom_event_is_dispatched[1__Drawer_Open].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-navigation-spec/ApplicationNavigation_should_close_open_drawer_when_custom_event_is_dispatched[2__Drawer_Closed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Should_close_open_popup_when_custom_event_is_dispatched[1__Popup_Open].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Should_close_open_popup_when_custom_event_is_dispatched[2__Popup_Closed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/ApplicationNavigation_should_close_open_drawer_when_custom_event_is_dispatched[1__Drawer_Open].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/ApplicationNavigation_should_close_open_drawer_when_custom_event_is_dispatched[2__Drawer_Closed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Should_close_open_popup_when_custom_event_is_dispatched[1__Popup_Open].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Should_close_open_popup_when_custom_event_is_dispatched[2__Popup_Closed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/ApplicationNavigation_should_close_open_drawer_when_custom_event_is_dispatched[1__Drawer_Open].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/ApplicationNavigation_should_close_open_drawer_when_custom_event_is_dispatched[2__Drawer_Closed].png
  packages/terra-application-navigation/tests/wdio/application-navigation-spec.js
Labels: :package: terra-application-navigation
