Repository cerner/terra-framework, pull requests merged in 2020-12, with the labels that each got.

#1323 [terra-infinite-list] Remove Terra.it helpers from wdio
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/infinite-list-spec/InfiniteList[virtual_dom_from_bottom].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/infinite-list-spec/InfiniteList[virtual_dom_from_top].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/infinite-list-spec/InfiniteList[with_loading_indicator].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/infinite-list-spec/InfiniteList[with_role_as_listbox].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/infinite-list-spec/InfiniteList[with_selection].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/infinite-list-spec/InfiniteList[with_updating_indicator].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/en/chrome_small/infinite-list-spec/InfiniteList[virtual_dom_from_bottom].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/en/chrome_small/infinite-list-spec/InfiniteList[virtual_dom_from_top].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/en/chrome_small/infinite-list-spec/InfiniteList[with_loading_indicator].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/en/chrome_small/infinite-list-spec/InfiniteList[with_role_as_listbox].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/en/chrome_small/infinite-list-spec/InfiniteList[with_selection].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/en/chrome_small/infinite-list-spec/InfiniteList[with_updating_indicator].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/infinite-list-spec/InfiniteList[virtual_dom_from_bottom].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/infinite-list-spec/InfiniteList[virtual_dom_from_top].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/infinite-list-spec/InfiniteList[with_loading_indicator].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/infinite-list-spec/InfiniteList[with_role_as_listbox].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/infinite-list-spec/InfiniteList[with_selection].png
  packages/terra-infinite-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/infinite-list-spec/InfiniteList[with_updating_indicator].png
  packages/terra-infinite-list/tests/wdio/infinite-list-spec.js
Labels: :package: terra-infinite-list

#1338 Fix flaky test
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/Auto_focus[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/DateTimePicker[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/Auto_focus[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/DateTimePicker[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Auto_focus[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/DateTimePicker[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Auto_focus[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/DateTimePicker[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Auto_focus[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/DateTimePicker[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Auto_focus[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/DateTimePicker[move_focus_to_hour].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: :package: terra-date-time-picker

#1339 Fix more flaky tests
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: :package: terra-date-time-picker

#1329 [terra-slide-panel] Remove Terra.it helpers from wdio
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[end].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[fill].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[fullscreen].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[large].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[large_squish].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[no_fill].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[overlay].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[small].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[squish].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[start].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/Slide_panel[toggle_and_hidden_styles].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[end].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[fill].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[fullscreen].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[large].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[large_squish].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[no_fill].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[overlay].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[small].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[squish].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[start].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Slide_panel[toggle_and_hidden_styles].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[end].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[fill].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[fullscreen].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[large].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[large_squish].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[no_fill].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[overlay].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[small].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[squish].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[start].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Slide_panel[toggle_and_hidden_styles].png
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: :package: terra-slide-panel

#1341 [terra-layout]Remove Terra.it helpers from wdio
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_click[click].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_double_click[double_click].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/layout-slide-panel-spec/Toggle_the_slide_panel_and_hidden_styles[default].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/layout-slide-panel-spec/Toggle_the_slide_panel_and_hidden_styles[toggle_slide_panel].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_click[click].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_double_click[double_click].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/layout-slide-panel-spec/Toggle_the_slide_panel_and_hidden_styles[default].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/en/chrome_medium/layout-slide-panel-spec/Toggle_the_slide_panel_and_hidden_styles[toggle_slide_panel].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_click[click].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/layout-slide-panel-spec/Toggle_the_slide_panel_double_click[double_click].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/layout-slide-panel-spec/Toggle_the_slide_panel_and_hidden_styles[default].png
  packages/terra-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/layout-slide-panel-spec/Toggle_the_slide_panel_and_hidden_styles[toggle_slide_panel].png
  packages/terra-layout/tests/wdio/layout-slide-panel-spec.js
Labels: :package: terra-layout
