Repository cerner/terra-framework, pull requests merged in 2020-05, with the labels that each got.

#1101 Allow theme name to be set on the theme context.
  packages/terra-theme-context/CHANGELOG.md
  packages/terra-theme-context/src/ThemeContextProvider.jsx
  packages/terra-theme-context/src/terra-dev-site/doc/ThemeContext/ThemeContext.1.doc.mdx
  packages/terra-theme-context/src/terra-dev-site/doc/example/ThemeContextProviderExample.jsx
  packages/terra-theme-context/src/terra-dev-site/doc/example/ThemedComponent.jsx
  packages/terra-theme-context/tests/jest/ThemeContextProvider.test.jsx
  packages/terra-theme-context/tests/jest/__snapshots__/ThemeContextProvider.test.jsx.snap
Labels: enhancement

#1110 Update Wdio snapshots to fix master build failure
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_explicit_button_flip[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_explicit_button_flip[default].png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/aggregator-spec/With_Disclosure_-_Close_from_explicit_button_flip[default].png
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[formatted_date_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[iso_date_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[iso_date_set_without_time].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Read_Only[clicked].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Remounts_component[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[formatted_date_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[iso_date_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[iso_date_set_without_time].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Controlled_DatePicker[ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Read_Only[clicked].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Remounts_component[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[formatted_date_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[iso_date_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[iso_date_set_without_time].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Controlled_DatePicker[ordinal_date_not_set].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Read_Only[clicked].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Remounts_component[default].png
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/Time_Clarification_Dialog_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/Time_Clarification_Dialog_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Time_Clarification_Dialog_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Time_Clarification_Dialog_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Time_Clarification_Dialog_Disabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Mobile_-_Clicking_Meridiem_updates_the_time[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Time_Clarification_Dialog_Disabled[default].png
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.module.scss
  packages/terra-time-input/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-aggregator, :package: terra-date-picker, :package: terra-date-time-picker, :package: terra-time-input, :star: UX Reviewed

#1108 [terra-abstract-modal] Add theme-context
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/ModalContent.module.scss
  packages/terra-abstract-modal/src/ModalOverlay.module.scss
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/src/_ModalOverlay.jsx
  packages/terra-abstract-modal/src/clinical-lowlight-theme/AbstractModal.module.scss
  packages/terra-abstract-modal/src/orion-fusion-theme/AbstractModal.module.scss
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-abstract-modal/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-abstract-modal

#1114 [terra-embedded-content-consumer] doc typo
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/EmbeddedContentConsumer.1.doc.mdx
Labels: :package: terra-embedded-content-consumer

#1124 [terra-application-navigation] Focus to be returned correctly.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/ApplicationNavigation.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/ApplicationNavigationPromptFocus.test.jsx
  packages/terra-application-navigation/tests/jest/__snapshots__/ApplicationNavigation.test.jsx.snap
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[focus_should_be_on_content].png
  packages/terra-application-navigation/tests/wdio/application-navigation-spec.js
Labels: :package: terra-application-navigation, :star: Functionally Reviewed, :star: UX Reviewed

#1125 [terra-application-navigation] Update to useCallback Hook To Fix Lint Errors
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/ApplicationNavigation.jsx
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[1__Alert_is_dismissed].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[2__Alert_is_accepted].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Should_open_selected_item_when_alert_is_accepted[3__Content_should_have_focus].png
  packages/terra-application-navigation/tests/wdio/application-navigation-spec.js
Labels: :package: terra-application-navigation

#1121 [terra-brand-footer] Apply theme context
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/package.json
  packages/terra-brand-footer/src/BrandFooter.jsx
  packages/terra-brand-footer/src/BrandFooter.module.scss
  packages/terra-brand-footer/src/clinical-lowlight-theme/BrandFooter.module.scss
  packages/terra-brand-footer/src/orion-fusion-theme/BrandFooter.module.scss
  packages/terra-brand-footer/tests/jest/BrandFooter.test.jsx
  packages/terra-brand-footer/tests/jest/__snapshots__/BrandFooter.test.jsx.snap
  packages/terra-brand-footer/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-brand-footer

#1115 [terra-tabs]Fixed lowlight and clinical theme interference.
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-tabs/src/ModularTabs.module.scss
  packages/terra-tabs/src/StructuralTabs.module.scss
  packages/terra-tabs/src/TabPane.jsx
  packages/terra-tabs/src/Tabs.jsx
  packages/terra-tabs/src/Tabs.module.scss
  packages/terra-tabs/src/_CollapsedTabs.jsx
  packages/terra-tabs/src/_CollapsibleTabs.jsx
  packages/terra-tabs/src/_TabMenu.jsx
  packages/terra-tabs/src/clinical-lowlight-theme/Tabs.module.scss
  packages/terra-tabs/src/orion-fusion-theme/Tabs.module.scss
  packages/terra-tabs/tests/jest/TabPane.test.jsx
  packages/terra-tabs/tests/jest/Tabs.test.jsx
  packages/terra-tabs/tests/jest/__snapshots__/TabPane.test.jsx.snap
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
  packages/terra-tabs/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-tabs/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-tabs, bug-fix

#1119 [terra-application-header-layout] Add theme context
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.jsx
  packages/terra-application-header-layout/src/ApplicationHeaderLayout.module.scss
  packages/terra-application-header-layout/src/clinical-lowlight-theme/ApplicationHeaderLayout.module.scss
  packages/terra-application-header-layout/src/orion-fusion-theme/ApplicationHeaderLayout.module.scss
  packages/terra-application-header-layout/tests/jest/ApplicationHeader.test.jsx
  packages/terra-application-header-layout/tests/jest/__snapshots__/ApplicationHeader.test.jsx.snap
  packages/terra-application-header-layout/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-application-header-layout

#1136 [terra-modal-manager] Add theme context
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/src/ModalManager.module.scss
  packages/terra-modal-manager/src/clinical-lowlight-theme/ModalManager.module.scss
  packages/terra-modal-manager/src/orion-fusion-theme/ModalManager.module.scss
  packages/terra-modal-manager/tests/jest/ModalManager.test.jsx
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-modal-manager/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-modal-manager/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-modal-manager

#1131 [terra-layout] Add theme context
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/package.json
  packages/terra-layout/src/LayoutSlidePanel.module.scss
  packages/terra-layout/src/_LayoutSlidePanel.jsx
  packages/terra-layout/src/clinical-lowlight-theme/Layout.module.scss
  packages/terra-layout/src/orion-fusion-theme/Layout.module.scss
  packages/terra-layout/tests/jest/LayoutSlidePanel.test.jsx
  packages/terra-layout/tests/jest/__snapshots__/LayoutSlidePanel.test.jsx.snap
  packages/terra-layout/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-layout

#1126 [terra-collapsible-menu-view] Add theme context
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.module.scss
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewDivider.jsx
  packages/terra-collapsible-menu-view/src/_CollapsibleMenu.jsx
  packages/terra-collapsible-menu-view/src/clinical-lowlight-theme/CollapsibleMenuView.module.scss
  packages/terra-collapsible-menu-view/src/orion-fusion-theme/CollapsibleMenuView.module.scss
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewDivider.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewDivider.test.jsx.snap
  packages/terra-collapsible-menu-view/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-collapsible-menu-view/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-collapsible-menu-view

#1133 [terra-collapsible-menu-view] Bump terra-form-checkbox from ^3.0.0 to ^4.0.0
  CONTRIBUTORS.md
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
Labels: :package: terra-collapsible-menu-view

#1116 [terra-application-layout] Add Theme context
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-layout/src/clinical-lowlight-theme/ApplicationHeader.module.scss
  packages/terra-application-layout/src/clinical-lowlight-theme/ApplicationMenu.module.scss
  packages/terra-application-layout/src/clinical-lowlight-theme/UserData.module.scss
  packages/terra-application-layout/src/header/ApplicationHeader.module.scss
  packages/terra-application-layout/src/header/_ApplicationHeader.jsx
  packages/terra-application-layout/src/menu/ApplicationMenu.module.scss
  packages/terra-application-layout/src/menu/_ApplicationMenu.jsx
  packages/terra-application-layout/src/orion-fusion-theme/ApplicationHeader.module.scss
  packages/terra-application-layout/src/orion-fusion-theme/ApplicationMenu.module.scss
  packages/terra-application-layout/src/orion-fusion-theme/UserData.module.scss
  packages/terra-application-layout/src/user/UserData.module.scss
  packages/terra-application-layout/src/user/_UserData.jsx
  packages/terra-application-layout/tests/jest/ApplicationHeader.test.jsx
  packages/terra-application-layout/tests/jest/ApplicationMenu.test.jsx
  packages/terra-application-layout/tests/jest/UserData.test.jsx
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationHeader.test.jsx.snap
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationMenu.test.jsx.snap
  packages/terra-application-layout/tests/jest/__snapshots__/UserData.test.jsx.snap
  packages/terra-application-layout/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-application-layout

#1118 [terra-application-link] Add theme context
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-links/src/tabs/ApplicationTabs.jsx
  packages/terra-application-links/src/tabs/ApplicationTabs.module.scss
  packages/terra-application-links/src/tabs/_CollapsedTab.jsx
  packages/terra-application-links/src/tabs/_Tab.jsx
  packages/terra-application-links/src/tabs/_TabMenuDisplay.jsx
  packages/terra-application-links/src/tabs/_TabMenuList.jsx
  packages/terra-application-links/src/tabs/clinical-lowlight-theme/ApplicationTabs.module.scss
  packages/terra-application-links/src/tabs/orion-fusion-theme/ApplicationTabs.module.scss
  packages/terra-application-links/tests/jest/ApplicationTabs.test.jsx
  packages/terra-application-links/tests/jest/__snapshots__/ApplicationTabs.test.jsx.snap
  packages/terra-application-links/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-application-links

#1117 [terra-application-name] Apply theme context
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/package.json
  packages/terra-application-name/src/ApplicationHeaderName.jsx
  packages/terra-application-name/src/ApplicationHeaderName.module.scss
  packages/terra-application-name/src/ApplicationMenuName.jsx
  packages/terra-application-name/src/ApplicationMenuName.module.scss
  packages/terra-application-name/src/clinical-lowlight-theme/ApplicationHeaderName.module.scss
  packages/terra-application-name/src/clinical-lowlight-theme/ApplicationMenuName.module.scss
  packages/terra-application-name/src/orion-fusion-theme/ApplicationHeaderName.module.scss
  packages/terra-application-name/src/orion-fusion-theme/ApplicationMenuName.module.scss
  packages/terra-application-name/tests/jest/ApplicationHeaderName.test.jsx
  packages/terra-application-name/tests/jest/ApplicationMenuName.test.jsx
  packages/terra-application-name/tests/jest/__snapshots__/ApplicationHeaderName.test.jsx.snap
  packages/terra-application-name/tests/jest/__snapshots__/ApplicationMenuName.test.jsx.snap
  packages/terra-application-name/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-application-name

#1130 [terra-dialog-modal] Add theme context
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-dialog-modal/src/DialogModal.jsx
  packages/terra-dialog-modal/src/DialogModal.module.scss
  packages/terra-dialog-modal/src/clinical-lowlight-theme/DialogModal.module.scss
  packages/terra-dialog-modal/src/orion-fusion-theme/DialogModal.module.scss
  packages/terra-dialog-modal/tests/jest/DialogModal.test.jsx
  packages/terra-dialog-modal/tests/jest/__snapshots__/DialogModal.test.jsx.snap
  packages/terra-dialog-modal/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-dialog-modal/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-dialog-modal

#1128 [terra-date-picker] Add theme context
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DatePicker.module.scss
  packages/terra-date-picker/src/clinical-lowlight-theme/DatePicker.module.scss
  packages/terra-date-picker/src/clinical-lowlight-theme/react_datepicker.module.scss
  packages/terra-date-picker/src/orion-fusion-theme/DatePicker.module.scss
  packages/terra-date-picker/src/orion-fusion-theme/react_datepicker.module.scss
  packages/terra-date-picker/src/react-datepicker/stylesheets/react_datepicker.module.scss
  packages/terra-date-picker/tests/jest/DateInput.test.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-date-picker/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-date-picker

#1129 [terra-date-time-picker] Add theme context
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/_TimeClarification.module.scss
  packages/terra-date-time-picker/src/clinical-lowlight-theme/TimeClarification.module.scss
  packages/terra-date-time-picker/src/orion-fusion-theme/TimeClarification.module.scss
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
  packages/terra-date-time-picker/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-date-time-picker/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-date-time-picker

#1135 [terra-menu] Add theme context
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-menu/src/Menu.module.scss
  packages/terra-menu/src/MenuItem.module.scss
  packages/terra-menu/src/_MenuContent.jsx
  packages/terra-menu/src/clinical-lowlight-theme/Menu.module.scss
  packages/terra-menu/src/clinical-lowlight-theme/MenuItem.module.scss
  packages/terra-menu/src/orion-fusion-theme/Menu.module.scss
  packages/terra-menu/src/orion-fusion-theme/MenuItem.module.scss
  packages/terra-menu/tests/jest/Menu.test.jsx
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
  packages/terra-menu/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-menu/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-menu

#1137 [terra-navigation-side-menu] Add theme context
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/src/clinical-lowlight-theme/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/clinical-lowlight-theme/NavigationSideMenuItem.module.scss
  packages/terra-navigation-side-menu/src/orion-fusion-theme/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/orion-fusion-theme/NavigationSideMenuItem.module.scss
  packages/terra-navigation-side-menu/tests/jest/NavigationSideMenu.test.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-navigation-side-menu

#1141 [terra-slide-panel] Add theme context
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/SlidePanel.module.scss
  packages/terra-slide-panel/src/clinical-lowlight-theme/SlidePanel.module.scss
  packages/terra-slide-panel/src/orion-fusion-theme/SlidePanel.module.scss
  packages/terra-slide-panel/tests/jest/SlidePanel.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
  packages/terra-slide-panel/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-slide-panel/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-slide-panel

#1144 [terra-abstract-modal] Update createRef api to useRef.
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Maximize[after_selecting_maximize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[after_selecting_minimize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[default].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Maximize[after_selecting_maximize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[after_selecting_minimize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[default].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Maximize[after_selecting_maximize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[after_selecting_minimize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[default].png
Labels: :package: terra-abstract-modal, bug-fix
