Repository cerner/terra-framework, pull requests merged in 2020-03, with the labels that each got.

#1029 [terra-collapsible-menu-view] Update docs to use MDX syntax
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/README.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItem.jsx
  packages/terra-collapsible-menu-view/src/_CollapsibleMenu.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/ChangeLog.2.doc.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/ChangeLog.3.doc.mdx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/CollapsibleMenuView.1.doc.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/CollapsibleMenuView.1.doc.mdx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/UpgradeGuide.2.doc.mdx
Labels: collapsible-menu-view, docs

#1053 [terra-layout] Update docs to use MDX syntax
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/README.md
  packages/terra-layout/package.json
  packages/terra-layout/src/terra-dev-site/doc/layout/ChangeLog.3.doc.jsx
  packages/terra-layout/src/terra-dev-site/doc/layout/ChangeLog.3.doc.mdx
  packages/terra-layout/src/terra-dev-site/doc/layout/Layout.1.doc.jsx
  packages/terra-layout/src/terra-dev-site/doc/layout/Layout.1.doc.mdx
  packages/terra-layout/src/terra-dev-site/doc/layout/UpgradeGuide.2.doc.jsx
  packages/terra-layout/src/terra-dev-site/doc/layout/UpgradeGuide.2.doc.mdx
Labels: docs, layout

#1052 [terra-theme-provider] Updated docs to use MDX syntax
  packages/terra-theme-provider/CHANGELOG.md
  packages/terra-theme-provider/README.md
  packages/terra-theme-provider/package.json
  packages/terra-theme-provider/src/terra-dev-site/doc/theme-provider/ChangeLog.3.doc.jsx
  packages/terra-theme-provider/src/terra-dev-site/doc/theme-provider/ChangeLog.3.doc.mdx
  packages/terra-theme-provider/src/terra-dev-site/doc/theme-provider/ThemeProvider.1.doc.jsx
  packages/terra-theme-provider/src/terra-dev-site/doc/theme-provider/ThemeProvider.1.doc.mdx
  packages/terra-theme-provider/src/terra-dev-site/doc/theme-provider/UpgradeGuide.2.doc.jsx
  packages/terra-theme-provider/src/terra-dev-site/doc/theme-provider/UpgradeGuide.2.doc.mdx
Labels: docs, terra-theme-provider

#1054 [terra-navigation-layout] Update docs to use MDX syntax
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/README.md
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-layout/src/terra-dev-site/doc/navigation-layout/ChangeLog.2.doc.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/navigation-layout/ChangeLog.2.doc.mdx
  packages/terra-navigation-layout/src/terra-dev-site/doc/navigation-layout/NavigationLayout.1.doc.jsx
  packages/terra-navigation-layout/src/terra-dev-site/doc/navigation-layout/NavigationLayout.1.doc.mdx
Labels: docs, navigation-layout

#1041 [terra-abstract-modal] Remove State from Abstract Modal
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/ModalContent.module.scss
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/src/_ModalOverlay.jsx
  packages/terra-abstract-modal/src/inertHelpers.js
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/tests/jest/inertHelpers.test.jsx
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
Labels: abstract-modal

#1059 [terra-notification-dialog] Updated docs to use MDX syntax
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/README.md
  packages/terra-notification-dialog/docs/README.md
  packages/terra-notification-dialog/package.json
  packages/terra-notification-dialog/src/terra-dev-site/doc/notification-dialog/ChangeLog.3.doc.jsx
  packages/terra-notification-dialog/src/terra-dev-site/doc/notification-dialog/ChangeLog.3.doc.mdx
  packages/terra-notification-dialog/src/terra-dev-site/doc/notification-dialog/NotificationDialog.1.doc.jsx
  packages/terra-notification-dialog/src/terra-dev-site/doc/notification-dialog/NotificationDialog.1.doc.mdx
  packages/terra-notification-dialog/src/terra-dev-site/doc/notification-dialog/UpgradeGuide.2.doc.jsx
  packages/terra-notification-dialog/src/terra-dev-site/doc/notification-dialog/UpgradeGuide.2.doc.mdx
Labels: docs, notification-dialog

#1065 [terra-time-input] Updated docs to use MDX syntax
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/README.md
  packages/terra-time-input/package.json
  packages/terra-time-input/src/terra-dev-site/doc/time-input/ChangeLog.3.doc.jsx
  packages/terra-time-input/src/terra-dev-site/doc/time-input/ChangeLog.3.doc.mdx
  packages/terra-time-input/src/terra-dev-site/doc/time-input/TimeInput.1.doc.jsx
  packages/terra-time-input/src/terra-dev-site/doc/time-input/TimeInput.1.doc.mdx
  packages/terra-time-input/src/terra-dev-site/doc/time-input/UpgradeGuide.2.doc.jsx
  packages/terra-time-input/src/terra-dev-site/doc/time-input/UpgradeGuide.2.doc.mdx
Labels: docs, time input

#1026 [terra-application-navigation] Update docs to use MDX syntax
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/README.md
  packages/terra-application-navigation/docs/README.md
  packages/terra-application-navigation/docs/example.md
  packages/terra-application-navigation/docs/utils.md
  packages/terra-application-navigation/package.json
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/About.1.doc.jsx
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/About.1.doc.mdx
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/ChangeLog.4.doc.jsx
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/ChangeLog.4.doc.mdx
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/Example.2.doc.jsx
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/Example.2.doc.mdx
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/Utils.3.doc.jsx
  packages/terra-application-navigation/src/terra-dev-site/doc/application-navigation/Utils.3.doc.mdx
  packages/terra-application-navigation/src/terra-dev-site/doc/example/ExampleApplication.jsx
  packages/terra-application-navigation/src/terra-dev-site/doc/example/ExampleWrapper.jsx
Labels: application-navigation, docs

#1056 [terra-menu] Updated docs to use MDX syntax
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/README.md
  packages/terra-menu/docs/README.md
  packages/terra-menu/package.json
  packages/terra-menu/src/Menu.jsx
  packages/terra-menu/src/terra-dev-site/doc/example/ArrowMenu.jsx
  packages/terra-menu/src/terra-dev-site/doc/menu/ChangeLog.3.doc.jsx
  packages/terra-menu/src/terra-dev-site/doc/menu/ChangeLog.3.doc.mdx
  packages/terra-menu/src/terra-dev-site/doc/menu/Menu.1.doc.jsx
  packages/terra-menu/src/terra-dev-site/doc/menu/Menu.1.doc.mdx
  packages/terra-menu/src/terra-dev-site/doc/menu/UpgradeGuide.2.doc.jsx
  packages/terra-menu/src/terra-dev-site/doc/menu/UpgradeGuide.2.doc.mdx
Labels: docs, menu

#1061 [terra-slide-group] Update docs to use MDX syntax
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/README.md
  packages/terra-slide-group/package.json
  packages/terra-slide-group/src/terra-dev-site/doc/example/SlideGroupDemoAnimated.jsx
  packages/terra-slide-group/src/terra-dev-site/doc/slide-group/ChangeLog.2.doc.jsx
  packages/terra-slide-group/src/terra-dev-site/doc/slide-group/ChangeLog.2.doc.mdx
  packages/terra-slide-group/src/terra-dev-site/doc/slide-group/SlideGroup.1.doc.jsx
  packages/terra-slide-group/src/terra-dev-site/doc/slide-group/SlideGroup.1.doc.mdx
Labels: docs, slide-group

#1064 [terra-tabs] Updated docs to use MDX syntax
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/README.md
  packages/terra-tabs/docs/README.md
  packages/terra-tabs/package.json
  packages/terra-tabs/src/terra-dev-site/doc/example/TabsTemplateExpanded.jsx
  packages/terra-tabs/src/terra-dev-site/doc/example/TabsWithFilledContent.jsx
  packages/terra-tabs/src/terra-dev-site/doc/tabs/ChangeLog.3.doc.jsx
  packages/terra-tabs/src/terra-dev-site/doc/tabs/ChangeLog.3.doc.mdx
  packages/terra-tabs/src/terra-dev-site/doc/tabs/Tabs.1.doc.jsx
  packages/terra-tabs/src/terra-dev-site/doc/tabs/Tabs.1.doc.mdx
  packages/terra-tabs/src/terra-dev-site/doc/tabs/UpgradeGuide.2.doc.jsx
  packages/terra-tabs/src/terra-dev-site/doc/tabs/UpgradeGuide.2.doc.mdx
Labels: docs, tabs

#1057 [terra-navigation-prompt] Updated docs to use MDX syntax
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/README.md
  packages/terra-navigation-prompt/package.json
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/About.0.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/About.0.doc.mdx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/ChangeLog.2.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/ChangeLog.2.doc.mdx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part0-ReviewingExample.1.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part0-ReviewingExample.1.doc.mdx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part1-AddingPrompts.2.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part1-AddingPrompts.2.doc.mdx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part2-UsingCustomHandler.3.doc.jsx
  packages/terra-navigation-prompt/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part2-UsingCustomHandler.3.doc.mdx
Labels: docs, navigation-prompt

#1069 Placeholder translations
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePicker.1.doc.mdx
  packages/terra-date-picker/translations/es-US.json
  packages/terra-date-picker/translations/nl.json
  packages/terra-date-picker/translations/sv-SE.json
  packages/terra-date-picker/translations/sv.json
Labels: date-picker

#1058 [terra-navigation-side-menu] Updated docs to use MDX syntax
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/README.md
  packages/terra-navigation-side-menu/docs/README.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-navigation-side-menu/src/terra-dev-site/doc/navigation-side-menu/ChangeLog.3.doc.jsx
  packages/terra-navigation-side-menu/src/terra-dev-site/doc/navigation-side-menu/ChangeLog.3.doc.mdx
  packages/terra-navigation-side-menu/src/terra-dev-site/doc/navigation-side-menu/NavigationSideMenu.1.doc.jsx
  packages/terra-navigation-side-menu/src/terra-dev-site/doc/navigation-side-menu/NavigationSideMenu.1.doc.mdx
  packages/terra-navigation-side-menu/src/terra-dev-site/doc/navigation-side-menu/UpgradeGuide.2.doc.jsx
  packages/terra-navigation-side-menu/src/terra-dev-site/doc/navigation-side-menu/UpgradeGuide.2.doc.mdx
Labels: docs, navigation-side-menu

#1060 [terra-popup] Update docs to use MDX syntax
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/README.md
  packages/terra-popup/package.json
  packages/terra-popup/src/Popup.jsx
  packages/terra-popup/src/terra-dev-site/doc/popup/ChangeLog.3.doc.jsx
  packages/terra-popup/src/terra-dev-site/doc/popup/ChangeLog.3.doc.mdx
  packages/terra-popup/src/terra-dev-site/doc/popup/Popup.1.doc.jsx
  packages/terra-popup/src/terra-dev-site/doc/popup/Popup.1.doc.mdx
  packages/terra-popup/src/terra-dev-site/doc/popup/UpgradeGuide.2.doc.jsx
  packages/terra-popup/src/terra-dev-site/doc/popup/UpgradeGuide.2.doc.mdx
Labels: docs, popup

#1031 [terra-theme-provider] Removed isGlobalTheme prob and changed default behaviour
  packages/terra-theme-provider/CHANGELOG.md
  packages/terra-theme-provider/README.md
  packages/terra-theme-provider/src/ThemeProvider.jsx
  packages/terra-theme-provider/src/terra-dev-site/doc/example/DefaultThemeProvider.jsx
  packages/terra-theme-provider/src/terra-dev-site/doc/theme-provider/ThemeProvider.1.doc.mdx
  packages/terra-theme-provider/src/terra-dev-site/doc/theme-provider/UpgradeGuide.2.doc.mdx
  packages/terra-theme-provider/src/terra-dev-site/test/theme-provider/GlobalSwitchThemes.test.jsx
  packages/terra-theme-provider/src/terra-dev-site/test/theme-provider/GlobalThemeProvider.test.jsx
  packages/terra-theme-provider/src/terra-dev-site/test/theme-provider/SwitchThemes.test.jsx
  packages/terra-theme-provider/tests/jest/ThemeProvider.test.jsx
  packages/terra-theme-provider/tests/jest/__snapshots__/ThemeProvider.test.jsx.snap
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_medium/theme-provider-spec/Displays_a_default_theme-provider[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_medium/theme-provider-spec/Displays_a_globally_themed_component[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_medium/theme-provider-spec/Displays_an_updated_globally_themed_component[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_medium/theme-provider-spec/Displays_an_updated_globally_themed_component_-__After_Click[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_medium/theme-provider-spec/Displays_an_updated_themed_component_-_After_Click[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-provider-spec/Displays_a_default_theme-provider[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-provider-spec/Displays_a_globally_themed_component[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-provider-spec/Displays_an_updated_globally_themed_component[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-provider-spec/Displays_an_updated_globally_themed_component_-__After_Click[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-provider-spec/Displays_an_updated_themed_component_-_After_Click[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/theme-provider-spec/Displays_a_default_theme-provider[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/theme-provider-spec/Displays_a_globally_themed_component[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/theme-provider-spec/Displays_an_updated_globally_themed_component[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/theme-provider-spec/Displays_an_updated_globally_themed_component_-__After_Click[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/theme-provider-spec/Displays_an_updated_themed_component_-_After_Click[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/theme-provider-spec/Displays_a_default_theme-provider[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/theme-provider-spec/Displays_a_globally_themed_component[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/theme-provider-spec/Displays_an_updated_globally_themed_component[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/theme-provider-spec/Displays_an_updated_globally_themed_component_-__After_Click[default].png
  packages/terra-theme-provider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/theme-provider-spec/Displays_an_updated_themed_component_-_After_Click[default].png
  packages/terra-theme-provider/tests/wdio/theme-provider-spec.js
Labels: Major Version Bump, bug-fix, terra-theme-provider

#1046 [terra-form-validation] Update docs to use MDX syntax
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/README.md
  packages/terra-form-validation/docs/MaxLengthInput.md
  packages/terra-form-validation/docs/NumericValidation.md
  packages/terra-form-validation/docs/ValidationComponents.md
  packages/terra-form-validation/docs/ValidationEvents.md
  packages/terra-form-validation/package.json
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ChangeLog.5.doc.mdx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ChangeLog.7.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/FormValidation.1.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/FormValidation.1.doc.mdx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/MaxLengthInput.5.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/NumericValidation.6.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ValidationComponents.2.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ValidationComponents.2.doc.mdx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ValidationEvents.3.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ValidationEvents.3.doc.mdx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ValidationFunctions.4.doc.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/form-validation/ValidationFunctions.4.doc.mdx
Labels: docs, form validations

#1071 [terra-slide-panel] Added keys to main content and panel content
  CONTRIBUTORS.md
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/terra-dev-site/test/slide-panel/SlidePanelSideToggle.test.jsx
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Toggle_the_slide_panel_side[panel_with_end_position].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/en/chrome_large/slide-panel-spec/Toggle_the_slide_panel_side[panel_with_start_position].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Toggle_the_slide_panel_side[panel_with_end_position].png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/Toggle_the_slide_panel_side[panel_with_start_position].png
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: bug-fix, slide-panel

#1062 [terra-slide-panel] Updated Docs to use MDX syntax
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/README.md
  packages/terra-slide-panel/docs/README.md
  packages/terra-slide-panel/package.json
  packages/terra-slide-panel/src/terra-dev-site/doc/slide-panel/ChangeLog.3.doc.jsx
  packages/terra-slide-panel/src/terra-dev-site/doc/slide-panel/ChangeLog.3.doc.mdx
  packages/terra-slide-panel/src/terra-dev-site/doc/slide-panel/SlidePanel.1.doc.jsx
  packages/terra-slide-panel/src/terra-dev-site/doc/slide-panel/SlidePanel.1.doc.mdx
  packages/terra-slide-panel/src/terra-dev-site/doc/slide-panel/UpgradeGuide.2.doc.jsx
  packages/terra-slide-panel/src/terra-dev-site/doc/slide-panel/UpgradeGuide.2.doc.mdx
Labels: docs, slide-panel

#1066 [terra-embedded-content-consumer] Updated docs to use MDX syntax
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/docs/TestingEmbeddedApplications.md
  packages/terra-embedded-content-consumer/package.json
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/ChangeLog.3.doc.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/ChangeLog.3.doc.mdx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/EmbeddedContentConsumer.1.doc.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/EmbeddedContentConsumer.1.doc.mdx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/TestingEmbeddedContent.2.doc.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/embedded-content-consumer/TestingEmbeddedContent.2.doc.mdx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/BasicConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/CustomEventConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/CustomEventsConsumer.jsx
  packages/terra-embedded-content-consumer/src/terra-dev-site/doc/example/DataStatusConsumer.jsx
Labels: docs, embedded-content-consumer

#1079 [date-picker] Fix clinical-theme test
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: date-picker, tech-only

#1077 [terra-date-picker][terra-date-time-picker] Prop documentation updated
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DatePickerField.jsx
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
Labels: docs
