Repository cerner/terra-framework, pull requests merged in 2020-08, with the labels that each got.

#1194 [terra-date-picker] Clear out selected date if invalid date is entered after a valid date.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerControlled.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerDefault.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerDefaultDate.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerExcludeDates.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerField.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerFilterDates.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerIncludeDates.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerIncomplete.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerInvalid.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerMinMax.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerBeyondMinMax.test.jsx
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_maxDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_max_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_min_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[min_date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[picker_closed].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_maxDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_minDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_maxDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_max_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_min_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[min_date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[picker_closed].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_maxDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_minDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_maxDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_max_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_min_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[min_date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[picker_closed].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_maxDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_minDate].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: :package: terra-date-picker, :star: Functionally Reviewed, Functional Review Required, bug-fix

#1206 Update Form Dependenies
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-form-validation/src/terra-dev-site/doc/example/DefaultFormValidation.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/example/FormSubmitDatePicker.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/example/MaxLengthInput.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/example/ValidationAsynchronous.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/example/ValidationDisableSubmit.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/example/ValidationOnInput.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/example/ValidationOnSubmit.jsx
  packages/terra-form-validation/src/terra-dev-site/doc/example/ValidationParsing.jsx
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-hookshot/src/terra-dev-site/doc/example/BoundedHookshotExample.jsx
  packages/terra-hookshot/src/terra-dev-site/doc/example/CoordsHookshotExample.jsx
  packages/terra-hookshot/src/terra-dev-site/doc/example/HookshotExample.jsx
Labels: :package: terra-aggregator, :package: terra-form-validation, :package: terra-hookshot

#1187 [terra-application-navigation] Make Tab text style consistent with notifications.
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/tabs/_Tabs.jsx
  packages/terra-application-navigation/tests/jest/header/__snapshots__/Header.test.jsx.snap
  packages/terra-application-navigation/tests/jest/tabs/Tabs.test.jsx
  packages/terra-application-navigation/tests/jest/tabs/__snapshots__/Tabs.test.jsx.snap
Labels: :package: terra-notifcation-dialog, :star: UX Reviewed, bug-fix

#1211 [terra-application-name][terra-application-utility] Update themeabe variables
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-header-spec/Displays_an_application_header_utilities[default].png
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/src/clinical-lowlight-theme/demoStyles.module.scss
  packages/terra-application-name/src/orion-fusion-theme/demoStyles.module.scss
  packages/terra-application-name/src/terra-dev-site/doc/example/ApplicationHeaderNameStandard.jsx
  packages/terra-application-name/src/terra-dev-site/doc/example/ApplicationMenuNameStandard.jsx
  packages/terra-application-name/src/terra-dev-site/test/application-name/ApplicationHeaderNameDefault.test.jsx
  packages/terra-application-name/src/terra-dev-site/test/application-name/ApplicationHeaderNameTruncated.test.jsx
  packages/terra-application-name/src/terra-dev-site/test/application-name/ApplicationMenuNameWrapping.test.jsx
  packages/terra-application-name/src/terra-dev-site/test/application-name/demoStyles.module.scss
  packages/terra-application-name/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/application-header-name-spec/Displays_a_default_application_header_name[default].png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/application-header-name-spec/Displays_a_truncated_application_header_name[default].png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/application-menu-name-spec/Displays_a_wrapping_application_menu_name[default].png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/application-header-name-spec/Displays_a_default_application_header_name[default].png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/application-header-name-spec/Displays_a_truncated_application_header_name[default].png
  packages/terra-application-name/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/application-menu-name-spec/Displays_a_wrapping_application_menu_name[default].png
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/utility/clinical-lowlight-theme/UtilityMenu.module.scss
  packages/terra-application-utility/src/utility/orion-fusion-theme/UtilityMenu.module.scss
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-utility-menu-spec/Displays_a_default_header_utility_menu[default].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-utility-menu-spec/Focus-header_utility_menu[default].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/header-utility-menu-spec/Displays_a_default_header_utility_menu[default].png
  packages/terra-application-utility/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/header-utility-menu-spec/Focus-header_utility_menu[default].png
Labels: :package: terra-application-name, :package: terra-application-utility, :star: UX Reviewed, bug-fix
