Repository cerner/terra-framework, pull requests merged in 2020-02, with the labels that each got.

#1015 [disclosure-manager] Organize docs for disclosure manager.
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/docs/README.md
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/About.1.doc.jsx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/About.1.doc.mdx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/ChangeLog.2.doc.jsx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/ChangeLog.5.doc.mdx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/DisclosingContentWithAHeader.4.doc.mdx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/DisclosureManagerAPI.3.doc.mdx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/InteractingWithDisclosureManager.2.doc.mdx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/UpgradeGuide.6.doc.mdx
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/terra-dev-site/doc/modal-manager/About.1.doc.mdx
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/docs/README.md
Labels: disclosure-manager, docs

#1038 [terra-application-navigation] Update background color
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/ApplicationNavigation.module.scss
Labels: application-navigation, scss, ⭐️ UX Reviewed

#1018 [terra-application-navigation] Fixes `settings` called on clicking `help` issue
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/common/_PopupMenu.jsx
  packages/terra-application-navigation/src/common/_PopupMenuListItem.jsx
  packages/terra-application-navigation/src/drawer-menu/_DrawerMenu.jsx
  packages/terra-application-navigation/src/drawer-menu/_DrawerMenuFooterButton.jsx
  packages/terra-application-navigation/src/drawer-menu/_DrawerMenuListItem.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/ApplicationNavigation.test.jsx
  packages/terra-application-navigation/src/utility-menu/_UtilityMenu.jsx
  packages/terra-application-navigation/tests/jest/common/__snapshots__/PopupMenu.test.jsx.snap
  packages/terra-application-navigation/tests/jest/drawer-menu/DrawerMenuListItem.test.jsx
  packages/terra-application-navigation/tests/jest/drawer-menu/__snapshots__/DrawerMenu.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Utilities_should_display_properly_and_onSelectHelp_called_on_clicking_Help[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Utilities_should_display_properly_and_onSelectLogout_called_on_clicking_Logout[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/Utilities_should_display_properly_and_onSelectSettings_called_on_clicking_Settings[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/ApplicationNavigation_displays_the_nav_drawer_and_onSelectHelp_triggered[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/ApplicationNavigation_displays_the_nav_drawer_and_onSelectLogout_triggered[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/ApplicationNavigation_displays_the_nav_drawer_and_onSelectSettings_triggered[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Utilities_should_display_properly_and_onSelectHelp_called_on_clicking_Help[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Utilities_should_display_properly_and_onSelectLogout_called_on_clicking_Logout[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/Utilities_should_display_properly_and_onSelectSettings_called_on_clicking_Settings[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/ApplicationNavigation_displays_the_nav_drawer_and_onSelectHelp_triggered[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/ApplicationNavigation_displays_the_nav_drawer_and_onSelectLogout_triggered[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/ApplicationNavigation_displays_the_nav_drawer_and_onSelectSettings_triggered[default].png
  packages/terra-application-navigation/tests/wdio/application-navigation-spec.js
Labels: Needs functional review, Ready for functional review, application-navigation, bug-fix

#1040 Reverting a29151d25 (PR 1038) due to unintended animation changes
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/ApplicationNavigation.module.scss
Labels: application-navigation

#1012 [terra-application-navigation] Drawer Menu not closing on outside click in IE
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/ApplicationNavigation.jsx
  packages/terra-application-navigation/src/ApplicationNavigation.module.scss
  packages/terra-application-navigation/tests/jest/__snapshots__/ApplicationNavigation.test.jsx.snap
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/ApplicationNavigation_displays_the_nav_drawer_and_clicking_outside_closes_nav_drawer[default].png
  packages/terra-application-navigation/tests/wdio/application-navigation-spec.js
Labels: application-navigation

#1039 [terra-abstract-modal] Update to wicg-inert v3
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
Labels: abstract-modal, dependency-update

#1028 [terra-brand-footer] Update docs to use MDX syntax
  packages/terra-brand-footer/CHANGELOG.md
  packages/terra-brand-footer/README.md
  packages/terra-brand-footer/docs/README.md
  packages/terra-brand-footer/package.json
  packages/terra-brand-footer/src/terra-dev-site/doc/brand-footer/BrandFooter.1.doc.jsx
  packages/terra-brand-footer/src/terra-dev-site/doc/brand-footer/BrandFooter.1.doc.mdx
  packages/terra-brand-footer/src/terra-dev-site/doc/brand-footer/ChangeLog.3.doc.jsx
  packages/terra-brand-footer/src/terra-dev-site/doc/brand-footer/ChangeLog.3.doc.mdx
  packages/terra-brand-footer/src/terra-dev-site/doc/brand-footer/UpgradeGuide.2.doc.jsx
  packages/terra-brand-footer/src/terra-dev-site/doc/brand-footer/UpgradeGuide.2.doc.mdx
Labels: brand-footer, docs

#1030 [terra-date-input] Update docs to use MDX syntax
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/README.md
  packages/terra-date-input/docs/DateInputField.md
  packages/terra-date-input/docs/README.md
  packages/terra-date-input/package.json
  packages/terra-date-input/src/terra-dev-site/doc/DateInput/ChangeLog.3.doc.jsx
  packages/terra-date-input/src/terra-dev-site/doc/DateInput/ChangeLog.3.doc.mdx
  packages/terra-date-input/src/terra-dev-site/doc/DateInput/DateInput.1.doc.jsx
  packages/terra-date-input/src/terra-dev-site/doc/DateInput/DateInput.1.doc.mdx
  packages/terra-date-input/src/terra-dev-site/doc/DateInput/DateInputField.2.doc.jsx
  packages/terra-date-input/src/terra-dev-site/doc/DateInput/DateInputField.2.doc.mdx
Labels: date-input, docs

#1032 [terra-date-picker] Update docs to use MDX syntax
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/README.md
  packages/terra-date-picker/docs/DatePickerField.md
  packages/terra-date-picker/docs/README.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/ChangeLog.3.doc.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/ChangeLog.3.doc.mdx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePicker.1.doc.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePicker.1.doc.mdx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePickerField.2.doc.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePickerField.2.doc.mdx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/UpgradeGuide.doc.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/UpgradeGuide.doc.mdx
Labels: date-picker, docs

#1034 [terra-date-time-picker] Update docs to use MDX syntax
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/README.md
  packages/terra-date-time-picker/docs/README.md
  packages/terra-date-time-picker/package.json
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/ChangeLog.3.doc.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/ChangeLog.4.doc.mdx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/DateTimePicker.1.doc.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/DateTimePicker.1.doc.mdx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/Events.1.doc.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/Events.2.doc.mdx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/UpgradeGuide.2.doc.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/UpgradeGuide.3.doc.mdx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerDST.jsx
Labels: date-time-picker, docs

#1035 [terra-dialog-modal] Update docs to use MDX syntax
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/README.md
  packages/terra-dialog-modal/docs/README.md
  packages/terra-dialog-modal/package.json
  packages/terra-dialog-modal/src/terra-dev-site/doc/dialog-modal/ChangeLog.3.doc.jsx
  packages/terra-dialog-modal/src/terra-dev-site/doc/dialog-modal/ChangeLog.3.doc.mdx
  packages/terra-dialog-modal/src/terra-dev-site/doc/dialog-modal/DialogModal.1.doc.jsx
  packages/terra-dialog-modal/src/terra-dev-site/doc/dialog-modal/DialogModal.1.doc.mdx
  packages/terra-dialog-modal/src/terra-dev-site/doc/dialog-modal/UpgradeGuide.2.doc.jsx
  packages/terra-dialog-modal/src/terra-dev-site/doc/dialog-modal/UpgradeGuide.2.doc.mdx
Labels: dialog-modal, docs

#1042 [terra-date-picker] Update to Use Controlled responsive-element
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/react-datepicker/PopupContainer.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_small/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-picker-spec/Default[default].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: date-picker

#1047 [terra-hookshot] Update docs to use MDX syntax
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/README.md
  packages/terra-hookshot/docs/README.md
  packages/terra-hookshot/package.json
  packages/terra-hookshot/src/terra-dev-site/doc/hookshot/ChangeLog.2.doc.jsx
  packages/terra-hookshot/src/terra-dev-site/doc/hookshot/ChangeLog.2.doc.mdx
  packages/terra-hookshot/src/terra-dev-site/doc/hookshot/Hookshot.1.doc.jsx
  packages/terra-hookshot/src/terra-dev-site/doc/hookshot/Hookshot.1.doc.mdx
Labels: docs, hookshot

#1014 [terra-disclosure-manager] Allow Disclosing Content to Define Title Value
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/src/DisclosureManager.jsx
  packages/terra-disclosure-manager/src/terra-dev-site/doc/disclosure-manager/DisclosingContentWithAHeader.4.doc.mdx
  packages/terra-disclosure-manager/tests/jest/DisclosureManager.test.jsx
  packages/terra-disclosure-manager/tests/jest/__snapshots__/DisclosureManager.test.jsx.snap
Labels: disclosure-manager, enhancement

#1048 [terra-infinite-list] Update docs to use MDX syntax
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/README.md
  packages/terra-infinite-list/docs/README.md
  packages/terra-infinite-list/package.json
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/ChangeLog.3.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/ChangeLog.3.doc.mdx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/InfiniteList.1.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/InfiniteList.1.doc.mdx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/InfiniteListSections.1.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/InfiniteListSections.1.doc.mdx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/InfiniteListSubsections.2.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/InfiniteListSubsections.2.doc.mdx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/ProgressiveLoadingList.3.doc.jsx
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/guides.2/ProgressiveLoadingList.3.doc.mdx
Labels: docs, infinite-list

#1027 [terra-application-utility] Update docs to use MDX update
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/README.md
  packages/terra-application-utility/docs/README.md
  packages/terra-application-utility/package.json
  packages/terra-application-utility/src/terra-dev-site/doc/Application-Utility/ApplicationUtility.1.doc.jsx
  packages/terra-application-utility/src/terra-dev-site/doc/Application-Utility/ApplicationUtility.1.doc.mdx
  packages/terra-application-utility/src/terra-dev-site/doc/Application-Utility/ChangeLog.3.doc.jsx
  packages/terra-application-utility/src/terra-dev-site/doc/Application-Utility/ChangeLog.3.doc.mdx
  packages/terra-application-utility/src/terra-dev-site/doc/Application-Utility/UpgradeGuide.2.doc.jsx
  packages/terra-application-utility/src/terra-dev-site/doc/Application-Utility/UpgradeGuide.2.doc.mdx
Labels: application-utility, docs
