Repository cerner/terra-framework, pull requests merged in 2020-06, with the labels that each got.

#1140 [terra-slide-group] Add theme context
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/package.json
  packages/terra-slide-group/src/Slide.jsx
  packages/terra-slide-group/src/Slide.module.scss
  packages/terra-slide-group/src/SlideGroup.jsx
  packages/terra-slide-group/src/clinical-lowlight-theme/Slide.module.scss
  packages/terra-slide-group/src/orion-fusion-theme/Slide.module.scss
  packages/terra-slide-group/tests/jest/Slide.test.jsx
  packages/terra-slide-group/tests/jest/SlideGroup.test.jsx
  packages/terra-slide-group/tests/jest/__snapshots__/Slide.test.jsx.snap
  packages/terra-slide-group/tests/jest/__snapshots__/SlideGroup.test.jsx.snap
  packages/terra-slide-group/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-slide-group/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-slide-group

#1132 [terra-date-picker] Limit year from 1900 - 2100.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DateUtil.js
  packages/terra-date-picker/src/react-datepicker/calendar.jsx
  packages/terra-date-picker/src/react-datepicker/date_utils.js
  packages/terra-date-picker/src/react-datepicker/index.jsx
  packages/terra-date-picker/src/react-datepicker/year_dropdown.jsx
  packages/terra-date-picker/src/react-datepicker/year_dropdown_options.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePicker.1.doc.mdx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerBeyondMinMax.test.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerFilterDates.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_maxDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_max_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_min_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[min_date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[picker_closed].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_maxDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_minDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Include_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Min_Max[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_maxDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_max_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_min_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[min_date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[picker_closed].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_maxDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_minDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Include_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Min_Max[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_maxDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[beyond_minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_max_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[entered_min_date_not_registered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[minDate_entered].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[min_date_selected].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[picker_closed].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_maxDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Beyond_Min_Max[uses_default_minDate].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Include_Dates[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Min_Max[default].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePickerFilterDates.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Included_Dates_are_Enabled[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Included_Dates_are_Enabled[default].png
Labels: :package: terra-date-picker, :star: Functionally Reviewed, Functional Review Required, bug-fix

#1147 Update failing jest and wdio in master
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/tests/jest/header/__snapshots__/Header.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenuHeaderButton.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-mobile-spec/Date_Time_Picker_Twelve_Hour_Disabled_Mobile_-_Disabled_Styles[default].png
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
Labels: :package: terra-application-navigation, :package: terra-menu

#1138 [terra-notification-dialog] Add theme context
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-notification-dialog/src/NotificationDialog.jsx
  packages/terra-notification-dialog/src/NotificationDialog.module.scss
  packages/terra-notification-dialog/src/clinical-lowlight-theme/NotificationDialog.module.scss
  packages/terra-notification-dialog/src/orion-fusion-theme/NotificationDialog.module.scss
  packages/terra-notification-dialog/tests/jest/NotificationDialog.test.jsx
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
  packages/terra-notification-dialog/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-notification-dialog/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-notifcation-dialog

#1142 [terra-time-input] Add theme context
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/src/TimeInput.module.scss
  packages/terra-time-input/src/clinical-lowlight-theme/TimeInput.module.scss
  packages/terra-time-input/src/orion-fusion-theme/TimeInput.module.scss
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
  packages/terra-time-input/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-time-input/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-time-input

#1145 [terra-application-utility] Add theme context
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/package.json
  packages/terra-application-utility/src/utility/_UtilityButton.jsx
  packages/terra-application-utility/src/utility/_UtilityButton.module.scss
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
  packages/terra-application-utility/src/utility/_UtilityMenu.module.scss
  packages/terra-application-utility/src/utility/_UtilityMenuDivider.jsx
  packages/terra-application-utility/src/utility/_UtilityMenuDivider.module.scss
  packages/terra-application-utility/src/utility/_UtilityMenuItem.jsx
  packages/terra-application-utility/src/utility/_UtilityMenuItem.module.scss
  packages/terra-application-utility/src/utility/clinical-lowlight-theme/UtilityButton.module.scss
  packages/terra-application-utility/src/utility/clinical-lowlight-theme/UtilityMenu.module.scss
  packages/terra-application-utility/src/utility/clinical-lowlight-theme/UtilityMenuDivider.module.scss
  packages/terra-application-utility/src/utility/clinical-lowlight-theme/UtilityMenuItem.module.scss
  packages/terra-application-utility/src/utility/orion-fusion-theme/UtilityButton.module.scss
  packages/terra-application-utility/src/utility/orion-fusion-theme/UtilityMenu.module.scss
  packages/terra-application-utility/src/utility/orion-fusion-theme/UtilityMenuDivider.module.scss
  packages/terra-application-utility/src/utility/orion-fusion-theme/UtilityMenuItem.module.scss
  packages/terra-application-utility/tests/jest/UtilityButton.test.jsx
  packages/terra-application-utility/tests/jest/UtilityMenu.test.jsx
  packages/terra-application-utility/tests/jest/UtilityMenuDivider.test.jsx
  packages/terra-application-utility/tests/jest/UtilityMenuItem.test.jsx
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityButton.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenuDivider.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenuItem.test.jsx.snap
  packages/terra-application-utility/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-application-utility

#1153 [terra-date-picker] Add `value` prop in DatePickerField to align with DatePicker.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DatePickerField.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerField.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DisabledDatePickerField.test.jsx
  packages/terra-date-picker/tests/jest/DatePickerField.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
Labels: :package: terra-date-picker, bug-fix

#1157 [terra-menu] Apply theme to menu item
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.jsx
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
Labels: :package: terra-menu

#1154 [terra-framework] Update terra-form-select dependency
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
Labels: :package: terra-dialog-modal, :package: terra-form-validation, :package: terra-modal-manager
