Repository cerner/terra-framework, pull requests merged in 2020-04, with the labels that each got.

#1085 [terra-time-input] Updated wdio screenshots
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Maximize[after_selecting_maximize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[after_selecting_minimize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[default].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Maximize[after_selecting_maximize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[after_selecting_minimize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[default].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Maximize[after_selecting_maximize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[after_selecting_minimize].png
  packages/terra-modal-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/modal-manager-spec/Disclosure_-_Header_Minimize[default].png
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-spec/Triggers_an_onChange_for_onBlur_on_the_minute_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Changes_time_to_01_when_up_is_pressed_on_hour_of_12[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Changes_time_to_12_when_down_is_pressed_on_hour_of_01[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Incomplete_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_incomplete_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_meridiem[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Sets_time_to_12_when_hour_is_0_and_onBlur_is_called[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_a_morning_time_filled[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_an_evening_time_filled[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_no_time_provided[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_second_and_no_time_provided[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Sets_hour_to_12_without_meridiem_change_for_hour_input_00[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Switched_when_down_is_press_on_hour_of_12[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Switched_when_up_is_press_on_hour_of_11[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Up_Arrow_on_hour_does_not_change_meridiem[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Changes_time_to_01_when_up_is_pressed_on_hour_of_12[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Changes_time_to_12_when_down_is_pressed_on_hour_of_01[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Incomplete_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_incomplete_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_meridiem[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Sets_time_to_12_when_hour_is_0_and_onBlur_is_called[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_a_morning_time_filled[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_an_evening_time_filled[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_no_time_provided[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_second_and_no_time_provided[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Sets_hour_to_12_without_meridiem_change_for_hour_input_00[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Switched_when_down_is_press_on_hour_of_12[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Switched_when_up_is_press_on_hour_of_11[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Up_Arrow_on_hour_does_not_change_meridiem[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-spec/Time_Input_OnChange[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Changes_time_to_01_when_up_is_pressed_on_hour_of_12[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Changes_time_to_12_when_down_is_pressed_on_hour_of_01[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Incomplete_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_incomplete_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_meridiem[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Invalid_time_input[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_-_Sets_time_to_12_when_hour_is_0_and_onBlur_is_called[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_a_morning_time_filled[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_an_evening_time_filled[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_no_time_provided[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Default_with_second_and_no_time_provided[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Sets_hour_to_12_without_meridiem_change_for_hour_input_00[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Switched_when_down_is_press_on_hour_of_12[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Switched_when_up_is_press_on_hour_of_11[default].png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/Twelve_Hour_Meridiem_-_Up_Arrow_on_hour_does_not_change_meridiem[default].png
Labels: modal-manager, time input

#1084 Update avatar examples
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/src/terra-dev-site/doc/example/ExampleApplication.jsx
  packages/terra-application-layout/src/terra-dev-site/doc/example/ExampleApplicationWithNavIcons.jsx
  packages/terra-application-layout/src/terra-dev-site/test/application-layout/ApplicationLayout.test.jsx
  packages/terra-application-layout/src/terra-dev-site/test/application-layout/ApplicationLayoutNoTopNav.test.jsx
  packages/terra-application-layout/src/terra-dev-site/test/application-layout/ApplicationLayoutWithIcons.test.jsx
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/application-layout-spec/Navigates_with_top_navigation_tabs[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/Displays_a_default_application_layout[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/Displays_an_application_layout_with_nav_icons[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/Displays_an_application_layout_with_top_navigation_tabs[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/Presents_utility_menu_from_header_and_checks_for_closure_on_read-only_item_click[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/Presents_utility_menu_from_header_when_large[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-layout-spec/Presents_utility_menu_from_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-layout-spec/Renders_primary_nav_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-layout-spec/Toggles_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_huge/application-layout-spec/Navigates_with_top_navigation_tabs[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_large/application-layout-spec/Displays_a_default_application_layout[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_large/application-layout-spec/Displays_an_application_layout_with_nav_icons[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_large/application-layout-spec/Displays_an_application_layout_with_top_navigation_tabs[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_large/application-layout-spec/Presents_utility_menu_from_header_and_checks_for_closure_on_read-only_item_click[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_large/application-layout-spec/Presents_utility_menu_from_header_when_large[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Presents_utility_menu_from_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Renders_primary_nav_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/en/chrome_small/application-layout-spec/Toggles_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/application-layout-spec/Navigates_with_top_navigation_tabs[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/Displays_a_default_application_layout[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/Displays_an_application_layout_with_nav_icons[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/Displays_an_application_layout_with_top_navigation_tabs[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/Presents_utility_menu_from_header_and_checks_for_closure_on_read-only_item_click[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/Presents_utility_menu_from_header_when_large[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/Presents_utility_menu_from_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/Renders_primary_nav_menu_when_small[default].png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/Toggles_menu_when_small[default].png
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/HeroAndUser.test.jsx
  packages/terra-application-navigation/src/terra-dev-site/test/application-navigation/User.test.jsx
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/UserName_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-navigation-spec/Hero_and_User_enters_the_nav_drawer[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_large/application-navigation-spec/UserName_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/en/chrome_small/application-navigation-spec/Hero_and_User_enters_the_nav_drawer[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/UserName_should_display_properly[default].png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/Hero_and_User_enters_the_nav_drawer[default].png
Labels: application-layout, application-navigation, tech-only

#1083 Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs

#1087 terra-theme-context
  packages/terra-theme-context/.npmignore
  packages/terra-theme-context/.npmrc
  packages/terra-theme-context/CHANGELOG.md
  packages/terra-theme-context/LICENSE
  packages/terra-theme-context/NOTICE
  packages/terra-theme-context/README.md
  packages/terra-theme-context/package.json
  packages/terra-theme-context/src/ThemeContext.jsx
  packages/terra-theme-context/src/ThemeContextProvider.jsx
  packages/terra-theme-context/src/terra-dev-site/doc/ThemeContext/ChangeLog.3.doc.mdx
  packages/terra-theme-context/src/terra-dev-site/doc/ThemeContext/ThemeContext.1.doc.mdx
  packages/terra-theme-context/src/terra-dev-site/doc/ThemeContext/ThemeContextProvider.2.doc.mdx
  packages/terra-theme-context/src/terra-dev-site/doc/example/ThemeContextProviderExample.jsx
  packages/terra-theme-context/src/terra-dev-site/doc/example/ThemedComponent.clinical-lowlight-theme.module.scss
  packages/terra-theme-context/src/terra-dev-site/doc/example/ThemedComponent.jsx
  packages/terra-theme-context/src/terra-dev-site/doc/example/ThemedComponent.module.scss
  packages/terra-theme-context/src/terra-dev-site/doc/example/ThemedComponent.orion-fusion-theme.module.scss
  packages/terra-theme-context/src/terra-dev-site/doc/example/ThemedComponent.test-theme.module.scss
  packages/terra-theme-context/tests/jest/ThemeContext.test.jsx
  packages/terra-theme-context/tests/jest/ThemeContextProvider.test.jsx
  packages/terra-theme-context/tests/jest/__snapshots__/ThemeContextProvider.test.jsx.snap
Labels: Large, enhancement, new component

#1091 Focus error during remount.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerRemount.test.jsx
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/Remounts_component[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/date-picker-spec/Remounts_component[default].png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/Remounts_component[default].png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/src/terra-dev-site/test/date-time-picker/DateTimePickerRemount.test.jsx
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/Remounts_component[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/Remounts_component[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_large/date-time-picker-spec/Remounts_component[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/date-time-picker-spec/Remounts_component[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/Remounts_component[default].png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/Remounts_component[default].png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: bug-fix, date-picker, date-time-picker
