Repository cerner/terra-framework, pull requests merged in 2021-04, with the labels that each got.

#1393 [terra-application-navigation] Apply theme context to popupmenu and drawermenu
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/common/_PopupMenu.jsx
  packages/terra-application-navigation/src/drawer-menu/_DrawerMenu.jsx
  packages/terra-application-navigation/tests/jest/__snapshots__/ApplicationNavigation.test.jsx.snap
Labels: :package: terra-application-navigation, bug-fix

#1399 [terra-application-navigation] Add back missing meta data
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/src/utility-menu/_UtilityMenu.jsx
  packages/terra-application-navigation/tests/jest/utility-menu/UtilityMenu.test.jsx
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
Labels: bug-fix

#1398 [terra-application-navigation] Update swedish translations
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/translations/sv-SE.json
  packages/terra-application-navigation/translations/sv.json
Labels: :package: terra-application-navigation
