Repository cerner/terra-framework, pull requests merged in 2021-07, with the labels that each got.

#1426 [terra-application-navigation] Update wdio screenshots to fix main branch
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-navigation-spec/hero_displays_properly.png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-navigation-spec/hero_and_user_enters_nav_drawer.png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-navigation-spec/hero_enters_the_nav_drawer.png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-navigation-spec/hero_displays_properly.png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/hero_and_user_enters_nav_drawer.png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-navigation-spec/hero_enters_the_nav_drawer.png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/application-navigation-spec/hero_displays_properly.png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/application-navigation-spec/hero_and_user_enters_nav_drawer.png
  packages/terra-application-navigation/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/application-navigation-spec/hero_enters_the_nav_drawer.png
Labels: :package: terra-application-navigation

#1425 [terra-collapsible-menu-view] Fix to allow users to add custom click event for menu buttons.
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItem.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/DefaultCollapsibleMenuView.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewItem.test.jsx
Labels: :package: terra-collapsible-menu-view, bug-fix

#1434 [terra-framework-docs] Create terra-framework-docs, migrate terra-aggregator over
  lerna.json
  package.json
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-aggregator/tests/wdio/aggregator-spec.js
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-framework-docs/.npmrc
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/LICENSE
  packages/terra-framework-docs/NOTICE
  packages/terra-framework-docs/README.md
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/Aggregator.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/ChangeLog.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/AggregatorContainer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/AggregatorItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/AggregatorItem.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/DisclosureComponent.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/ModalAggregator.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/SimpleAggregatorItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/example-styles.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/placeholder-list/PlaceholderList.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/placeholder-list/PlaceholderList.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/placeholder-list/PlaceholderListItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/AggregatorInModalExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/CombinedDisclosureExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/CustomRenderAggregatorExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/DisclosureBypassExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/example/StandaloneAggregatorExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/AggregatorStandalone.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/AggregatorWithDisclosure.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/AggregatorWithDisclosure.test.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/common/AggregatorItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/common/DisclosureComponent.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/aggregator/common/DisclosureComponent.module.scss
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
Labels: :package: terra-aggregator
