Repository cerner/terra-framework, pull requests merged in 2021-01, with the labels that each got.

#1350 Update failing jest tests
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/tests/jest/common/__snapshots__/PopupMenu.test.jsx.snap
  packages/terra-application-navigation/tests/jest/utility-menu/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/tests/jest/__snapshots__/DialogModal.test.jsx.snap
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
Labels: :package: terra-application-navigation, :package: terra-dialog-modal, :package: terra-navigation-side-menu

#1352 [terra-hookshot] Change variable name to fix resize popup issue.
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/_HookshotUtils.js
  packages/terra-hookshot/tests/jest/Hookshot.test.jsx
Labels: :package: terra-hookshot, bug-fix

#1364 [terra-layout] Removed re-declaration of $ ignore
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/tests/wdio/layout-slide-panel-spec.js
Labels: :package: terra-layout
