Repository cerner/terra-framework, pull requests merged in 2021-06, with the labels that each got.

#1410 [terra-date-picker] Fixed crash issue for upper and lower bound dates in IE
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/day.jsx
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: :package: terra-date-picker, bug-fix

#1417 Datepicker arrow alignment
  .gitignore
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/stylesheets/react_datepicker.module.scss
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/controlled_date_picker_iso_date_set_without_time.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-picker-spec/controlled_date_picker_ordinal_date_not_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/calendar-filter-spec/default.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/calendar-filter-spec/empty_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/calendar-filter-spec/filtered_date.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/calendar-filter-spec/formatted_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/calendar-filter-spec/iso_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/calendar-filter-spec/iso_date_set_without_time.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/calendar-filter-spec/ordinal_date_not_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/controlled_date_picker_date_picker_updated.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/controlled_date_picker_with_formatted_date.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/controlled_date_picker_with_iso_date.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/controlled_date_picker_with_iso_date_no_time.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/default_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/exclude_dates.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/filter_dates.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/uses_default_maxDate.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-picker-spec/uses_default_minDate.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/Returns_selected_date-iso-formmated_date.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/default.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/default_date_excluded.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/empty_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/exclude_date.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/filtered_date.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/formatted_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/iso_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/iso_date_set_without_time.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/calendar-filter-spec/ordinal_date_not_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-picker-spec/controlled_date_picker_formatted_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-picker-spec/controlled_date_picker_iso_date_set_without_time.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/calendar-filter-spec/default.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/calendar-filter-spec/empty_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/calendar-filter-spec/filtered_date.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/calendar-filter-spec/formatted_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/calendar-filter-spec/iso_date_set.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/calendar-filter-spec/iso_date_set_without_time.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/calendar-filter-spec/ordinal_date_not_set.png
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/date-time_remains_unchanged_after_button_click.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/onChange_triggered.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-mobile-spec/focus_hour_styles_empty.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-mobile-spec/focus_minute_styles_empty.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/after_offset_change_to_CST.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/date-time_remains_unchanged_after_button_click.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/missing_hour_on_change.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/valid_date.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/excluded_dates_disabled.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/filtered_dates_disabled.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/missing_hour_on_change.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/clear_excluded_date_-_hour_focus.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/clear_excluded_date_-_minute_focus.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/onChange_triggered.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/date-time-picker-spec/after_offset_change_to_CDT.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/date-time-picker-spec/after_offset_change_to_CST.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/date-time-picker-spec/onChange_triggered.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/date-time-picker-spec/clear_out_of_range_date_-_minute_focus.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/date-time-picker-spec/onChange_triggered.png
Labels: :package: terra-date-picker, :star: UX Reviewed, UX Review Required, bug-fix

#1419 [terra-dialog-modal][terra-infinite-list] deprecate terra-dialog-modal and terra-infinite-list
  README.md
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-dialog-modal/src/DialogModal.jsx
  packages/terra-dialog-modal/src/terra-dev-site/doc/dialog-modal/DialogModal.1.doc.mdx
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/src/terra-dev-site/doc/infinite-list/InfiniteList.1.doc.mdx
Labels: :package: terra-dialog-modal, :package: terra-infinite-list, :star: UX Reviewed

#1421 [terra-application-name] Update wdio tests to fix failing tests in themes
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/tests/wdio/application-header-name-spec.js
Labels: :package: terra-application-name
