Repository cerner/terra-framework, pull requests merged in 2022-12, with the labels that each got.

#1585 [terra-date-picker] invalid date fix
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
Labels: UX Review Required

#1580 [terra-application-links] resolve a11y issues related to navigation elements
  CONTRIBUTORS.md
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/src/tabs/ApplicationTabs.jsx
  packages/terra-application-links/src/tabs/ApplicationTabs.module.scss
  packages/terra-application-links/src/tabs/_CollapsedTab.jsx
  packages/terra-application-links/src/tabs/_TabMenu.jsx
  packages/terra-application-links/src/tabs/_TabMenuDisplay.jsx
  packages/terra-application-links/src/tabs/_TabMenuList.jsx
  packages/terra-application-links/translations/ar.json
  packages/terra-application-links/translations/de.json
  packages/terra-application-links/translations/en-AU.json
  packages/terra-application-links/translations/en-CA.json
  packages/terra-application-links/translations/en-GB.json
  packages/terra-application-links/translations/en-US.json
  packages/terra-application-links/translations/en.json
  packages/terra-application-links/translations/es-ES.json
  packages/terra-application-links/translations/es-US.json
  packages/terra-application-links/translations/es.json
  packages/terra-application-links/translations/fi-FI.json
  packages/terra-application-links/translations/fr-FR.json
  packages/terra-application-links/translations/fr.json
  packages/terra-application-links/translations/nl-BE.json
  packages/terra-application-links/translations/nl.json
  packages/terra-application-links/translations/pt-BR.json
  packages/terra-application-links/translations/pt.json
  packages/terra-application-links/translations/sv-SE.json
  packages/terra-application-links/translations/sv.json
Labels: UX Review Required, :package: terra-application-links, :star: UX Reviewed, :star: Accessibility Reviewed

#1586 [terra-application-utility] resolve a11y issues related to nav elements
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/src/utility/_UtilityButton.jsx
  packages/terra-application-utility/src/utility/_UtilityMenu.jsx
  packages/terra-application-utility/src/utility/_UtilityMenuItem.jsx
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenuItem.test.jsx.snap
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
Labels: :package: terra-application-utility, :star: UX Reviewed, :star: Accessibility Reviewed
