Repository cerner/terra-framework, pull requests merged in 2022-03, with the labels that each got.

#1526 [terra-menu] Migrate docs to terra-framework docs
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/ChangeLog.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/Menu.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/UpgradeGuide.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/ArrowMenu.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/BasicMenu.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/BasicMenu.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/MenuBounded.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/MenuBounded.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/MenuWidths.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/MenuWithInstructionsForUse.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item-group/MenuItemGroupDefault.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item/MenuItemCommon.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item/MenuItemDefault.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item/MenuItemDisabled.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item/MenuItemOnClick.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item/MenuItemSelectable.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item/MenuItemSubMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item/MenuItemWithInstructionsForUse.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu-item/MenuItemWrappedText.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/BoundedMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/BoundedMenu.test.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/DefaultMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/DynamicMenuChildren.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/LargeMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/MediumMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/NonSelectableMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/SelectableAndUnselectableItemsMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/SelectableMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/SmallMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/SubMenu.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/SubMenuLongTitle.test.jsx
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/tests/wdio/menu-item-group-spec.js
  packages/terra-menu/tests/wdio/menu-item-spec.js
  packages/terra-menu/tests/wdio/menu-spec.js
Labels: :package: terra-menu

#1527 [terra-navigation-layout] Migrate docs to terra-framework-docs
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/ChangeLog.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/NavigationLayout.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/HeaderExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/HeaderExample.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/MenuExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/NavigationLayoutDocCommon.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/NavigationLayoutStandard.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/NavigationLayoutStandardConfig.md
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/Page1Content.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/Page1Menu.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/Page2Content.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/Page2Menu.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-layout/example/Page3Content.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-layout/NavigationLayoutBasic.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-layout/NavigationLayoutComplex.test.jsx
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/tests/wdio/navigation-layout-spec.js
Labels: :package: terra-navigation-layout

#1528 [terra-collapsible-menu-view] Migrate docs to terra framework docs
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/ChangeLog.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/CollapsibleMenuView.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/UpgradeGuide.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/AlwaysCollapsedMenuItemsDemo.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewDemo.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/CollapsibleMenuViewSingleItem.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/DefaultCollapsibleMenuView.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/FirstHiddenItemIsIcon.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/PrePopulatedCollapsedMenuItems.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/SingleItemGroup.test.jsx
Labels: :package: terra-collapsible-menu-view

#1529 [terra-date-input] Migrate Docs to terra framework docs
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/tests/wdio/date-input-field-spec.js
  packages/terra-date-input/tests/wdio/date-input-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/ChangeLog.4.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/DateInput.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/DateInputField.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/KeyboardShortcuts.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/DayMonthYearDateInput.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/DayMonthYearDateInputField.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/DefaultDateInput.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/DefaultDateInputField.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/HideRequiredDateInputField.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/IncompleteDateInputField.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/InlineDateInputField.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/MonthDayYearDateInput.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/MonthDayYearDateInputField.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/OptionalDateInputField.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-input/example/RequiredDateInputField.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/AccessibilityField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/AccessibilityInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/DayMonthYearDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/DayMonthYearDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/DayMonthYearValueDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/DefaultDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/DefaultDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/DisabledDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/DisabledDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/FilledInDisabledDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/FocusBlurDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/FocusBlurDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/HideRequiredDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/IncompleteDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/IncompleteDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/InlineDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/InvalidDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/InvalidDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/InvalidIncompleteDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/InvalidIncompleteDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/InvalidProvidedDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/InvalidProvidedDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/MonthDayYearDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/MonthDayYearDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/MonthDayYearValueDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/MultipleDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/OptionalDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/PopulatedDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/PopulatedDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/RefCallbackDateInput.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/RequiredDateInputField.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/common/DateInput.test.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/date-input/common/_RadioFieldGenerator.jsx
Labels: :package: terra-date-input

#1531 [terra-navigation-prompt] Migrate docs to terra-navigation-prompt
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/About.0.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/ChangeLog.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart0.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart1.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/examples/ImplementationGuidePart2.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/examples/NavigationPromptExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/examples/NavigationPromptExample.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part0-ReviewingExample.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part1-AddingPrompts.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-prompt/implementation-guide.1/Part2-UsingCustomHandler.3.doc.mdx
  packages/terra-navigation-prompt/CHANGELOG.md
Labels: :package: terra-navigation-prompt

#1533 [terra-navigation-side-menu] Migrate docs to terra-framework-docs
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/ChangeLog.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/NavigationSideMenu.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/UpgradeGuide.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/example/NavigationSideMenuExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/example/NavigationSideMenuExample.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuDefault.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuDefaultWithToolbar.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuDocCommon.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuRoot.test.jsx
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: :package: terra-navigation-side-menu
