Repository cerner/terra-framework, pull requests merged in 2022-02, with the labels that each got.

#1504 [Do Not Merge] Draft PR Pills for accessibility testing
  packages/terra-pills/src/FilterPills.jsx
  packages/terra-pills/src/private/Pill.module.scss
  packages/terra-pills/src/private/_Pill.jsx
  packages/terra-pills/src/private/_PillsUtils.js
  packages/terra-pills/src/private/_RollupPill.jsx
Labels: do not merge

#1507 [terra-date-picker] Add keyboard shortcuts
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/DateUtil.js
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/ChangeLog.6.doc.mdx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/KeyboardShortcuts.4.doc.mdx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/UpgradeGuide.5.doc.mdx
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: :package: terra-date-picker, :star: UX Reviewed, :star: Functionally Reviewed

#1511 Test padding above and below TimeInput
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/terra-dev-site/test/time-input/time-input/Default.test.jsx
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-spec/default_no_time.png
Labels: :package: terra-time-input

#1512 [terra-date-input] Keyboard shortcut detection fix for firefox
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/src/DateInput.jsx
Labels: :package: terra-date-input, :star: UX Reviewed, :star: Functionally Reviewed
