Repository cerner/terra-framework, pull requests merged in 2023-11, with the labels that each got.

#1870 [terra-slider] Add translations for Slider component
  packages/terra-slider/CHANGELOG.md
  packages/terra-slider/translations/de.json
  packages/terra-slider/translations/en-GB.json
  packages/terra-slider/translations/es.json
  packages/terra-slider/translations/fr.json
  packages/terra-slider/translations/nl.json
  packages/terra-slider/translations/pt.json
  packages/terra-slider/translations/sv.json
Labels: :package: terra-slider

#1871 [terra-framework-docs] CHANGELOG corrections
  packages/terra-framework-docs/CHANGELOG.md
Labels: :package: terra-framework-docs

#1868 [terra-tabs] Fixes tab label update
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/common-tabs/_Tabs.jsx
Labels: :package: terra-tabs

#1864 [terra-tabs] Fixed issue to prefer customDisplay over label
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/tabs/Tabs/ClosableTab.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/tabs/Tabs/TabsTemplate.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/tabs/Tabs/VerticalTab.test.jsx
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/Tabs.jsx
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Interactive_Element.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/New_Tab_Added.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/Tab_after_close.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/Tabs_with_Add.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/Tabs_with_close.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Interactive_Element.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/New_Tab_Added.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Tab_after_close.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Tabs_with_Add.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Tabs_with_close.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Interactive_Element.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/tabs-spec/New_Tab_Added.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/tabs-spec/Tab_after_close.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/tabs-spec/Tabs_with_Add.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/tabs-spec/Tabs_with_close.png
Labels: bug-fix, :package: terra-tabs

#1804 [terra-embedded-content-consumer] Add screenreader support to announce context of embedded iframe content
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/package.json
  packages/terra-embedded-content-consumer/src/EmbeddedContentConsumer.jsx
  packages/terra-embedded-content-consumer/src/EmbeddedContentConsumer.module.scss
  packages/terra-embedded-content-consumer/tests/jest/EmbeddedContentConsumer.test.jsx
  packages/terra-embedded-content-consumer/tests/jest/__snapshots__/EmbeddedContentConsumer.test.jsx.snap
  packages/terra-embedded-content-consumer/translations/de.json
  packages/terra-embedded-content-consumer/translations/en-AU.json
  packages/terra-embedded-content-consumer/translations/en-CA.json
  packages/terra-embedded-content-consumer/translations/en-GB.json
  packages/terra-embedded-content-consumer/translations/en-US.json
  packages/terra-embedded-content-consumer/translations/en.json
  packages/terra-embedded-content-consumer/translations/es-ES.json
  packages/terra-embedded-content-consumer/translations/es-US.json
  packages/terra-embedded-content-consumer/translations/es.json
  packages/terra-embedded-content-consumer/translations/fr-FR.json
  packages/terra-embedded-content-consumer/translations/fr.json
  packages/terra-embedded-content-consumer/translations/nl-BE.json
  packages/terra-embedded-content-consumer/translations/nl.json
  packages/terra-embedded-content-consumer/translations/pt-BR.json
  packages/terra-embedded-content-consumer/translations/pt.json
  packages/terra-embedded-content-consumer/translations/sv-SE.json
  packages/terra-embedded-content-consumer/translations/sv.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumerWithUnframeableSrc.test.jsx
Labels: :package: terra-embedded-content-consumer, Accessibility Review Required, :star: Accessibility Reviewed

#1877 [terra-data-grid] Fixed pinned column divider issue
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
Labels: :star: Functionally Reviewed, :package: terra-data-grid

#1880 [terra-data-grid] Delete Obsolete Components and Packages
  package-lock.json
  packages/terra-data-grid/package.json
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/src/DataGrid.module.scss
  packages/terra-data-grid/src/clinical-lowlight-theme/Cell.module.scss
  packages/terra-data-grid/src/clinical-lowlight-theme/ColumnHeaderCell.module.scss
  packages/terra-data-grid/src/clinical-lowlight-theme/ColumnResizeHandle.module.scss
  packages/terra-data-grid/src/clinical-lowlight-theme/DataGrid.module.scss
  packages/terra-data-grid/src/clinical-lowlight-theme/Row.module.scss
  packages/terra-data-grid/src/orion-fusion-theme/Cell.module.scss
  packages/terra-data-grid/src/orion-fusion-theme/ColumnHeaderCell.module.scss
  packages/terra-data-grid/src/orion-fusion-theme/ColumnResizeHandle.module.scss
  packages/terra-data-grid/src/orion-fusion-theme/DataGrid.module.scss
  packages/terra-data-grid/src/orion-fusion-theme/Row.module.scss
  packages/terra-data-grid/src/subcomponents/Cell.jsx
  packages/terra-data-grid/src/subcomponents/Cell.module.scss
  packages/terra-data-grid/src/subcomponents/ColumnHeader.jsx
  packages/terra-data-grid/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-data-grid/src/subcomponents/ColumnHeaderCell.module.scss
  packages/terra-data-grid/src/subcomponents/ColumnResizeHandle.jsx
  packages/terra-data-grid/src/subcomponents/ColumnResizeHandle.module.scss
  packages/terra-data-grid/src/subcomponents/Row.jsx
  packages/terra-data-grid/src/subcomponents/Row.module.scss
  packages/terra-data-grid/src/subcomponents/RowSelectionCell.jsx
  packages/terra-data-grid/src/subcomponents/RowSelectionCell.module.scss
  packages/terra-data-grid/src/utils/ColumnContext.jsx
  packages/terra-data-grid/tests/jest/Cell.test.jsx
  packages/terra-data-grid/tests/jest/ColumnHeader.test.jsx
  packages/terra-data-grid/tests/jest/ColumnHeaderCell.test.jsx
  packages/terra-data-grid/tests/jest/ColumnResizeHandle.test.jsx
  packages/terra-data-grid/tests/jest/Row.test.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/Cell.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/ColumnHeader.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/ColumnResizeHandle.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/Row.test.jsx.snap
Labels: :package: terra-data-grid

#1879 Added deprecation documentation, fixed prop name
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/src/FilePath.jsx
  packages/terra-file-path/tests/jest/__snapshots__/FilePath.test.jsx.snap
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/file-path/About.1.doc.mdx
Labels: 📦 terra-file-path

#1881 [terra-data-grid] [terra-table] Move translations from DataGrid to Table Package
  packages/terra-data-grid/translations/de.json
  packages/terra-data-grid/translations/en-GB.json
  packages/terra-data-grid/translations/en-US.json
  packages/terra-data-grid/translations/en.json
  packages/terra-data-grid/translations/es.json
  packages/terra-data-grid/translations/fr.json
  packages/terra-data-grid/translations/nl.json
  packages/terra-data-grid/translations/pt.json
  packages/terra-data-grid/translations/sv.json
  packages/terra-table/translations/de.json
  packages/terra-table/translations/en-GB.json
  packages/terra-table/translations/es.json
  packages/terra-table/translations/fr.json
  packages/terra-table/translations/nl.json
  packages/terra-table/translations/pt.json
  packages/terra-table/translations/sv.json
Labels: :package: terra-table, :package: terra-data-grid

#1884 Release Nov 9, 2023
  package-lock.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slider/CHANGELOG.md
  packages/terra-slider/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: :package: terra-slide-panel-manager, :package: terra-form-validation, :package: terra-dialog-modal, :package: terra-embedded-content-consumer, :package: terra-collapsible-menu-view, :package: terra-menu, :package: terra-tabs, :package: terra-date-time-picker, :package: terra-date-picker, :package: terra-framework-docs, release, 📦 terra-file-path, :package: terra-slider, :package: terra-table, :package: terra-data-grid

#1883 Table column header tab index fix
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/ColumnHeaderCell.jsx
Labels: Accessibility Review Required, :package: terra-table, :package: terra-data-grid

#1886 [terra-table] Add tooltips for column headers
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-table/tests/jest/ColumnHeaderCell.test.jsx
  packages/terra-table/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
Labels: Functional Review Required, :package: terra-table

#1887 [terra-table] Added navigation via Home and End Keys
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/About.1.doc.mdx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/subcomponents/Cell.jsx
  packages/terra-table/src/utils/focusManagement.js
  packages/terra-table/tests/jest/Cell.test.jsx
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/row-selection-end.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/row-selection-home.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/row-selection-end.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/row-selection-home.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/row-selection-end.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/row-selection-home.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/row-selection-end.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/row-selection-home.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/row-selection-end.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/row-selection-home.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/row-selection-end.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/row-selection-home.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :star: UX Reviewed, :star: Functionally Reviewed, :package: terra-table

#1889 [terra-table] Fixed screenreader issue due to space in headers attribute
  packages/terra-data-grid/tests/jest/DataGrid.test.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/subcomponents/Cell.jsx
  packages/terra-table/tests/jest/Table.test.jsx
  packages/terra-table/tests/jest/__snapshots__/Cell.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
Labels: UX Review Required, :star: Accessibility Reviewed, :package: terra-table

#1882 [flowsheet-data-grid] Hide columns headers
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/src/FlowsheetDataGrid.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/FlowsheetDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/cell-3-1-focused.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/flowsheet-data-grid-no-column-headers.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-1-1-focus-3-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-3-1-focus-1-0.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-3-1-focus-3-1-with-hover.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-3-1-focus-3-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-4-2-focus-4-2.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-and-focus-on-1-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-arrows-range-1-1-to-3-1-focus-3-0.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-arrows-range-1-1-to-3-2.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-click-range-3-1-to-4-2.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-space-range-1-1-to-3-2.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/cell-3-1-focused.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/flowsheet-data-grid-no-column-headers.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-1-1-focus-3-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-3-1-focus-1-0.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-3-1-focus-3-1-with-hover.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-3-1-focus-3-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-4-2-focus-4-2.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-and-focus-on-1-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-arrows-range-1-1-to-3-1-focus-3-0.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-arrows-range-1-1-to-3-2.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-click-range-3-1-to-4-2.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-space-range-1-1-to-3-2.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/flowsheet-data-grid-spec/flowsheet-data-grid-no-column-headers.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-data-grid-spec/flowsheet-data-grid-no-column-headers.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/flowsheet-data-grid-spec/flowsheet-data-grid-no-column-headers.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-data-grid-spec/flowsheet-data-grid-no-column-headers.png
  packages/terra-data-grid/tests/wdio/flowsheet-data-grid-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/About.5.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/ColumnHeadersHidden.4.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/ColumnHeadersHidden.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/NoResultCells.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithoutHeaders.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/data-grid/flowsheet-data-grid/ColumnHeadersHidden.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/table/TableWithoutHeaders.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/subcomponents/ColumnHeader.jsx
  packages/terra-table/tests/jest/ColumnHeader.test.jsx
  packages/terra-table/tests/jest/__snapshots__/ColumnHeader.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
Labels: :star: UX Reviewed, :star: Functionally Reviewed, :package: terra-flowsheet-data-grid

#1897 [terra-data-grid] FlowsheetDataGrid - Remove unsupported props from docs
  package-lock.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/FlowsheetDataGrid.jsx
  packages/terra-data-grid/tests/jest/FlowsheetDataGrid.test.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/FlowsheetDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/flowsheet-data-grid-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/About.5.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/BasicFlowsheetDataGrid.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/BasicFlowsheetDataGrid.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/CellSelection.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/CellSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/ColumnHeadersHidden.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/NoResultCells.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/NoResultCells.jsx
Labels: :package: terra-flowsheet-data-grid

#1899 [terra-data-grid] FlowsheetDataGrid - Set columns to not selectable
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/FlowsheetDataGrid.jsx
  packages/terra-data-grid/tests/jest/FlowsheetDataGrid.test.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/FlowsheetDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/selection-arrows-range-3-1-to-1-1-focus-0-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-arrows-range-3-1-to-1-1-focus-0-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/flowsheet-data-grid-spec/selection-arrows-range-3-1-to-1-1-focus-0-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-arrows-range-3-1-to-1-1-focus-0-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/flowsheet-data-grid-spec/selection-arrows-range-3-1-to-1-1-focus-0-1.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-data-grid-spec/default-flowsheet-data-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-data-grid-spec/selection-arrows-range-3-1-to-1-1-focus-0-1.png
  packages/terra-data-grid/tests/wdio/flowsheet-data-grid-spec.js
Labels: :package: terra-flowsheet-data-grid

#1905 Release for Nov 20, 2023
  package-lock.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-slider/CHANGELOG.md
  packages/terra-slider/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
Labels: release

#1898 [terra-table] Table section pinned divider overlay
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/flowsheet-with-sections.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/flowsheet-with-sections.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/flowsheet-data-grid-spec/flowsheet-with-sections.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-data-grid-spec/flowsheet-with-sections.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/flowsheet-data-grid-spec/flowsheet-with-sections.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-data-grid-spec/flowsheet-with-sections.png
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithSections.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/table/TableWithSections.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/Section.module.scss
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/table-with-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/table-with-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/table-with-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/table-with-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/table-with-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/table-with-sections.png
Labels: Functional Review Required, :package: terra-table

#1888 [terra-folder-tree] Base Component Creation
  package-lock.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-folder-tree/src/FolderTree.jsx
  packages/terra-folder-tree/src/FolderTree.module.scss
  packages/terra-folder-tree/src/clinical-lowlight-theme/FolderTree.module.scss
  packages/terra-folder-tree/src/orion-fusion-theme/FolderTree.module.scss
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.jsx
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.module.scss
  packages/terra-folder-tree/tests/jest/FolderTree.test.jsx
  packages/terra-folder-tree/tests/jest/__snapshots__/FolderTree.test.jsx.snap
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
  packages/terra-folder-tree/translations/en-US.json
  packages/terra-folder-tree/translations/en.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/folder-tree/Examples.2/BasicFolderTree.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/folder-tree/Examples.2/BasicFolderTree.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/BasicFolderTree.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/WrappedLabelFolderTree.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/common/FolderTreeCommon.module.scss
Labels: Functional Review Required, UX Review Required, UX Review Ready, Functional Review Ready, terra-folder-tree

#1911 Release 23/11
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#1904 [terra-embedded-content-consumer] Update documentation to include accessibility guidance
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/src/EmbeddedContentConsumer.jsx
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/EmbeddedContentConsumer.1.doc.mdx
Labels: :package: terra-embedded-content-consumer

#1916 [Compact Interactive list ] Tests added for inconsistent width unit type
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/src/CompactInteractiveList.jsx
  packages/terra-compact-interactive-list/src/subcomponents/Cell.jsx
  packages/terra-compact-interactive-list/src/subcomponents/Row.jsx
  packages/terra-compact-interactive-list/src/utils/constants.js
  packages/terra-compact-interactive-list/src/utils/utils.js
  packages/terra-compact-interactive-list/tests/jest/CompactInteractiveList.test.jsx
  packages/terra-compact-interactive-list/tests/jest/__snapshots__/CompactInteractiveList.test.jsx.snap
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/compact-interactive-list-spec/inconsistent_width_units.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/inconsistent_width_units.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/compact-interactive-list-spec/inconsistent_width_units.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/inconsistent_width_units.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/compact-interactive-list-spec/inconsistent_width_units.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/inconsistent_width_units.png
  packages/terra-compact-interactive-list/tests/wdio/compact-interactive-list-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/InconsistentWidthUnits.test.jsx
Labels: terra-compact-interactive-list
