Repository cerner/terra-framework, pull requests merged in 2023-08, with the labels that each got.

#1700 [terra-slide-panel] Add focus check for disclosing node before focusing
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/slide-panel/SlidePanelDocCommon.test.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/slide-panel/SlidePanelSVGToggle.test.jsx
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: :package: terra-slide-panel, :star: Functionally Reviewed

#1724 Release Tabs 02/08
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#1722 Locked UUID to 3.4.0
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: :package: terra-slide-panel, :package: terra-time-input, :package: terra-menu, :package: terra-tabs, :package: terra-date-picker, :package: terra-navigation-prompt, :package: terra-date-input, :package: terra-pills, dependencies

#1725 Release Aug 2 2023
  package-lock.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: release

#1732 Release for Aug 4, 2023
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#1733 [terra-tabs] Downgrade UUID to v3
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: :package: terra-tabs

#1728 [terra-collapsible-menu-view] Update toggle examples
  CONTRIBUTORS.md
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/AlwaysCollapsedMenuItemsDemo.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewDemo.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewStartAligned.jsx
Labels: :package: terra-collapsible-menu-view, :star: UX Reviewed, :package: terra-framework-docs

#1730 [terra-popup] Updated examples for terra popup
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/popup/example/PopupStandard.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/popup/example/PopupWithArrow.jsx
Labels: :package: terra-popup, Doc Update

#1739 Update docker-compose-wdio.yml for dev containers
  .devcontainer/docker-compose-wdio.yml
  README.md
Labels: bug-fix, dependencies

#1718 [terra-menu] Added keyboard navigation and selected/unselected instructions
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.jsx
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
  packages/terra-menu/tests/wdio/menu-item-spec.js
  packages/terra-menu/tests/wdio/menu-spec.js
  packages/terra-menu/translations/de.json
  packages/terra-menu/translations/en-AU.json
  packages/terra-menu/translations/en-CA.json
  packages/terra-menu/translations/en-GB.json
  packages/terra-menu/translations/en-US.json
  packages/terra-menu/translations/en.json
  packages/terra-menu/translations/es-ES.json
  packages/terra-menu/translations/es-US.json
  packages/terra-menu/translations/es.json
  packages/terra-menu/translations/fr-FR.json
  packages/terra-menu/translations/fr.json
  packages/terra-menu/translations/nl-BE.json
  packages/terra-menu/translations/nl.json
  packages/terra-menu/translations/pt-BR.json
  packages/terra-menu/translations/pt.json
  packages/terra-menu/translations/sv-SE.json
  packages/terra-menu/translations/sv.json
Labels: :package: terra-menu, :star: UX Reviewed

#1736 [terra-worklist-data-grid] Add WDIO tests for pinned columns
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/PinnedColumns.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/PinnedColumnsWithRowSelection.test.jsx
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-select.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-select.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-select.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-select.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-select.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-select.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns.png
  packages/terra-worklist-data-grid/tests/wdio/worklist-data-grid-spec.js
Labels: :package: terra-worklist-data-grid

#1741 [terra-worklist-data-grid] Remove roving tabindex and resolve focus management issues
  package-lock.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/WorklistDataGridFocusableCell.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/WorklistDataGridFocusableCell.test.jsx
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/src/subcomponents/Cell.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeader.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-worklist-data-grid/src/subcomponents/Row.jsx
  packages/terra-worklist-data-grid/src/subcomponents/RowSelectionCell.jsx
  packages/terra-worklist-data-grid/src/utils/WorklistDataGridUtils.js
  packages/terra-worklist-data-grid/tests/jest/Row.test.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/Cell.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnHeader.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/Row.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/focusable-input-cell-trap-focus.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/tab-selection-off-grid.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/all-rows-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/focusable-input-cell-trap-focus.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/last-cell-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/no-rows-selected-after-click-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/no-rows-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-1-checkbox-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-1-selected-cell-4-5-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-3-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-4-selected-after-unselect-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-4-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/tab-selection-off-grid.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/focusable-input-cell-trap-focus.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/tab-selection-off-grid.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/focusable-input-cell-trap-focus.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/tab-selection-off-grid.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/focusable-input-cell-trap-focus.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/hover-selectable-cell.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/tab-selection-off-grid.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/all-rows-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/focusable-input-cell-trap-focus.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/hover-selectable-cell.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/last-cell-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/no-rows-selected-after-click-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/no-rows-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-1-checkbox-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-1-selected-cell-4-5-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-3-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-4-selected-after-unselect-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-4-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/tab-selection-off-grid.png
  packages/terra-worklist-data-grid/tests/wdio/worklist-data-grid-spec.js
Labels: UX Review Required, :package: terra-worklist-data-grid

#1743 [terra-worklist-data-grid] Allow row selection by space bar for masked and non-selectable cells
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/subcomponents/Cell.jsx
  packages/terra-worklist-data-grid/tests/jest/WorklistDataGrid.test.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
Labels: :package: terra-worklist-data-grid

#1744 [terra-worklist-data-grid] Optimize rendering
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/src/subcomponents/Cell.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeader.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-worklist-data-grid/src/subcomponents/Row.jsx
  packages/terra-worklist-data-grid/src/subcomponents/RowSelectionCell.jsx
  packages/terra-worklist-data-grid/tests/jest/Cell.test.jsx
  packages/terra-worklist-data-grid/tests/jest/ColumnHeaderCell.test.jsx
  packages/terra-worklist-data-grid/tests/jest/Row.test.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnHeader.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/Row.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
Labels: :package: terra-worklist-data-grid

#1746 [terra-worklist-data-grid] Fix CHANGELOG entries
  packages/terra-worklist-data-grid/CHANGELOG.md
Labels: :package: terra-worklist-data-grid

#1747 [terra-worklist-data-grid] Make cell selection honor prop values
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/About.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/CellSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/DefaultWorklistDataGrid.test.jsx
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/src/proptypes/cellShape.js
  packages/terra-worklist-data-grid/src/subcomponents/Row.jsx
  packages/terra-worklist-data-grid/tests/jest/Row.test.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/Row.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-worklist-data-grid/tests/wdio/worklist-data-grid-spec.js
Labels: :package: terra-worklist-data-grid

#1755 [terra-worklist-data-grid] Fix height of pinned column border
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/PinnedColumns.test.jsx
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/package.json
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
Labels: :package: terra-worklist-data-grid

#1756 [terra-worklist-data-grid] Fix pinned column selection state
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/PinnedColumns.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/PinnedColumns.test.jsx
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/subcomponents/Cell.module.scss
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-1-1-focus-1-1-with-hover.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-1-2-focus-1-2.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-2-1-focus-2-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-and-focus-on-1-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-change.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-1-1-focus-1-1-with-hover.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-1-2-focus-1-2.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-2-1-focus-2-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-and-focus-on-1-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-change.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-1-1-focus-1-1-with-hover.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-1-2-focus-1-2.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-2-1-focus-2-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-and-focus-on-1-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-change.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-1-1-focus-1-1-with-hover.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-1-2-focus-1-2.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-2-1-focus-2-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-and-focus-on-1-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-change.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-1-1-focus-1-1-with-hover.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-1-1-focus-3-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-1-2-focus-1-2.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-2-1-focus-2-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-3-1-focus-3-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-and-focus-on-1-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-selection-change.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-1-1-focus-1-1-with-hover.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-1-1-focus-3-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-1-2-focus-1-2.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-2-1-focus-2-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-3-1-focus-3-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-and-focus-on-1-1.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-selection-change.png
  packages/terra-worklist-data-grid/tests/wdio/worklist-data-grid-spec.js
Labels: :star: Functionally Reviewed, :package: terra-worklist-data-grid

#1760 [terra-collapsible-menu-view] Add aria-haspopup attribute to menu buttons
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItem.jsx
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewItem.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItem.test.jsx.snap
Labels: :package: terra-collapsible-menu-view, :star: UX Reviewed, :star: Accessibility Reviewed

#1750 [terra-collapsible-menu-view] Disable unselectable menu item toggles
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewToggle.jsx
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewToggle.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewToggle.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/collapsible-menu-view-spec/unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/collapsible-menu-view-spec/unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/collapsible-menu-view-spec/collapsible_menu_with_unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/collapsible-menu-view-spec/unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/collapsible-menu-view-spec/collapsible_menu_with_unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/collapsible-menu-view-spec/unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/collapsible-menu-view-spec/collapsible_menu_with_unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/collapsible-menu-view-spec/unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/collapsible-menu-view-spec/collapsible_menu_with_unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/collapsible-menu-view-spec/unselectable_toggle.png
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/CollapsibleMenuViewUnselectableToggle.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/UnselectableToggle.test.jsx
Labels: :package: terra-collapsible-menu-view, :star: UX Reviewed, :star: Accessibility Reviewed, :package: terra-framework-docs

#1762 WorklistDataGrid Updated the functionality for selecting a range of rows
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/PinnedColumnsWithRowSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/RowSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/PinnedColumnsWithRowSelection.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/WorklistDataGridWithRowSelection.test.jsx
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/src/subcomponents/Cell.jsx
  packages/terra-worklist-data-grid/src/subcomponents/Row.jsx
  packages/terra-worklist-data-grid/tests/jest/WorklistDataGrid.test.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/worklist-data-grid-spec.js
Labels: :star: UX Reviewed, :star: Functionally Reviewed, :star: Accessibility Reviewed, :package: terra-worklist-data-grid

#1770 Release 08/31
  package-lock.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-infinite-list/CHANGELOG.md
  packages/terra-infinite-list/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/package.json
Labels: release
