Repository cerner/terra-framework, pull requests merged in 2023-04, with the labels that each got.

#1621 [terra-slide-panel-manager] Allow consuming teams ability to define heading levels
  CONTRIBUTORS.md
  dangerfile.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/slide-panel-manager/example/SlidePanelManager.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/slide-panel-manager/example/SlidePanelManagerExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/slide-panel-manager/example/SlidePanelManagerSquishExample.jsx
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/src/SlidePanelManager.jsx
  packages/terra-slide-panel-manager/tests/jest/SlidePanelManager.test.jsx
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
Labels: :package: terra-slide-panel-manager, :star: Accessibility Reviewed

#1613 [terra-collapsible-menu-view] add isStartAligned prop to collapsible-menu-view
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.module.scss
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuView.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuView.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/collapsible-menu-view-spec/start_aligned.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/collapsible-menu-view-spec/start_aligned_with_menu_open.png
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/CollapsibleMenuView.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewStartAligned.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/CollapsibleMenuViewStartAlignment.test.jsx
Labels: UX Review Required, :package: terra-collapsible-menu-view, :star: UX Reviewed

#1625 [terra-menu] Fixes Title Click Navigation issue
  package-lock.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-menu/src/_MenuContent.jsx
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/menu_with_submenu.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/navigated_to_submenu_using_arrow_keys.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/navigated_to_submenu_using_enter_key.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/open_submenu.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/submenu_long_header.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/menu_with_submenu.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/navigated_to_submenu_using_arrow_keys.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/navigated_to_submenu_using_enter_key.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/open_submenu.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/submenu_long_header.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/menu_with_submenu.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/navigated_to_submenu_using_arrow_keys.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/navigated_to_submenu_using_enter_key.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/open_submenu.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/submenu_long_header.png
Labels: :package: terra-menu

#1630 [slide-panel] Fixed slide panel crashing when open by default
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/slide-panel/SlidePanelToggledOn.test.jsx
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: :package: terra-slide-panel

#1638 [terra-slide-panel] Contain focus in panel content when fullscreen
  CONTRIBUTORS.md
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/slide-panel/SlidePanelToggledOnFullscreen.test.jsx
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/SlidePanel.module.scss
  packages/terra-slide-panel/tests/jest/SlidePanel.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: :package: terra-slide-panel-manager, UX Review Required, :package: terra-slide-panel, :star: UX Reviewed, Accessibility Review Required, :star: Accessibility Reviewed

#1646 [terra-modal-manager] Changed modal name to be the same as h1 title of the modal dialog
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/src/inertHelpers.js
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/tests/jest/inertHelpers.test.jsx
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
  packages/terra-dialog-modal/tests/wdio/dialog-modal-spec.js
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-modal-manager/tests/wdio/modal-manager-spec.js
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
Labels: :package: terra-modal-manager, :package: terra-abstract-modal

#1640 [terra-slide-panel] Added screen reader support to communicate if slide panel exists
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel-manager/tests/jest/SlidePanelManager.test.jsx
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/tests/jest/SlidePanel.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/fill.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/fill.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/slide-panel-spec/fill.png
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
  packages/terra-slide-panel/translations/en-US.json
  packages/terra-slide-panel/translations/en.json
Labels: :package: terra-slide-panel-manager, :package: terra-slide-panel, :star: UX Reviewed, :star: Accessibility Reviewed
