Repository cerner/terra-framework, pull requests merged in 2023-12, with the labels that each got.

#1922 Release Dec 1
  package-lock.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
Labels: release

#1923 [terra-table] Remove Console Warning Message when No Pinned Columns
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/utils/constants.js
  packages/terra-data-grid/tests/jest/DataGrid.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/utils/constants.js
  packages/terra-table/tests/jest/Table.test.jsx
Labels: :package: terra-table

#1924 [terra-table] Export Row Selection Column Width
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/About.1.doc.mdx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/index.js
Labels: :package: terra-table

#1928 [terra-embedded-content-consumer] Update XFC Provider initialization for the examples in Embedded Content Consumer
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/src/EmbeddedContentProviderTestTemplate.jsx
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/BasicProvider.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/BasicProviderWithScrolling.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/CustomEventProvider.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/CustomEventsProvider.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/DataStatusProvider.provider.jsx
Labels: :package: terra-embedded-content-consumer

#1915 [terra-folder-tree] Add the ability to expand/collapse folders
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-folder-tree/src/FolderTree.jsx
  packages/terra-folder-tree/src/clinical-lowlight-theme/FolderTree.module.scss
  packages/terra-folder-tree/src/index.js
  packages/terra-folder-tree/src/orion-fusion-theme/FolderTree.module.scss
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.jsx
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.module.scss
  packages/terra-folder-tree/tests/jest/FolderTree.test.jsx
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/folder-tree/Examples.2/ExpandCollapseFolderTree.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/folder-tree/Examples.2/ExpandCollapseFolderTree.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/ExpandCollapseFolderTree.test.jsx
Labels: terra-folder-tree

#1929 Release Dec 5
  package-lock.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/src/terra-dev-site/test/dialog-modal/DialogModalWithSelect.test.jsx
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dialog-modal-spec/Select_Opened_inside_a_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/Select_Opened_inside_a_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/dialog-modal-spec/Select_Opened_inside_a_modal.png
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/Section.jsx
Labels: release

#1927 [terra-data-grid] Flowsheet keyboard navigation
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/src/WorklistDataGrid.jsx
  packages/terra-data-grid/tests/jest/FlowsheetDataGrid.test.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/data-grid-first-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/data-grid-second-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/data-grid-sections-maintain-column.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/data-grid-with-section-initial-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/data-grid-first-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/data-grid-second-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/data-grid-sections-maintain-column.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/data-grid-with-section-initial-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/data-grid-first-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/data-grid-second-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/data-grid-sections-maintain-column.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/data-grid-with-section-initial-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/data-grid-first-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/data-grid-second-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/data-grid-sections-maintain-column.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/data-grid-with-section-initial-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/data-grid-first-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/data-grid-second-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/data-grid-sections-maintain-column.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/data-grid-with-section-initial-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/data-grid-first-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/data-grid-second-section.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/data-grid-sections-maintain-column.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/data-grid-with-section-initial-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/data-grid-spec.js
  packages/terra-data-grid/tests/wdio/worklist-data-grid-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/data-grid/data-grid/DataGridWithSections.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/data-grid/worklist-data-grid/WorklistDataGridWithRowSelection.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/ColumnHeader.jsx
  packages/terra-table/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-table/src/subcomponents/Section.jsx
  packages/terra-table/src/subcomponents/Section.module.scss
  packages/terra-table/tests/jest/ColumnHeaderCell.test.jsx
  packages/terra-table/tests/jest/Section.test.jsx
  packages/terra-table/tests/jest/Table.test.jsx
  packages/terra-table/tests/jest/__snapshots__/ColumnHeader.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Section.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
Labels: :star: Accessibility Reviewed, :package: terra-table, :package: terra-data-grid

#1935 [terra-pills] Fixed JAWS(SR) providing navigation instructions on empty pill box
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/pills/example/AppliedFiltersExample.jsx
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/src/FilterPills.jsx
Labels: :package: terra-pills

#1932 [terra-notification-dialog] Enable focus on the dialog content to provide navigation for the keyboard users using Up/Down arrow keys.
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/notification-dialog/example/NotificationDialogWithLongText.jsx
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/src/NotificationDialog.jsx
  packages/terra-notification-dialog/src/NotificationDialog.module.scss
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
Labels: :package: terra-notifcation-dialog

#1938 [terra-framework-docs] Update prefix for examples, tests, and remove redundant XFC Provider initialization for terra-embedded-content-consumer
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/BasicConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/BasicConsumerWithScrolling.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/CustomEventConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/CustomEventsConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/DataStatusConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/BasicProvider.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/BasicProviderWithScrolling.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/CustomEventProvider.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/CustomEventsProvider.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/DataStatusProvider.provider.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumer.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumerWithNoScrolling.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumerWithScrolling.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/CustomEventConsumer.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/CustomEventsConsumer.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/DataStatusConsumer.test.jsx
Labels: :package: terra-framework-docs

#1936 [terra-theme-provider] Add support for theme density
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationHeader.test.jsx.snap
  packages/terra-application-links/tests/jest/__snapshots__/ApplicationTabs.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityButton.test.jsx.snap
  packages/terra-application-utility/tests/jest/__snapshots__/UtilityMenu.test.jsx.snap
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/theme-context/ThemeContext.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/theme-context/example/ThemeContextProviderExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/theme-context/example/ThemedComponent.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/theme-context/example/ThemedComponent.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/theme-provider/example/DefaultThemeProvider.jsx
  packages/terra-framework-docs/src/terra-dev-site/theme/theme-provider-scoped-theme.scss
  packages/terra-theme-context/CHANGELOG.md
  packages/terra-theme-context/src/ThemeContext.jsx
  packages/terra-theme-context/src/ThemeContextProvider.jsx
  packages/terra-theme-context/tests/jest/ThemeContextProvider.test.jsx
  packages/terra-theme-context/tests/jest/__snapshots__/ThemeContextProvider.test.jsx.snap
  packages/terra-theme-provider/CHANGELOG.md
  packages/terra-theme-provider/src/ThemeProvider.jsx
  packages/terra-theme-provider/tests/jest/ThemeProvider.test.jsx
  packages/terra-theme-provider/tests/jest/__snapshots__/ThemeProvider.test.jsx.snap
  terra-theme.config.js
Labels: 📦 terra-theme-provider

#1940 [terra-table] Table implementation guide
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/About.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/DefaultTable.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/PinnedColumns.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/SortableTable.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableColumnStates.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableFocusableCell.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableFocusableCell.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableMultipleRowSelection.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableRowSelection.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableSingleRowSelection.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithSections.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithoutHeaders.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/ZebraStripedTable.1.doc.mdx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
Labels: :star: Accessibility Reviewed, :package: terra-table

#1943 [terra-folder-tree] Expand all/collapse all
  package-lock.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-folder-tree/src/FolderTree.jsx
  packages/terra-folder-tree/src/FolderTree.module.scss
  packages/terra-folder-tree/tests/jest/FolderTree.test.jsx
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
  packages/terra-folder-tree/translations/en-US.json
  packages/terra-folder-tree/translations/en.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/folder-tree/Examples.2/BasicFolderTree.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/folder-tree/Examples.2/ExpandCollapseFolderTree.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/BasicFolderTree.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/ExpandCollapseFolderTree.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/WrappedLabelFolderTree.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/common/FolderTreeCommon.module.scss
Labels: UX Review Required, UX Review Ready, :star: Accessibility Reviewed, terra-folder-tree

#1945 [terra-framework-docs] Slider implementation guide and docs update
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/slider/About.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/slider/Examples.2/CustomSlider.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/slider/Examples.2/DefaultSlider.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/slider/Examples.2/DisabledSlider.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/slider/Examples.2/SliderWithOnChangeCallback.4.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/slider/Examples.2/SliderWithOnChangeCallback.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/slider/Examples.2/SliderWithValueUpdate.5.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/slider/Examples.2/SliderWithValueUpdate.jsx
  packages/terra-slider/src/Slider.jsx
Labels: UX Review Required, UX Review Ready, :star: Accessibility Reviewed, :package: terra-framework-docs

#1948 Flowsheet implementation guide
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/About.5.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/BasicFlowsheetDataGrid.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/ColumnHeadersHidden.4.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/FlowsheetWithSections.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/NoResultCells.2.doc.mdx
Labels: Functional Review Required, :star: Accessibility Reviewed, :package: terra-data-grid

#1956 [terra-folder-tree] Keyboard navigation + focus indicator
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/src/FolderTree.jsx
  packages/terra-folder-tree/src/clinical-lowlight-theme/FolderTree.module.scss
  packages/terra-folder-tree/src/orion-fusion-theme/FolderTree.module.scss
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.jsx
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.module.scss
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expand_first_folder_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/last_item_focused_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/level_three_folder_child_selected_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/level_three_folder_child_selected_left_arrow_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/level_three_folder_focused_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/select_second_item_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expand_first_folder_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/last_item_focused_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/level_three_folder_child_selected_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/level_three_folder_child_selected_left_arrow_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/level_three_folder_focused_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/select_second_item_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/basic_folder_tree_selected.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/collapse_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/expand_all_folders_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/expand_first_folder_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/last_item_focused_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/level_three_folder_child_selected_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/level_three_folder_child_selected_left_arrow_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/level_three_folder_focused_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/select_second_item_keyboard.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/ExpandCollapseFolderTree.test.jsx
Labels: :star: UX Reviewed, :star: Accessibility Reviewed, 📦 terra-folder-tree

#1942 [terra-time-input] Added visual label and status message to announce invalid input
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/date-time-picker-spec/with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/date-time-picker-spec/with_timezone.png
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputDefaultTime.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputDefaultTwelveHour.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputDocCommon.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputNoDefaultTime.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputNoDefaultTwelveHour.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputSeconds.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputSecondsIncomplete.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputSecondsInvalid.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputSecondsTwelveHour.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/time-input/example/TimeInputSecondsWithDefault.jsx
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
  packages/terra-time-input/translations/de.json
  packages/terra-time-input/translations/en.json
  packages/terra-time-input/translations/es-ES.json
  packages/terra-time-input/translations/es-US.json
  packages/terra-time-input/translations/es.json
  packages/terra-time-input/translations/fr-FR.json
  packages/terra-time-input/translations/fr.json
  packages/terra-time-input/translations/nl.json
  packages/terra-time-input/translations/pt.json
  packages/terra-time-input/translations/sv-SE.json
  packages/terra-time-input/translations/sv.json
Labels: :package: terra-time-input, Accessibility Review Required

#1960 removed the banner
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/About.1.doc.mdx
Labels: 📦 terra-compact-interactive-list
