Repository cerner/terra-framework, pull requests merged in 2023-10, with the labels that each got.

#1812 [terra-tabs] Fixes axe core violations, SR response for hidden tabs
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/common-tabs/_HiddenTab.jsx
  packages/terra-tabs/src/common-tabs/_Tab.jsx
  packages/terra-tabs/tests/jest/__snapshots__/Tab.test.jsx.snap
  packages/terra-tabs/tests/jest/__snapshots__/TabPane.test.jsx.snap
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
  packages/terra-tabs/tests/jest/__snapshots__/_HiddenTab.test.jsx.snap
  packages/terra-tabs/tests/jest/__snapshots__/_TabDropDown.test.jsx.snap
Labels: :package: terra-tabs, Accessibility Review Required

#1819 [Terra-Menu] Fixes focus highlight issue for menu back icon on Safari browser
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/Menu.module.scss
  packages/terra-menu/src/clinical-lowlight-theme/Menu.module.scss
  packages/terra-menu/src/orion-fusion-theme/Menu.module.scss
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/navigating_to_back_button.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/navigating_to_back_button.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/navigating_to_back_button.png
Labels: :package: terra-menu, :star: UX Reviewed

#1824 [terra-popup] Popup with table example fix
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/Popup.jsx
Labels: :package: terra-popup

#1805 Focus should remain on Grid when Row Selection Mode is turned off using Grid shortcut
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/src/WorklistDataGrid.jsx
  packages/terra-data-grid/tests/jest/DataGrid.test.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/row-selection-mode-off-cell-4-0-focused.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-selection-mode-off-cell-4-0-focused.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/row-selection-mode-off-cell-4-0-focused.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-selection-mode-off-cell-4-0-focused.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/row-selection-mode-off-cell-4-0-focused.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-selection-mode-off-cell-4-0-focused.png
  packages/terra-data-grid/tests/wdio/worklist-data-grid-spec.js
Labels: :package: terra-worklist-data-grid

#1835 Data grid key events
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/data-grid-focusable-input-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/data-grid-focusable-select-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/data-grid-focusable-textarea-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-input-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-select-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-textarea-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/data-grid-focusable-input-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/data-grid-focusable-select-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/data-grid-focusable-textarea-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-input-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-select-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-textarea-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/data-grid-focusable-input-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/data-grid-focusable-select-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/data-grid-focusable-textarea-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-input-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-select-retains-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/data-grid-focusable-textarea-retains-focus.png
  packages/terra-data-grid/tests/wdio/data-grid-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/data-grid/data-grid/DataGridFocusableCell.test.jsx
Labels: :star: Functionally Reviewed, :package: terra-data-grid

#1831 [terra-menu] - Fixed focus highlight issue for menu button
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/BasicMenu.module.scss
  packages/terra-framework-docs/src/terra-dev-site/theme/clinical-lowlight-theme/BasicMenu.module.scss
  packages/terra-framework-docs/src/terra-dev-site/theme/orion-fusion-theme/BasicMenu.module.scss
Labels: :package: terra-menu

#1838 Release 10/17/23
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
Labels: release

#1826 Creation of documentation/implementation guide for Worklist DataGrid
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/WorklistDataGrid.jsx
  packages/terra-data-grid/src/proptypes/cellShape.js
  packages/terra-data-grid/src/proptypes/rowShape.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/About.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/BasicWorklistDataGrid.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/BasicWorklistDataGrid.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/CellSelection.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/CellSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/DefaultWorklistDataGrid.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/PinnedColumns.5.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/PinnedColumns.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/PinnedColumnsWithRowSelection.6.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/PinnedColumnsWithRowSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/RowSelection.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/RowSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/WorklistDataGridColumnStates.4.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/WorklistDataGridColumnStates.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/WorklistDataGridFocusableCell.doc.mdx
Labels: :package: terra-worklist-data-grid, :star: Tech Writing Reviewed

#1840 [terra-table] Remove cell dive-in logic for table role
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/PinnedColumns.2.doc.mdx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/Cell.jsx
  packages/terra-table/tests/jest/Cell.test.jsx
  packages/terra-table/tests/jest/__snapshots__/Cell.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
Labels: :package: terra-table

#1820 [Terra-Tabs] Vertical Orientation for Tabs.
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/Tabs.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/AddCloseTab.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/AddCloseTabInteractive.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/AddTab.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/ClosableTab.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/IconOnlyTabs.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/IconsInMenuTabs.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/TabContentTemplate.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/TabsTemplate.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/TabsTemplateExpanded.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/TabsWithFilledContent.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/VerticalTabs.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/common/TabExample.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/tabs/Tabs/TabsTemplate.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/tabs/Tabs/VerticalTab.test.jsx
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/StructuralTabs.module.scss
  packages/terra-tabs/src/Tabs.jsx
  packages/terra-tabs/src/clinical-lowlight-theme/Tabs.module.scss
  packages/terra-tabs/src/common-tabs/CommonTabs.jsx
  packages/terra-tabs/src/common-tabs/CommonTabs.module.scss
  packages/terra-tabs/src/common-tabs/Tab.module.scss
  packages/terra-tabs/src/common-tabs/TerraStructuralTabs.module.scss
  packages/terra-tabs/src/common-tabs/TerraTabs.module.scss
  packages/terra-tabs/src/common-tabs/_AddButton.jsx
  packages/terra-tabs/src/common-tabs/_Tab.jsx
  packages/terra-tabs/src/common-tabs/_Tabs.jsx
  packages/terra-tabs/src/common-tabs/_Tabs.module.scss
  packages/terra-tabs/src/orion-fusion-theme/Tabs.module.scss
  packages/terra-tabs/tests/jest/Tabs.test.jsx
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
  packages/terra-tabs/tests/jest/__snapshots__/_AddButton.test.jsx.snap
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
  packages/terra-tabs/tests/wdio/tabs-spec.js
Labels: Functional Review Required, UX Review Required, :package: terra-tabs, Accessibility Review Required

#1844 [terra-table] Scrollable table focus
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/DefaultTable.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/table/ScrollableTable.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/scrollable-table-first-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/scrollable-table-first-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/scrollable-table-second-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/scrollable-table-second-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/scrollable-table-first-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/scrollable-table-first-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/scrollable-table-second-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/scrollable-table-second-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/scrollable-table-first-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/scrollable-table-first-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/scrollable-table-second-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/scrollable-table-second-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/scrollable-table-first-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/scrollable-table-first-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/scrollable-table-second-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/scrollable-table-second-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/scrollable-table-first-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/scrollable-table-first-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/scrollable-table-second-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/scrollable-table-second-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/scrollable-table-first-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/scrollable-table-first-scroll.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/scrollable-table-second-focus.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/scrollable-table-second-scroll.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: UX Review Required, :star: Functionally Reviewed, :package: terra-table

#1847 Release 20/10
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#1848 [terra-tabs] Fixed keyboard navigation for draggable tabs
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/common-tabs/_Tab.jsx
  packages/terra-tabs/tests/wdio/tabs-spec.js
Labels: :package: terra-tabs

#1849 [terra-tabs] Fixes screen reader response when tabs are closed.
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/common-tabs/_Tab.jsx
Labels: :package: terra-tabs

#1843 [terra-table] Allow consumers to hide table column headers
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithoutHeaders.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithoutHeaders.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/table/TableWithoutHeaders.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/Table.module.scss
  packages/terra-table/src/clinical-lowlight-theme/Table.module.scss
  packages/terra-table/src/orion-fusion-theme/Table.module.scss
  packages/terra-table/src/subcomponents/ColumnHeader.jsx
  packages/terra-table/src/subcomponents/ColumnHeader.module.scss
  packages/terra-table/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-table/tests/jest/ColumnHeader.test.jsx
  packages/terra-table/tests/jest/ColumnHeaderCell.test.jsx
  packages/terra-table/tests/jest/Table.test.jsx
  packages/terra-table/tests/jest/__snapshots__/ColumnHeader.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/sortable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/table-without-column-headers.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/sortable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/table-without-column-headers.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/table-without-column-headers.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/table-without-column-headers.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/sortable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/table-without-column-headers.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/sortable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/table-without-column-headers.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :star: UX Reviewed, :star: Functionally Reviewed, :package: terra-table

#1850 [terra-table] Provide examples and tests for focusable elements in a table.
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableFocusableCell.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableFocusableCell.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/table/TableFocusableCell.test.jsx
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :package: terra-table

#1846 [terra-tabs]Tabs doc site issue fix
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/IconOnlyTabs.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/ResponsiveTabsVariant.jsx
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/common-tabs/_Tabs.jsx
Labels: :package: terra-tabs

#1830 [terra-data-grid] Flowsheet Data Grid - No Result Cell
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/README.md
  packages/terra-data-grid/package.json
  packages/terra-data-grid/src/FlowsheetDataGrid.jsx
  packages/terra-data-grid/tests/jest/FlowsheetDataGrid.test.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/FlowsheetDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/default.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/default.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/flowsheet-data-grid-spec/default.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-data-grid-spec/default.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/flowsheet-data-grid-spec/default.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-data-grid-spec/default.png
  packages/terra-data-grid/translations/en-US.json
  packages/terra-data-grid/translations/en.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/About.5.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/BasicFlowsheetDataGrid.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/BasicFlowsheetDataGrid.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/DefaultFlowsheetDataGrid.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/FlowsheetDataGridResultsMissing.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/FlowsheetDataGridResultsMissing.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/About.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/test/data-grid/flowsheet-data-grid/DefaultFlowsheetDataGrid.test.jsx
Labels: :star: UX Reviewed, :star: Accessibility Reviewed, :package: terra-flowsheet-data-grid

#1813 [terra-worklist-data-grid] added keyboard support for column resizing
  packages/terra-data-grid/src/DataGrid.module.scss
  packages/terra-data-grid/tests/jest/ColumnHeader.test.jsx
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/sticky-header-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/sticky-header-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/sticky-header-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/sticky-header-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/second-column-cell-focused-in-empty-grid.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/sticky-header-scroll.png
Labels: :star: UX Reviewed, :star: Accessibility Reviewed, :package: terra-worklist-data-grid

#1860 Release 10-25-2023
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slider/CHANGELOG.md
  packages/terra-slider/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#1858 [terra-table] Custom message for masked cells
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/About.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/DefaultTable.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/proptypes/cellShape.js
  packages/terra-table/src/subcomponents/Cell.jsx
  packages/terra-table/src/subcomponents/Row.jsx
  packages/terra-table/tests/jest/Cell.test.jsx
  packages/terra-table/tests/jest/__snapshots__/Cell.test.jsx.snap
Labels: :star: Functionally Reviewed, :package: terra-table

#1866 Add compact-interactive-list to package-lock
  package-lock.json
Labels: terra-compact-interactive-list

#1799 [terra-date-picker] Updated SR response to include hot key suggestions
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/translations/de.json
  packages/terra-date-picker/translations/en-AU.json
  packages/terra-date-picker/translations/en-CA.json
  packages/terra-date-picker/translations/en-GB.json
  packages/terra-date-picker/translations/en-US.json
  packages/terra-date-picker/translations/en.json
  packages/terra-date-picker/translations/es-ES.json
  packages/terra-date-picker/translations/es-US.json
  packages/terra-date-picker/translations/es.json
  packages/terra-date-picker/translations/fr-FR.json
  packages/terra-date-picker/translations/fr.json
  packages/terra-date-picker/translations/nl-BE.json
  packages/terra-date-picker/translations/nl.json
  packages/terra-date-picker/translations/pt-BR.json
  packages/terra-date-picker/translations/pt.json
  packages/terra-date-picker/translations/sv-SE.json
  packages/terra-date-picker/translations/sv.json
Labels: :package: terra-date-picker
