Repository cerner/terra-framework, pull requests merged in 2023-07, with the labels that each got.

#1688 [worklist-data-grid] Add disclaimer to readme
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/About.1.doc.mdx
  packages/terra-worklist-data-grid/README.md
Labels: :package: terra-worklist-data-grid

#1695 [terra-embedded-content-consumer] Updated the path name for the examples in doc site to resolve missing files
  CONTRIBUTORS.md
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/BasicConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/CustomEventConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/CustomEventsConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/DataStatusConsumer.jsx
Labels: :package: terra-embedded-content-consumer

#1699 [terra-worklist-data-grid] Resize Columns Via Mouse
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/CellSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/WorklistDataGridColumnStates.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/WorklistDataGridWithSelections.test.jsx
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/src/WorklistDataGrid.module.scss
  packages/terra-worklist-data-grid/src/clinical-lowlight-theme/ColumnResizeHandle.module.scss
  packages/terra-worklist-data-grid/src/orion-fusion-theme/ColumnResizeHandle.module.scss
  packages/terra-worklist-data-grid/src/proptypes/columnShape.js
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeader.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeaderCell.module.scss
  packages/terra-worklist-data-grid/src/subcomponents/ColumnResizeHandle.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnResizeHandle.module.scss
  packages/terra-worklist-data-grid/src/subcomponents/Row.module.scss
  packages/terra-worklist-data-grid/src/utils/WorklistDataGridUtils.js
  packages/terra-worklist-data-grid/tests/jest/ColumnHeader.test.jsx
  packages/terra-worklist-data-grid/tests/jest/ColumnHeaderCell.test.jsx
  packages/terra-worklist-data-grid/tests/jest/ColumnResizeHandle.test.jsx
  packages/terra-worklist-data-grid/tests/jest/WorklistDataGrid.test.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnHeader.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnResizeHandle.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-worklist-data-grid/translations/en-US.json
  packages/terra-worklist-data-grid/translations/en.json
Labels: UX Review Required, Accessibility Review Required, :package: terra-worklist-data-grid

#1702 [terra-worklist-data-grid] Code cleanup and prop rename
  packages/terra-worklist-data-grid/.npmignore
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/src/subcomponents/Cell.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeader.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-worklist-data-grid/src/subcomponents/ColumnResizeHandle.jsx
  packages/terra-worklist-data-grid/src/subcomponents/Row.jsx
  packages/terra-worklist-data-grid/src/subcomponents/RowSelectionCell.jsx
  packages/terra-worklist-data-grid/tests/jest/ColumnHeader.test.jsx
  packages/terra-worklist-data-grid/tests/jest/ColumnHeaderCell.test.jsx
  packages/terra-worklist-data-grid/tests/jest/ColumnResizeHandle.test.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnHeader.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/ColumnResizeHandle.test.jsx.snap
  packages/terra-worklist-data-grid/translations/en-US.json
Labels: :package: terra-worklist-data-grid

#1703 Release July 19, 2023
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/package.json
Labels: release

#1707 [terra-framework-docs] Added worklist-data-grid as a dependency
  package-lock.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
Labels: :package: terra-framework-docs, dependencies

#1708 Release July 20th, 2023
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
Labels: :package: terra-framework-docs, release

#1713 Release July 25
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-disclosure-manager/CHANGELOG.md
  packages/terra-disclosure-manager/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release
