Repository cerner/terra-framework, pull requests merged in 2023-09, with the labels that each got.

#1773 Release 05/09
  package-lock.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#1772 [terra-worklist-data-grid] Fix scroll issues
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-column-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/row-3-to-5-selected-with-hover-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/sticky-header-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/last-cell-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-column-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-1-selected-cell-4-5-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-3-to-5-selected-with-hover-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-4-selected-after-unselect-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-7-to-3-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/sticky-header-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-column-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/row-3-to-5-selected-with-hover-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/sticky-header-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/last-cell-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-column-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-1-selected-cell-4-5-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-3-to-5-selected-with-hover-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-4-selected-after-unselect-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-7-to-3-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/sticky-header-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-column-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/row-3-to-5-selected-with-hover-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/sticky-header-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/last-cell-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/only-row-5-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-column-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/pinned-columns-with-row-selection-scroll.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-1-selected-cell-4-5-focused-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-2-and-rows-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-3-to-5-selected-with-hover-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-4-selected-after-unselect-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-4-to-8-selected.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-7-to-3-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-multiple-ranges-selected-row-selection-mode.png
  packages/terra-worklist-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/sticky-header-scroll-fix.png
  packages/terra-worklist-data-grid/tests/wdio/worklist-data-grid-spec.js
Labels: UX Review Required, :package: terra-worklist-data-grid

#1771 Terra File Path component setup
  package.json
  packages/terra-file-path/.eslintrc.js
  packages/terra-file-path/.npmignore
  packages/terra-file-path/.npmrc
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/LICENSE
  packages/terra-file-path/NOTICE
  packages/terra-file-path/README.md
  packages/terra-file-path/jest.config.js
  packages/terra-file-path/jest.enzymeSetup.js
  packages/terra-file-path/package.json
  packages/terra-file-path/src/FilePath.jsx
  packages/terra-file-path/src/FilePath.module.scss
  packages/terra-file-path/src/clinical-lowlight-theme/FilePath.module.scss
  packages/terra-file-path/src/orion-fusion-theme/FilePath.module.scss
  packages/terra-file-path/tests/jest/FilePath.test.jsx
  packages/terra-file-path/tests/jest/__snapshots__/FilePath.test.jsx.snap
  packages/terra-file-path/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/file-path-spec/placeholder.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/file-path-spec/placeholder.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/file-path-spec/placeholder.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/file-path-spec/placeholder.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/file-path-spec/placeholder.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/file-path-spec/placeholder.png
  packages/terra-file-path/tests/wdio/file-path-spec.js
  packages/terra-file-path/translations/en-US.json
  packages/terra-file-path/translations/en.json
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/file-path/About.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/file-path/ChangeLog.3.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/file-path/Examples.2/DefaultFilePath.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/file-path/Examples.2/DefaultFilePath.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/file-path/DefaultFilePath.test.jsx
Labels: 📦 terra-file-path

#1780 [terra-worklist-data-grid] Row selection AT message management
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/PinnedColumnsWithRowSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/worklist-data-grid/Examples.2/RowSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/PinnedColumnsWithRowSelection.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/worklist-data-grid/WorklistDataGridWithRowSelection.test.jsx
  packages/terra-worklist-data-grid/CHANGELOG.md
  packages/terra-worklist-data-grid/src/WorklistDataGrid.jsx
  packages/terra-worklist-data-grid/src/subcomponents/RowSelectionCell.jsx
  packages/terra-worklist-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-worklist-data-grid/translations/en-US.json
  packages/terra-worklist-data-grid/translations/en.json
Labels: :star: Accessibility Reviewed, :package: terra-worklist-data-grid

#1768 [terra-slide-group] Fix VoiceOver not announcing title of nested panel
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/package.json
  packages/terra-slide-group/src/Slide.jsx
  packages/terra-slide-group/src/SlideGroup.jsx
  packages/terra-slide-group/tests/jest/Slide.test.jsx
  packages/terra-slide-group/tests/jest/SlideGroup.test.jsx
  packages/terra-slide-group/tests/jest/__snapshots__/Slide.test.jsx.snap
  packages/terra-slide-group/tests/jest/__snapshots__/SlideGroup.test.jsx.snap
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
Labels: :package: terra-slide-group, Accessibility Review Required

#1787 Row selection focus
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/WorklistDataGrid.jsx
  packages/terra-data-grid/tests/jest/WorklistDataGrid.test.jsx
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/row-selection-header-focused-row-selection-mode.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/row-selection-header-focused-row-selection-mode.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/row-selection-header-focused-row-selection-mode.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/row-selection-header-focused-row-selection-mode.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/row-selection-header-focused-row-selection-mode.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/row-selection-header-focused-row-selection-mode.png
  packages/terra-data-grid/tests/wdio/worklist-data-grid-spec.js
Labels: :star: Functionally Reviewed, :package: terra-worklist-data-grid

#1794 Release Sept 14
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
Labels: release

#1774 [terra-date-picker] Screen reader updates for invalid dates and calendar date selection
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/DateUtil.js
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
  packages/terra-date-picker/translations/de.json
  packages/terra-date-picker/translations/en-AU.json
  packages/terra-date-picker/translations/en-CA.json
  packages/terra-date-picker/translations/en-GB.json
  packages/terra-date-picker/translations/en-US.json
  packages/terra-date-picker/translations/en.json
  packages/terra-date-picker/translations/es-ES.json
  packages/terra-date-picker/translations/es-US.json
  packages/terra-date-picker/translations/es.json
  packages/terra-date-picker/translations/fr-FR.json
  packages/terra-date-picker/translations/fr.json
  packages/terra-date-picker/translations/nl-BE.json
  packages/terra-date-picker/translations/nl.json
  packages/terra-date-picker/translations/pt-BR.json
  packages/terra-date-picker/translations/pt.json
  packages/terra-date-picker/translations/sv-SE.json
  packages/terra-date-picker/translations/sv.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/date-picker/example/DatePickerField.jsx
Labels: :package: terra-date-picker, :star: Accessibility Reviewed

#1791 Fix for Active Key Indicator.
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/AddCloseTab.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/AddCloseTabInteractive.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/AddTab.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/tabs/Tabs/AddCloseInteractiveTab.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/tabs/Tabs/AddCloseTab.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/tabs/Tabs/AddNewTabs.test.jsx
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/Tabs.jsx
Labels: :package: terra-tabs

#1796 Release 09/19
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#1792 [terra-date-time-picker] Fixes issue when time transition from DST to ST
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
Labels: :package: terra-date-time-picker

#1777 [terra-embedded-content-consumer] Update example to show how to pass inline html content to be set in the frame
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/src/EmbeddedContentConsumer.jsx
  packages/terra-embedded-content-consumer/tests/jest/EmbeddedContentConsumer.test.jsx
  packages/terra-embedded-content-consumer/tests/jest/__snapshots__/EmbeddedContentConsumer.test.jsx.snap
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/embedded-content-consumer-spec/consumer_with_srcdoc.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/embedded-content-consumer-spec/consumer_with_srcdoc.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/embedded-content-consumer-spec/consumer_with_srcdoc.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/embedded-content-consumer-spec/consumer_with_srcdoc.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/embedded-content-consumer-spec/consumer_with_srcdoc.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/embedded-content-consumer-spec/consumer_with_srcdoc.png
  packages/terra-embedded-content-consumer/tests/wdio/embedded-content-consumer-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/EmbeddedContentConsumer.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/BasicConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/BasicConsumerWithSrcDoc.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/CustomEventConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/CustomEventsConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/DataStatusConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/providers/EmbeddedContentConsumerCommon.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumerWithSrcdoc.test.jsx
Labels: :package: terra-embedded-content-consumer

#1798 [terra-collapsible-menu-view] Update examples with more meaningful controls and control labels
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/AlwaysCollapsedMenuItemsDemo.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewDemo.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewStartAligned.jsx
Labels: :package: terra-collapsible-menu-view, :star: UX Reviewed, :package: terra-framework-docs

#1790 [Terra-Collapsible-Menu-View] Adds support for multi-select group items
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItem.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItemGroup.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItem.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItemGroup.test.jsx.snap
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/CollapsibleMenuView.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/AlwaysCollapsedMenuItemsDemo.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewDemo.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewStartAligned.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/collapsible-menu-view/example/CollapsibleMenuViewWithMultiSelectItems.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/collapsible-menu-view/CollapsibleMenuMultiSelect.test.jsx
Labels: Functional Review Required, :package: terra-collapsible-menu-view

#1815 [terra-data-grid] Fix Row Selection Screen Reader Messages
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/WorklistDataGrid.jsx
  packages/terra-data-grid/src/subcomponents/RowSelectionCell.jsx
Labels: Accessibility Review Required, :package: terra-worklist-data-grid

#1776 [terra-embedded-content-consumer] Add title prop to component so that title can be easily set into the frame
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/src/EmbeddedContentConsumer.jsx
  packages/terra-embedded-content-consumer/tests/jest/EmbeddedContentConsumer.test.jsx
  packages/terra-embedded-content-consumer/tests/jest/__snapshots__/EmbeddedContentConsumer.test.jsx.snap
  packages/terra-embedded-content-consumer/tests/wdio/embedded-content-consumer-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/TestingEmbeddedContent.2.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/BasicConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/BasicConsumerWithScrolling.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/BasicConsumerWithSrcDoc.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/CustomEventConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/CustomEventsConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/embedded-content-consumer/example/DataStatusConsumer.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumer.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumerWithScrolling.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/BasicConsumerWithSrcdoc.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/CustomEventConsumer.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/CustomEventsConsumer.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/embedded-content-consumer/consumers/DataStatusConsumer.test.jsx
Labels: do not merge, :package: terra-embedded-content-consumer, :star: UX Reviewed, :star: Accessibility Reviewed

#1808 [terra-date-picker] Fix DateInput prop types
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
Labels: :package: terra-date-picker
