Repository cerner/terra-framework, pull requests merged in 2024-03, with the labels that each got.

#2045 [terra-menu] Sub menu height is restricting to the parent menu height
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/Menu.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/LargeMenuWithScroll.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/menu/example/LargeSubMenuWithScroll.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/LargeMenuWithScroll.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/LargeSubMenuWithScroll.test.jsx
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/_MenuContent.jsx
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/Large_menu_with_scroll.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/Large_sub_menu_with_scroll.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/Large_menu_with_scroll.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/Large_sub_menu_with_scroll.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/Large_menu_with_scroll.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/Large_sub_menu_with_scroll.png
  packages/terra-menu/tests/wdio/menu-spec.js
Labels: :package: terra-menu

#2057 [Date-Time-Picker] Month/Year changing redundant announcement fix
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/react-datepicker/calendar.jsx
Labels: :package: terra-date-time-picker, :star: Accessibility Reviewed

#2053 [terra-table] Allow table to have no row header
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithoutRowHeader.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithoutRowHeader.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/table/TableWithoutRowHeader.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/proptypes/validators.js
  packages/terra-table/src/subcomponents/Cell.jsx
  packages/terra-table/src/subcomponents/Row.jsx
  packages/terra-table/src/subcomponents/Section.jsx
  packages/terra-table/src/utils/constants.js
  packages/terra-table/tests/jest/Row.test.jsx
  packages/terra-table/tests/jest/Table.test.jsx
  packages/terra-table/tests/jest/__snapshots__/Row.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/table-without-row-header.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/table-without-row-header.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/table-without-row-header.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/table-without-row-header.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/table-without-row-header.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/table-without-row-header.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :package: terra-table

#2059 release-1-3-24
  package-lock.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2061 [terra-table] Rerganized Cell.jsx for easier maintenance & readability
  packages/terra-table/src/subcomponents/Cell.jsx
Labels: :package: terra-table

#2065 [terra-abstract-modal] [terra-modal-manager] Revert Focus Trap Changes
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationLayout.test.jsx.snap
  packages/terra-date-time-picker/tests/jest/__snapshots__/TimeClarification.test.jsx.snap
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal_on_tab_cycle.png
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/modal-manager/example/ModalManagerExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/notification-dialog/example/NotificationDialogInModalManager.jsx
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/tests/jest/ModalManager.test.jsx
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
Labels: :package: terra-modal-manager, :package: terra-abstract-modal

#2067 Release Mar 5th
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2064 [Terra-Date-Picker] - Fixed Time input and Date picker displays incorrectly in firefox.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.module.scss
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.module.scss
Labels: :package: terra-date-picker

#2068 [terra-abstract-modal][terra-modal-manager] Add Focus Trap
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationLayout.test.jsx.snap
  packages/terra-date-time-picker/tests/jest/__snapshots__/TimeClarification.test.jsx.snap
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal_on_tab_cycle.png
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/modal-manager/example/ModalManagerExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/notification-dialog/example/NotificationDialogInModalManager.jsx
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/tests/jest/ModalManager.test.jsx
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
Labels: :package: terra-modal-manager, :package: terra-abstract-modal

#2071 [terra-worklist-data-grid] Fixes column index out of range for displayed columns
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
Labels: :package: terra-worklist-data-grid

#2052 Added the change for props change rerender Issue
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/common-tabs/_Tabs.jsx
Labels: :package: terra-tabs

#2072 release-8-3-24
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: release

#2076 [terra-data-grid] refactor `setFocusedRowCol` method in DataGrid.jsx
  package-lock.json
  package.json
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/column-action-focus-on-resize-handle.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/column-action-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/column-action-placeholder-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/column-actions.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/column-action-focus-on-resize-handle.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/column-action-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/column-action-placeholder-focus.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/column-actions.png
Labels: :package: terra-data-grid

#2078 time input tests fix
  packages/terra-time-input/tests/wdio/time-input-spec.js
Labels: :package: terra-time-input

#2073 [compact-interactive-list] Support for menu button
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/src/subcomponents/Cell.jsx
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-featured-icon-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item-selected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-item-which-called-submenu.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-submenu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focused-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focused-hyperlink.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-featured-icon-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item-selected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-item-which-called-submenu.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-submenu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focused-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focused-hyperlink.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-featured-icon-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item-selected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-item-which-called-submenu.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-submenu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focused-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focused-hyperlink.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/compact-interactive-list-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/CellContent.7.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/CellContent.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/CellContent.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/MenuButton.jsx
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.jsx
  packages/terra-menu/src/_MenuContent.jsx
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
Labels: :package: terra-menu, 📦 terra-compact-interactive-list

#2077 [terra-data-grid] Added event object to onCellSelect callback
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/src/FlowsheetDataGrid.jsx
  packages/terra-data-grid/src/WorklistDataGrid.jsx
  packages/terra-data-grid/tests/jest/DataGrid.test.jsx
  packages/terra-data-grid/tests/jest/FlowsheetDataGrid.test.jsx
  packages/terra-data-grid/tests/jest/WorklistDataGrid.test.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/subcomponents/Cell.jsx
  packages/terra-table/src/subcomponents/Row.jsx
  packages/terra-table/src/subcomponents/Section.jsx
Labels: :package: terra-table, :package: terra-data-grid

#2082 Typo fixes in compact interactive list docs
  packages/terra-compact-interactive-list/src/CompactInteractiveList.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/About.1.doc.mdx
Labels: 📦 terra-compact-interactive-list

#2084 Release 03/14/24
  package-lock.json
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: release

#2089 Release 19-3-24
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
Labels: release

#2090 removing alpha release warning from worklist
  packages/terra-data-grid/README.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/About.2.doc.mdx
Labels: :package: terra-data-grid

#2063 [terra-navigation-side-menu] Example Update
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/example/NavigationSideMenuExample.jsx
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
Labels: :package: terra-navigation-side-menu, :star: Accessibility Reviewed

#2100 Release 03/21/24
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2087 [terra-collapsible-menu-view] Updated to compare calculated width with available width
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/after_selecting_back.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/back_button.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/close_button.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/disclosure_accessory.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/nested_disclosure_Container.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/nested_disclosure_accessory.png
  packages/terra-slide-panel-manager/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-manager-spec/slide_panel.png
Labels: :package: terra-collapsible-menu-view

#2098 [terra-menu] Fixed Whitespace issue in Large Menu
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/src/HookshotContent.jsx
  packages/terra-hookshot/src/HookshotContent.module.scss
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/Menu.jsx
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/Popup.jsx
Labels: :package: terra-menu

#2103 release-25-03-2024
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-hookshot/CHANGELOG.md
  packages/terra-hookshot/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2102 Escape auto focus
  packages/terra-data-grid/tests/wdio/data-grid-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/WorklistDataGrid.1/Examples.3/WorklistDataGridFocusableCell.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableFocusableCell.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/Cell.jsx
  packages/terra-table/tests/jest/Cell.test.jsx
  packages/terra-table/tests/jest/__snapshots__/Cell.test.jsx.snap
Labels: Functional Review Required, :package: terra-table, :package: terra-data-grid

#2095 [terra-slide-panel] Disclosing node capturing method update
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/aggregator-spec/close_from_explicit_close.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/aggregator-spec/close_from_explicit_close.png
  packages/terra-aggregator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/aggregator-spec/close_from_explicit_close.png
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/placeholder-list/PlaceholderList.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/aggregator/common/placeholder-list/PlaceholderListItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/slide-panel/SlidePanelNoMainContent.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/slide-panel/SlidePanelNoMainContent.test.module.scss
  packages/terra-slide-panel-manager/tests/jest/__snapshots__/SlidePanelManager.test.jsx.snap
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/tests/jest/SlidePanel.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: :package: terra-slide-panel

#2108 [terra-tabs]: More Button is Not Accessible using Keyboard or Mouse / Additional White Space Added
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/common-tabs/TabDropDown.module.scss
  packages/terra-tabs/src/common-tabs/_TabDropDown.jsx
Labels: :package: terra-tabs

#2107 [compact-interactive-list] Examples updated to remove redundant button announcement.
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/BasicCompactInteractiveList.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/FixedWidthColumns.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/HorizontalFlow.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/ResponsiveColumns.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/ResponsiveColumnsMaxWidth.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/ScalableUnits.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/VerticalFlow.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/WidthBreakpoints.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/Borderless.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/FixedWidthColumns.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/InconsistentWidthUnits.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ResponsiveColumns.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ResponsiveColumnsMaxWidth.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ScalableUnits.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/WidthBreakpoints.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/WidthBreakpointsHorizontalFlow.test.jsx
Labels: :package: terra-framework-docs

#2109 Release - 29/3/24
  packages/terra-aggregator/CHANGELOG.md
  packages/terra-aggregator/package.json
  packages/terra-application-header-layout/CHANGELOG.md
  packages/terra-application-header-layout/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-name/CHANGELOG.md
  packages/terra-application-name/package.json
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-layout/CHANGELOG.md
  packages/terra-layout/package.json
  packages/terra-navigation-layout/CHANGELOG.md
  packages/terra-navigation-layout/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2110 [compact interactive list ] No row headers if list has only one semantic column
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/src/CompactInteractiveList.jsx
  packages/terra-compact-interactive-list/tests/jest/CompactInteractiveList.test.jsx
Labels: 📦 terra-compact-interactive-list
