Repository cerner/terra-framework, pull requests merged in 2024-05, with the labels that each got.

#2149 Popup in compact interactive list
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-featured-icon-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item-selected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-item-which-called-submenu.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-submenu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focused-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focused-hyperlink.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/popup-closed-focus-on-cell-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/popup-closed-per-click-on-overlay.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/popup-open-focus-on-first-checkbox-selected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/popup-open-focus-on-first-checkbox-unselected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/popup-open-no-visible-focus.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-featured-icon-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item-selected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-item-which-called-submenu.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-submenu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focused-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focused-hyperlink.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/popup-closed-focus-on-cell-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/popup-closed-per-click-on-overlay.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/popup-open-focus-on-first-checkbox-unselected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/popup-open-no-visible-focus.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-featured-icon-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item-selected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-menu-item-which-called-submenu.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focus-on-submenu-first-item.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focused-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focused-hyperlink.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/popup-closed-focus-on-cell-button.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/popup-closed-per-click-on-overlay.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/popup-open-focus-on-first-checkbox-unselected.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/popup-open-no-visible-focus.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/compact-interactive-list-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/CellContent.7.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/CellContent.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/CellContent.test.jsx
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/_PopupContent.jsx
  packages/terra-popup/tests/jest/__snapshots__/Popup.test.jsx.snap
  packages/terra-popup/tests/jest/__snapshots__/PopupContent.test.jsx.snap
Labels: :package: terra-popup

#2151 Release May 1st, 2024
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2152 [terra-folder-tree] Radio button hover updated
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/src/clinical-lowlight-theme/FolderTree.module.scss
  packages/terra-folder-tree/src/orion-fusion-theme/FolderTree.module.scss
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.jsx
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.module.scss
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expand_non-selectable_item_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/hover-over-radio-button.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/hover-over-tree-item.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/non-selectable_item_mouse.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/collapsed_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/expanded_folder.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/hover-over-radio-button.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/hover-over-tree-item.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/hover-over-radio-button.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/hover-over-tree-item.png
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
Labels: :star: UX Reviewed, 📦 terra-folder-tree

#2153 [terra-folder-tree] Fix axe invalid aria attribute and 400% browser zoom
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/src/FolderTree.jsx
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/folder-tree/Examples.2/BasicFolderTree.module.scss
Labels: 📦 terra-folder-tree

#2156 [terra-modal-manager] Added zIndex prop to handle nested modals.
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationLayout.test.jsx.snap
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/modal-manager/example/ModalManagerExample.jsx
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/tests/jest/ModalManager.test.jsx
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
Labels: :package: terra-modal-manager

#2155 [terra-navigation-side-menu] selection color change
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/application_layout.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/application_layout_with_nav_icons.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/application_layout_with_no_header_content.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/application_layout_with_top_navigation_tabs.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/checks_for_closure_on_read-only_item_click.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/presents_utility_menu_from_header.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-layout-spec/application_layout_with_no_header_content.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-layout-spec/renders_primary_nav_menu_when_small.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-layout-spec/toggles_menu_when_small.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/application_layout.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/application_layout_with_nav_icons.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/application_layout_with_no_header_content.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/application_layout_with_top_navigation_tabs.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/renders_primary_nav_menu_when_small.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/application-layout-spec/application_layout_with_no_header_content.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/application-layout-spec/renders_primary_nav_menu_when_small.png
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/src/clinical-lowlight-theme/NavigationSideMenuItem.module.scss
  packages/terra-navigation-side-menu/src/orion-fusion-theme/NavigationSideMenuItem.module.scss
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/hover_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/navigation_side_menu_display_with_toolbar.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/submenu_header_focused_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
Labels: UX Review Required, :package: terra-navigation-side-menu

#2159 [terra-slide-panel] Find closest focusable element on click
  package-lock.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/slide-panel/SlidePanelMultipleButtonsToggle.test.jsx
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_with_multiple_buttons.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_with_multiple_buttons_mouse.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_with_multiple_buttons.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_with_multiple_buttons_mouse.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/end.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/fill.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/fullscreen.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/large.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/large_squish.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/multiple_panels.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/no_fill.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/overlay.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/panel_focused.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/panel_with_end_position.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/panel_with_start_position.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/small.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/squish.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/start.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/toggle_and_hidden_styles.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/toggle_button_focused.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_mouse.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_with_multiple_buttons.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/redwood-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_with_multiple_buttons_mouse.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_with_multiple_buttons.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/slide-panel-spec/toggle_button_focused_with_multiple_buttons_mouse.png
Labels: :package: terra-slide-panel

#2154 [terra-outline-view] Add icon for nav-side-menu
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/outline-view/example/DefaultOutlineView.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/outline-view/DefaultOutlineView.test.jsx
  packages/terra-navigation-side-menu/package.json
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-outline-view/src/OutlineView.jsx
  packages/terra-outline-view/src/subcomponents/OutlineViewItem.jsx
Labels: :package: terra-navigation-side-menu, :package: terra-outline-view

#2160 [terra-abstract-modal] Customise Modal span text
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/translations/de.json
  packages/terra-abstract-modal/translations/en-AU.json
  packages/terra-abstract-modal/translations/en-CA.json
  packages/terra-abstract-modal/translations/en-GB.json
  packages/terra-abstract-modal/translations/en-US.json
  packages/terra-abstract-modal/translations/en.json
  packages/terra-abstract-modal/translations/es-ES.json
  packages/terra-abstract-modal/translations/es-US.json
  packages/terra-abstract-modal/translations/es.json
  packages/terra-abstract-modal/translations/fi-FI.json
  packages/terra-abstract-modal/translations/fr-FR.json
  packages/terra-abstract-modal/translations/fr.json
  packages/terra-abstract-modal/translations/nl-BE.json
  packages/terra-abstract-modal/translations/nl.json
  packages/terra-abstract-modal/translations/pt-BR.json
  packages/terra-abstract-modal/translations/pt.json
  packages/terra-abstract-modal/translations/sv-SE.json
  packages/terra-abstract-modal/translations/sv.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/src/index.js
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/Popup.jsx
Labels: :package: terra-abstract-modal, Accessibility Review Required

#2162 Release 14/05
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2161 [terra-navigation-side-menu] Added Drill-In view variant
  package-lock.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/NavigationSideMenu.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/example/DrillInExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-side-menu/DrillIn.test.jsx
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/src/clinical-lowlight-theme/NavigationSideMenuItem.module.scss
  packages/terra-navigation-side-menu/src/constants.js
  packages/terra-navigation-side-menu/src/orion-fusion-theme/NavigationSideMenuItem.module.scss
  packages/terra-navigation-side-menu/tests/jest/NavigationSideMenu.test.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_drill-in_items_in_folder_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/hover_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/second_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/selected_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_drill-in_items_in_folder_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/hover_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/second_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/selected_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_drill-in_items_in_folder_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/hover_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/second_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/selected_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: UX Review Required, :package: terra-navigation-side-menu

#2166 [terra-navigation-side-menu] A11y changes
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/example/DrillInExample.jsx
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_drill-in_items_in_folder_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/hover_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/second_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/selected_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_drill-in_items_in_folder_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/hover_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/second_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/selected_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_drill-in_items_in_folder_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/first_drill-in_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/hover_drill-in_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/second_drill-in_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/selected_drill-in_display.png
  packages/terra-navigation-side-menu/translations/de.json
  packages/terra-navigation-side-menu/translations/en-AU.json
  packages/terra-navigation-side-menu/translations/en-CA.json
  packages/terra-navigation-side-menu/translations/en-GB.json
  packages/terra-navigation-side-menu/translations/en-US.json
  packages/terra-navigation-side-menu/translations/en.json
  packages/terra-navigation-side-menu/translations/es-ES.json
  packages/terra-navigation-side-menu/translations/es-US.json
  packages/terra-navigation-side-menu/translations/es.json
  packages/terra-navigation-side-menu/translations/fi-FI.json
  packages/terra-navigation-side-menu/translations/fi-FR.json
  packages/terra-navigation-side-menu/translations/fr-FR.json
  packages/terra-navigation-side-menu/translations/fr.json
  packages/terra-navigation-side-menu/translations/nl-BE.json
  packages/terra-navigation-side-menu/translations/nl.json
  packages/terra-navigation-side-menu/translations/pt-BR.json
  packages/terra-navigation-side-menu/translations/pt.json
  packages/terra-navigation-side-menu/translations/sv-SE.json
  packages/terra-navigation-side-menu/translations/sv.json
Labels: :package: terra-navigation-side-menu, Accessibility Review Ready

#2170 [terra-navigation-side-menu] Drill-in Custom status display, isLoading
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/example/DrillInExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-side-menu/DrillIn.test.jsx
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_data_after_loading.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_loading_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_custom_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status-view.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_data_after_loading.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_loading_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_custom_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status-view.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_data_after_loading.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_loading_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_custom_status.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status-view.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/displays_no_results_status.png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: :package: terra-navigation-side-menu
