Repository cerner/terra-framework, pull requests merged in 2024-01, with the labels that each got.

#1963 Release for January 2nd, 2024
  package-lock.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: release

#1954 [terra-date-input] Add hot keys to month select to support keyboard shortcut patterns
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-input/src/DateInput.jsx
  packages/terra-date-input/src/DateInputField.jsx
  packages/terra-date-input/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-spec/First_Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-spec/onChange_invalid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-spec/onChange_valid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/First_Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/onChange_invalid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/onChange_valid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-input-spec/First_Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-input-spec/onChange_invalid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-input-spec/onChange_valid.png
  packages/terra-date-input/tests/wdio/date-input-spec.js
  packages/terra-date-input/translations/de.json
  packages/terra-date-input/translations/en.json
  packages/terra-date-input/translations/es.json
  packages/terra-date-input/translations/fr.json
  packages/terra-date-input/translations/nl.json
  packages/terra-date-input/translations/pt.json
  packages/terra-date-input/translations/sv.json
Labels: Accessibility Review Required

#1967 [terra-folder-tree] Added tabIndex for only last focused item
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/src/FolderTree.jsx
  packages/terra-folder-tree/src/FolderTreeUtils.js
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.jsx
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
Labels: :star: UX Reviewed, 📦 terra-folder-tree

#1972 Compact interactive list test enhancements
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/src/clinical-lowlight-theme/Cell.module.scss
  packages/terra-compact-interactive-list/src/orion-fusion-theme/Cell.module.scss
  packages/terra-compact-interactive-list/src/subcomponents/Cell.jsx
  packages/terra-compact-interactive-list/src/subcomponents/Cell.module.scss
  packages/terra-compact-interactive-list/tests/jest/CompactInteractiveList.test.jsx
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focused-button-in-cell.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/selected-and-focused-cells.png
  packages/terra-compact-interactive-list/tests/wdio/compact-interactive-list-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/CellContent.6.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/CellContent.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/InconsistentWidthUnits.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ResponsiveColumns.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ResponsiveColumnsMaxWidth.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ScalableUnits.test.jsx
Labels: 📦 terra-compact-interactive-list

#1955 [Terra-Pills] Resolves issue with screen reader not identifying pill status after removing the last pill
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/pills/FilterPills.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/pills/example/AppliedFiltersExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/pills/example/BasicLabelExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/pills/example/CategoryLabelExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/pills/example/FilterPillsCommon.module.scss
  packages/terra-framework-docs/src/terra-dev-site/doc/pills/example/TruncatedLabelExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/pills/example/VisibleLabelExample.jsx
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/src/FilterPills.jsx
  packages/terra-pills/tests/jest/FilterPills.test.jsx
  packages/terra-pills/tests/jest/__snapshots__/FilterPills.test.jsx.snap
Labels: bug-fix, :star: Accessibility Reviewed, :package: terra-pills

#1965 [terra-collapsible-menu-view] Flicker issue when wrapped with clinical header
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-file-path/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/file-path-spec/add_file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/file-path-spec/file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/file-path-spec/add_file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/file-path-spec/file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/file-path-spec/add_file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/file-path-spec/file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/file-path-spec/add_file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/file-path-spec/file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/file-path-spec/add_file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/file-path-spec/file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/file-path-spec/add_file_path_with_header.png
  packages/terra-file-path/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/file-path-spec/file_path_with_header.png
  packages/terra-file-path/tests/wdio/file-path-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/file-path/FilePathwithActionHeader.test.jsx
Labels: :package: terra-collapsible-menu-view

#1976 Release for framework components 10/01/24
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
Labels: release

#1968 [terra-flowsheet-data-grid] Non Contiguous Multi Select in flowsheet data grid
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/FlowsheetDataGrid.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/flowsheet-data-grid-spec/Non_Contiguous_Cells_Selected.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-data-grid-spec/Non_Contiguous_Cells_Selected.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/flowsheet-data-grid-spec/Non_Contiguous_Cells_Selected.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-data-grid-spec/Non_Contiguous_Cells_Selected.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/flowsheet-data-grid-spec/Non_Contiguous_Cells_Selected.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-data-grid-spec/Non_Contiguous_Cells_Selected.png
  packages/terra-data-grid/tests/wdio/flowsheet-data-grid-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/CellSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/FlowsheetWithSections.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/RowSelection.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/data-grid/flowsheet-data-grid/CellSelection.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/data-grid/flowsheet-data-grid/RowSelection.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/Cell.jsx
Labels: :star: Functionally Reviewed, :package: terra-flowsheet-data-grid

#1981 Release January 12, 2024
  package-lock.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
Labels: release

#1971 terra-brand-footer - added deprecation badge and end of support notice to BrandFooter.1.doc.mdx
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/brand-footer/BrandFooter.1.doc.mdx
Labels: :package: terra-brand-footer, Doc Update, Tech Writing Review Required

#1979 [terra-theme-provider] Import terra-theme-properties package
  package-lock.json
  packages/terra-theme-provider/CHANGELOG.md
  packages/terra-theme-provider/package.json
  packages/terra-theme-provider/src/ThemeProvider.jsx
Labels: 📦 terra-theme-provider

#1988 rowHeaderIndex prop validation added
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/src/CompactInteractiveList.jsx
  packages/terra-compact-interactive-list/src/proptypes/validators.js
  packages/terra-compact-interactive-list/src/utils/constants.js
Labels: 📦 terra-compact-interactive-list

#1989 [Terra-Pills] Resolves Sass Error caused due to usage of @supports selector rule
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/src/subcomponents/Pill.module.scss
Labels: :package: terra-pills

#1993 [terra-theme-properties] Redwood focus indicator mixin
  packages/terra-theme-properties/CHANGELOG.md
  packages/terra-theme-properties/src/scss/redwood-mixins.scss
Labels: :package: terra-theme-properties

#1986 [date-time-picker] Update Screen reader response not to read visually hidden text with name attribute.
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePicker.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
Labels: :package: terra-date-picker, :star: Accessibility Reviewed

#1995 Release for Jan 22, 2024
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-theme-properties/CHANGELOG.md
  packages/terra-theme-properties/package.json
  packages/terra-theme-provider/CHANGELOG.md
  packages/terra-theme-provider/package.json
Labels: release

#1991 [terra-table] Change the default style set to cell from Height to Min-Height.
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/hover-non-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/worklist-data-grid-spec/hover-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/hover-non-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/worklist-data-grid-spec/hover-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/hover-non-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/worklist-data-grid-spec/hover-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/hover-non-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/worklist-data-grid-spec/hover-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/hover-non-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/worklist-data-grid-spec/hover-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/hover-non-selectable-cell.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/worklist-data-grid-spec/hover-selectable-cell.png
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/table/TableWithLargeData.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/Cell.jsx
  packages/terra-table/tests/jest/__snapshots__/Cell.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/table-large-text.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/table-large-text.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/table-large-text.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/table-large-text.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/table-large-text.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/table-focus-first-button.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/table-focus-input.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/table-large-text.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :package: terra-table

#2001 Release 25/01
  package-lock.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: release

#2002 [terra-compact-interactive-list] Fixed MPages page level error on cell select
  package-lock.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/src/utils/utils.js
Labels: bug-fix, 📦 terra-compact-interactive-list

#2004 Release Compact Interactive List 25/01
  package-lock.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
Labels: release

#2006 Compact interactive list converseColumns tests added
  packages/terra-compact-interactive-list/tests/jest/CompactInteractiveList.test.jsx
  packages/terra-compact-interactive-list/tests/jest/__snapshots__/CompactInteractiveList.test.jsx.snap
  packages/terra-compact-interactive-list/tests/jest/utils.test.jsx
Labels: 📦 terra-compact-interactive-list

#2007 Release compact interactive list docs and tests enhancements
  package-lock.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
Labels: release

#2010 Added terra-table to the dependencies
  package-lock.json
  package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-compact-interactive-list/src/CompactInteractiveList.jsx
  packages/terra-compact-interactive-list/src/subcomponents/Cell.jsx
  packages/terra-compact-interactive-list/src/utils/keyHandlerUtils.js
Labels: bug-fix, 📦 terra-compact-interactive-list

#2003 [terra-flowsheet data grid] Added the 'aria-label' attribute to announce the information for 'Flowsheet-Data Grid'.
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/data-grid/FlowsheetDataGrid.4/Examples.6/FlowsheetWithSections.jsx
Labels: :package: terra-flowsheet-data-grid
