Repository cerner/terra-framework, pull requests merged in 2024-02, with the labels that each got.

#2011 [terra-table] Removed margin right from non-resizable tables and exported the margin value for resizable tables
  package-lock.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/About.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/test/table/TableWithResizableColumns.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/Table.module.scss
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/resizable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/resizable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/resizable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/resizable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/resizable-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/resizable-table.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :package: terra-table

#2013 [terra-date-input] WDIO Build Failure
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-spec/onChange_invalid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-spec/onChange_valid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/decrement_year.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/increment_day_empty.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/increment_year_empty.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/onChange_invalid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/onChange_valid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-input-spec/onChange_invalid.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-input-spec/onChange_valid.png
  packages/terra-date-input/tests/wdio/date-input-spec.js
Labels: :package: terra-date-input

#2015 Release 02/01
  package-lock.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
Labels: release

#2005 [terra-folder-tree] Announce when all items are expanded or collapsed
  package-lock.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-folder-tree/src/FolderTree.jsx
  packages/terra-folder-tree/tests/jest/FolderTree.test.jsx
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
  packages/terra-folder-tree/translations/en-US.json
  packages/terra-folder-tree/translations/en.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/ExpandCollapseFolderTree.test.jsx
Labels: 📦 terra-folder-tree

#2020 Release 02/07/24
  package-lock.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-date-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-date-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/date-input-spec/Month_Selected.png
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2017 [terra-time-input] - Mode changing issue on JAWS and SR fixes
  packages/terra-date-input/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/missing_hour_with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/date-time-picker-spec/re-enter_missing_hour.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/missing_hour_with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/date-time-picker-spec/re-enter_missing_hour.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/missing_hour_with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/date-time-picker-spec/re-enter_missing_hour.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/missing_hour_with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/date-time-picker-spec/re-enter_missing_hour.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/date-time-picker-spec/missing_hour_with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/date-time-picker-spec/re-enter_missing_hour.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/date-time-picker-spec/missing_hour_with_timezone.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/date-time-picker-spec/re-enter_missing_hour.png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/src/TimeInput.module.scss
  packages/terra-time-input/src/_AccessibleInput.jsx
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-spec/does_not_accept_second_input_greater_than_59.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-spec/focus_second_styles.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/down_arrow_changes_time_to_12.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/switch_meridiem_-_down_arrow.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/switch_meridiem_-_up_arrow.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/up_arrow_changes_time_to_01.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/time-input-twelve-hour-spec/up_arrow_does_not_change_meridiem.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-spec/does_not_accept_second_input_greater_than_59.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/down_arrow_changes_time_to_12.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/switch_meridiem_-_down_arrow.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/switch_meridiem_-_up_arrow.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/up_arrow_changes_time_to_01.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/time-input-twelve-hour-spec/up_arrow_does_not_change_meridiem.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/time-input-spec/does_not_accept_second_input_greater_than_59.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/time-input-spec/focus_second_styles.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/time-input-twelve-hour-spec/down_arrow_changes_time_to_12.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/time-input-twelve-hour-spec/switch_meridiem_-_down_arrow.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/time-input-twelve-hour-spec/switch_meridiem_-_up_arrow.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/time-input-twelve-hour-spec/up_arrow_changes_time_to_01.png
  packages/terra-time-input/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/time-input-twelve-hour-spec/up_arrow_does_not_change_meridiem.png
  packages/terra-time-input/tests/wdio/time-input-spec.js
  packages/terra-time-input/tests/wdio/time-input-twelve-hour-spec.js
Labels: :package: terra-time-input, :star: Accessibility Reviewed

#2031 [terra-date-time-picker]Single field label SR announce
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DatePickerField.test.jsx.snap
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerDST.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerDefault.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerDefaultDateOnly.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerDefaultDateTime.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerExcludeDates.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerFilterDates.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerIncludeDates.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerIncomplete.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerInvalid.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerMinMax.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerTimeVariant.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerTimeZone.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerWithSeconds.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/example/DateTimePickerWithSecondsAndTimeVariant.jsx
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/translations/de.json
  packages/terra-time-input/translations/en.json
  packages/terra-time-input/translations/es.json
  packages/terra-time-input/translations/fr.json
  packages/terra-time-input/translations/nl.json
  packages/terra-time-input/translations/pt.json
  packages/terra-time-input/translations/sv.json
Labels: :package: terra-date-time-picker, Accessibility Review Required

#2014 [terra-modal manager] Implemented focus lock to confine focus within the modal popup.
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
  packages/terra-application-layout/tests/jest/__snapshots__/ApplicationLayout.test.jsx.snap
  packages/terra-date-time-picker/tests/jest/__snapshots__/TimeClarification.test.jsx.snap
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal.png
  packages/terra-dialog-modal/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/dialog-modal-spec/focused_shifted_outside_the_end_of_the_modal_on_tab_cycle.png
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/modal-manager/example/ModalManagerExample.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/notification-dialog/example/NotificationDialogInModalManager.jsx
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/src/ModalManager.jsx
  packages/terra-modal-manager/tests/jest/ModalManager.test.jsx
  packages/terra-modal-manager/tests/jest/__snapshots__/ModalManager.test.jsx.snap
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/tests/jest/__snapshots__/NotificationDialog.test.jsx.snap
Labels: :package: terra-modal-manager, Accessibility Review Required, Accessibility Review Ready

#2038 Release Feb 16
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: release

#2028 [terra-table] Added setTimeout to resizeObserver
  package-lock.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/tests/wdio/table-spec.js
Labels: :package: terra-table

#2018 [terra-navigation-side-menu] Accessibility Changes
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/example/NavigationSideMenuExample.jsx
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/MenuItem.module.scss
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/src/clinical-lowlight-theme/NavigationSideMenuItem.module.scss
  packages/terra-navigation-side-menu/src/orion-fusion-theme/NavigationSideMenuItem.module.scss
  packages/terra-navigation-side-menu/tests/jest/NavigationSideMenu.test.jsx
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: :package: terra-navigation-side-menu, Accessibility Review Required

#2044 release-22-2-24
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: release

#2046 [terra-menu] Update MenuItemGroup to retain state when isToggled prop is used
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/menu/menu/SelectableMenu.test.jsx
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItemGroup.jsx
  packages/terra-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/menu-spec/selected_item.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/menu-spec/selected_item.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/menu-spec/selected_item.png
  packages/terra-menu/tests/wdio/menu-spec.js
Labels: bug-fix, :package: terra-menu, :star: Functionally Reviewed

#2050 [terra-date-time-picker] - Fixed error reading issue in time input
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
Labels: :package: terra-date-time-picker, :star: Accessibility Reviewed

#2043 [terra-flowsheet-data-grid] Allow flowsheet sections to have sticky title
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/src/FlowsheetDataGrid.jsx
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/data-grid/flowsheet-data-grid/BoundedFlowsheetWithSections.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/subcomponents/Section.jsx
Labels: :star: UX Reviewed, :package: terra-flowsheet-data-grid

#2054 release-28-2-24
  package-lock.json
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/package.json
Labels: release

#2055 Release Feb 28, 2024 Data Grid column actions
  package-lock.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
Labels: release

#2056 check if element exists before focusing added
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/src/CompactInteractiveList.jsx
Labels: 📦 terra-compact-interactive-list
