Repository cerner/terra-framework, pull requests merged in 2024-04, with the labels that each got.

#2111 [terra-table] Enable Auto Table Layout
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/About.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/AutoLayoutDefaultTable.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/AutoLayoutTable.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/AutoLayoutTable.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/table/AutoLayoutTable.test.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/Table.module.scss
  packages/terra-table/src/proptypes/columnShape.js
  packages/terra-table/src/subcomponents/ColumnHeader.jsx
  packages/terra-table/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-table/tests/jest/ColumnHeaderCell.test.jsx
  packages/terra-table/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/auto-layout-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/auto-layout-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/auto-layout-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/auto-layout-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/auto-layout-table.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/auto-layout-table.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :star: Functionally Reviewed, :package: terra-table

#2116 [terra-table] Fix action header row sticky behavior
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/data-grid-spec/sticky-header-with-actions-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/data-grid-spec/sticky-header-with-actions-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/data-grid-spec/sticky-header-with-actions-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/data-grid-spec/sticky-header-with-actions-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/data-grid-spec/sticky-header-with-actions-scroll.png
  packages/terra-data-grid/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/data-grid-spec/sticky-header-with-actions-scroll.png
  packages/terra-data-grid/tests/wdio/data-grid-spec.js
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/ColumnHeaderCell.jsx
  packages/terra-table/tests/jest/__snapshots__/ColumnHeaderCell.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
Labels: :package: terra-table

#2118 [compact-interactive-list] Provide a meaningful name to the column with icons
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/BasicCompactInteractiveList.1.doc.mdx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/BasicCompactInteractiveList.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/CellContent.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/FixedWidthColumns.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/HorizontalFlow.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/ResponsiveColumns.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/ResponsiveColumnsMaxWidth.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/ScalableUnits.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/VerticalFlow.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/compact-interactive-list/Examples.2/WidthBreakpoints.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/Borderless.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/CellContent.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/FixedWidthColumns.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/InconsistentWidthUnits.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ResponsiveColumns.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ResponsiveColumnsMaxWidth.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/ScalableUnits.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/WidthBreakpoints.test.jsx
  packages/terra-framework-docs/src/terra-dev-site/test/compact-interactive-list/WidthBreakpointsHorizontalFlow.test.jsx
Labels: :package: terra-framework-docs

#2121 Stopped adding aria-expanded attribute to the disclosing node.
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: :package: terra-slide-panel

#2115 [terra-table] Remove Sorting from Table Sections Example
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/table/Examples/TableWithSections.jsx
Labels: :package: terra-table

#2122 Release 04/04
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-application-navigation/CHANGELOG.md
  packages/terra-application-navigation/package.json
  packages/terra-application-utility/CHANGELOG.md
  packages/terra-application-utility/package.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-dialog-modal/CHANGELOG.md
  packages/terra-dialog-modal/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-modal-manager/CHANGELOG.md
  packages/terra-modal-manager/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/package.json
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2119 Fix focus management issue when updating folder tree children
  package-lock.json
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/compact-interactive-list-spec/focused-hyperlink.png
  packages/terra-compact-interactive-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/compact-interactive-list-spec/focused-hyperlink.png
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/src/FolderTree.jsx
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/reload-focus.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/reload-focus.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/reload-focus.png
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/test/folder-tree/FolderTreeReload.test.jsx
Labels: 📦 terra-folder-tree

#2124 [date-time-picker] Updated KeyboardShortcuts doc for datetime picker
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/date-time-picker/KeyboardShortcuts.3.doc.mdx
Labels: :package: terra-date-time-picker

#2125 [terra-compact-interactive list] Fix to put focus on first item only on initial render
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/src/CompactInteractiveList.jsx
Labels: 📦 terra-compact-interactive-list

#2130 Release 10/04
  package-lock.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2135 Release 15/04
  package-lock.json
  packages/terra-application-layout/CHANGELOG.md
  packages/terra-application-layout/package.json
  packages/terra-application-links/CHANGELOG.md
  packages/terra-application-links/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
Labels: release

#2136 Headers Swedish old translations fixed
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/translations/sv-SE.json
  packages/terra-notification-dialog/translations/sv.json
Labels: :package: terra-notifcation-dialog

#2133 [terra-tabs] Vertical tabs border fix
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/VerticalTabs.jsx
  packages/terra-framework-docs/src/terra-dev-site/doc/tabs/example/common/TabExample.module.scss
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/clinical-lowlight-theme/Tabs.module.scss
  packages/terra-tabs/src/common-tabs/CommonTabs.module.scss
  packages/terra-tabs/src/common-tabs/TerraStructuralTabs.module.scss
  packages/terra-tabs/src/orion-fusion-theme/Tabs.module.scss
  packages/terra-tabs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
  packages/terra-tabs/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/tabs-spec/Keyboard_Focus_on_First_Tab.png
Labels: :package: terra-tabs, :star: UX Reviewed

#2127 [terra-collapsible-menu-view] Removes dialog role for menu and sets aria-haspopup
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItem.jsx
  packages/terra-collapsible-menu-view/tests/jest/CollapsibleMenuViewItem.test.jsx
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItem.test.jsx.snap
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/Menu.jsx
  packages/terra-menu/src/_MenuContent.jsx
  packages/terra-menu/tests/jest/__snapshots__/Menu.test.jsx.snap
Labels: :package: terra-collapsible-menu-view, Accessibility Review Required

#2138 Release 17/04
  package-lock.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-navigation-prompt/CHANGELOG.md
  packages/terra-navigation-prompt/package.json
  packages/terra-notification-dialog/CHANGELOG.md
  packages/terra-notification-dialog/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2134 [terra-table] Fix exception case for single row selection with collapsible sections
  packages/terra-framework-docs/src/terra-dev-site/test/table/TableSingleRowSelectionAndCollapsibleSections.test.jsx
  packages/terra-menu/CHANGELOG.md
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/table-spec/row-single-selection-with-collapsible-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/row-single-selection-with-collapsible-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/table-spec/row-single-selection-with-collapsible-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/row-single-selection-with-collapsible-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/table-spec/row-single-selection-with-collapsible-sections.png
  packages/terra-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/row-single-selection-with-collapsible-sections.png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :package: terra-table

#2137 [terra-folder-tree] Increase radio button click target size
  package-lock.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.jsx
  packages/terra-folder-tree/src/subcomponents/FolderTreeItem.module.scss
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/selected_outside_radio.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/selected_outside_radio.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/selected_outside_radio.png
  packages/terra-folder-tree/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/folder-tree-spec/wrapped_label_folder_tree.png
  packages/terra-folder-tree/tests/wdio/folder-tree-spec.js
Labels: 📦 terra-folder-tree

#2142 release April 18, 2024
  package-lock.json
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-compact-interactive-list/CHANGELOG.md
  packages/terra-compact-interactive-list/package.json
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/package.json
  packages/terra-date-input/CHANGELOG.md
  packages/terra-date-input/package.json
  packages/terra-file-path/CHANGELOG.md
  packages/terra-file-path/package.json
  packages/terra-folder-tree/CHANGELOG.md
  packages/terra-folder-tree/package.json
  packages/terra-form-validation/CHANGELOG.md
  packages/terra-form-validation/package.json
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-slide-panel-manager/CHANGELOG.md
  packages/terra-slide-panel-manager/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/package.json
Labels: release

#2140 [terra-date-time-picker] Fixed accessibility issue
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
Labels: :package: terra-date-time-picker, Accessibility Review Required

#2143 [terra-pills] Added debouncing for resize observer
  packages/terra-pills/CHANGELOG.md
  packages/terra-pills/src/FilterPills.jsx
Labels: :package: terra-pills

#2144 [terra-tabs] Deselection of Tab Issue
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/common-tabs/_Tabs.jsx
Labels: :package: terra-tabs

#2126 terra-navigation-side-menu : Keyboard navigation Fixes
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/application_layout.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/application_layout_with_nav_icons.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/application_layout_with_no_header_content.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/application_layout_with_top_navigation_tabs.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/checks_for_closure_on_read-only_item_click.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/application-layout-spec/presents_utility_menu_from_header.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/application-layout-spec/toggles_menu_when_small.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/application_layout.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/application_layout_with_nav_icons.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/application_layout_with_no_header_content.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/application_layout_with_top_navigation_tabs.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/checks_for_closure_on_read-only_item_click.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/application-layout-spec/presents_utility_menu_from_header.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/application-layout-spec/toggles_menu_when_small.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/application-layout-spec/application_layout.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/application-layout-spec/application_layout_with_nav_icons.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/application-layout-spec/application_layout_with_no_header_content.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/application-layout-spec/application_layout_with_top_navigation_tabs.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/application-layout-spec/checks_for_closure_on_read-only_item_click.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/application-layout-spec/presents_utility_menu_from_header.png
  packages/terra-application-layout/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/application-layout-spec/toggles_menu_when_small.png
  packages/terra-application-layout/tests/wdio/application-layout-spec.js
  packages/terra-framework-docs/CHANGELOG.md
  packages/terra-framework-docs/src/terra-dev-site/doc/navigation-side-menu/example/NavigationSideMenuExample.module.scss
  packages/terra-framework-docs/src/terra-dev-site/test/navigation-side-menu/NavigationSideMenuDocCommon.module.scss
  packages/terra-navigation-side-menu/CHANGELOG.md
  packages/terra-navigation-side-menu/src/NavigationSideMenu.jsx
  packages/terra-navigation-side-menu/src/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/_MenuItem.jsx
  packages/terra-navigation-side-menu/src/clinical-lowlight-theme/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/src/orion-fusion-theme/NavigationSideMenu.module.scss
  packages/terra-navigation-side-menu/tests/jest/__snapshots__/NavigationSideMenu.test.jsx.snap
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/hover_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/navigation_side_menu_display_with_toolbar.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/navigation-side-menu-spec/submenu_header_focused_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/hover_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/navigation_side_menu_display_with_toolbar.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/navigation-side-menu-spec/submenu_header_focused_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/first_menu_item_focused_with_left_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/hover_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/navigation_side_menu_display_with_toolbar.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/second_menu_item_focused.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/selected_navigation_side_menu_display.png
  packages/terra-navigation-side-menu/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/navigation-side-menu-spec/submenu_header_focused_with_right_arrow.png
  packages/terra-navigation-side-menu/tests/wdio/navigation-side-menu-spec.js
Labels: :package: terra-navigation-side-menu, Accessibility Review Ready

#2148 [terra-data-grid] Improve data grid auto scroll
  packages/terra-data-grid/CHANGELOG.md
  packages/terra-data-grid/src/DataGrid.jsx
  packages/terra-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-data-grid/tests/jest/__snapshots__/WorklistDataGrid.test.jsx.snap
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/ColumnHeaderCell.jsx
Labels: :package: terra-table, :package: terra-data-grid
